<%= render '/crm/common/page_head' %>

<div class="details">

  <%= render '/crm/common/customer_nav' %>

  <%= render 'search' %>

  <%= render 'store_trackings' %>

</div>

<%= render 'new_tracking' %>

<script type="text/javascript">
  function submit_search_form(){
    $('#queryForm').submit();
  }

  function hide_dialog(){
    $('.window_wrap').hide();
  }

  function show_dialog() {
    $('.window_wrap').show();
  }

  $(function(){
    $('.datepicker').datetimepicker({
      format: 'Y-m-d',
      lang: 'ch',
      timepicker: false
    });

    $(document).on('click', '.query_btn', submit_search_form);
    $(document).on('click', '.cancel_btn', hide_dialog);
    $(document).on('click', '.new_return_record', show_dialog);

  });
</script>
