<div class="main_top">
  <h2>出库</h2>
  <span class="add_span">+</span>
</div>
<div class="details">
  <div class="list_table out_storage_list">
    <div class="search_nav">
      <div class="item-query">
        <label>查找出库产品</label>
        <input id='keyword' type="text" class="width-150" placeholder="输入产品关键字">
      </div>
      <div class="item-query">
        <label>一级分类</label>
        <select id='root_category' type="text" class="width-150">
          <option value="">所有类别</option>
          <% @store.store_material_categories.super_categories.each do |category| %>
            <option value="<%= category.id %>"><%= category.name %></option>
          <% end %>
        </select>
      </div>
      <div class="item-query">
        <label>二级分类</label>
        <select id='sub_category' type="text" class="width-150">
          <option></option>
        </select>
      </div>
      <div class="item-query">
        <label>选择仓库</label>
        <select type="text" class="width-150">
          <% @store.store_depots.each do |depot|%>
            <option value="<%= depot.id %>"><%= depot.name %></option>
          <% end %>
        </select>
      </div>
      <div class="item-query">
        <a href="javascript:void(0);" class="query_btn btn">查<nbsp1></nbsp1>询</a>
      </div>
      <div class="query_div">
        <a href="#" class="in_stg_btn btn" >出库</a>
        <a href="jilu.html"  class="notes_btn">记录</a>
      </div>
    </div>
    <div class="out_storage common_storage">
      <div class="list">
        <div class="list_top list_tr">
          <ul>
            <li>#</li>
            <li>产品名称</li>
            <li>条码</li>
            <li>规格</li>
            <li>单位</li>
            <li>一级分类</li>
            <li>二级分类</li>
            <li>单价</li>
            <li>仓库数</li>
            <li>仓库位</li>
            <li>备注</li>
            <li class="twelfth_td">操作</li>
          </ul>
        </div>
        <div id='choices' class="list_contents">  </div>
      </div>
    </div>
  </div>
  <div class="out_storage_content  margin-bottom-20 common_storage_content float-left">
    <div class="out_storage_query">
      <div class="nav-item-query">
        <div class="font-20 font-borderradius text-align-center">出</div>
      </div>
      <div class="nav-item-query">
        <label>单号：</label>
        <input type="text" class="width-135" readonly value="<%= make_numero('OUT') %>">
      </div>
      <div class="nav-item-query">
        <label>时间：</label>
        <input type="text" class="width-135" readonly value="<%= Time.now.to_s(:date_only) %>">
      </div>
      <div class="nav-item-query">
        <label>操作人：</label>
        <input type="text" class="widtn-135" readonly value="<%= current_user.screen_name %>">
      </div>
      <div class="nav-item-query">
        <label>领用人：</label>
        <select  class="width-135" name='outings[]'>
          <option></option>
          <% @store.store_staff.each do |staff| %>
            <option value="<%= staff.id %>"><%= staff.screen_name %></option>
          <% end%>
        </select>
      </div>
      <div class="nav-item-query">
        <label>出库类型</label>
        <span class="in_stock_type_span click_btn " >领用出库</span>
        <ul class="in_stock_type_ul " id="in_stock_type" style="display:none;">
          <li><a href="zhuanyichuku.html">转移出库</a></li>
          <li><a href="index.html">领用出库</a></li>
          <li><a href="index.html">销售出库</a></li>
          <li><a href="index.html">赠送出库</a></li>
          <li><a href="index.html">盘亏出库</a></li>
          <li><a href="index.html">生产出库</a></li>
        </ul>
      </div>
      <div class="out_storage_print">
        <a href="#" class="print_btn btn">打<nbsp1></nbsp1>印</a>
      </div>
    </div>
    <div class="out_storage_tab common_storage_tab">
      <table cellpadding="0" cellspacing="0" id="storage_tab" class="check_order storage_tab">
        <thead>
          <tr>
            <th>#</th>
            <th>商品名称</th>
            <th>条码</th>
            <th>规格</th>
            <th>单位</th>
            <th>一级分类</th>
            <th>二级分类</th>
            <th>单价</th>
            <th>库存数</th>
            <th>出库数</th>
            <th>仓库</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="common_storage_account">
        <div class="item_content margin-left-10" >
          <label class="width-75">备注：</label>
          <textarea class="remarks_textarea"></textarea>
        </div>
        <div class="item_content  margin-left-10">
          <label class="width-75">制单人：</label>
          <label class="width-253"><%= current_user.screen_name %></label>
        </div>
      </div>
    </div>
    <div class="btn_group margin-right-40">
      <a class="edit_btn btn" href="#">编辑</a>
      <a class="save_btn btn" href="#" >确定</a>
    </div>
  </div>
</div>
<% content_for :javascripts do %>
  <script>
  jQuery(function(){
     choice_tmpl = JST['kucun/outings/new/choice'];
     chosen_tmpl = JST['kucun/outings/new/chosen'];
     materials = [];
     $("#root_category").on('change', function(){
       var id = this.value;
       $.get(`/ajax/store_material_categories/${id}/sub_categories.json`, function(data){
          $('#sub_category').html('<option>所有类别</option>')
          $('#sub_category').append(data.map(function(category){
            return `<option value=${category.id}>${category.name}</option>`;
          }).join(''));
       });
     });

     $('.query_btn').on('click', function(){
        var keyword = $('#keyword').val().trim();
        $.get(`/ajax/store_materials.json?name=${keyword}`, function(data){
          var html = data.map(function(material){return choice_tmpl(material);}).join('');
          $('#choices').html(html);
          materials = data.slice();
        });
     });

     $('#choices').on('change', 'input:checkbox', function(){
        if(this.checked){
          material_id = this.dataset.id;
          material = materials.filter(function(m){return m.id == material_id})[0];
          $('#storage_tab > tbody').append(chosen_tmpl(material));
        }else{
          material_id = this.dataset.id;
          $('#storage_tab > tbody > tr[data-id="' + material_id + '"]').remove()
        }
     });

  });
  </script>
<% end %>
