<% url = '/kucun/materials'
  url = materials_kucun_depot_path(@store_depot.id) if params[:store_depot_id].present? && @store_depot.present?
%>

<%= form_tag url, id: 'material_search', method: 'GET' do %>
<div class="item-query">
  <label>查找产品</label>
  <input class="width-150" name="keyword" placeholder="输入产品关键字" type="text" value="<%= params[:keyword] %>">
</div>
<div class="item-query">
  <label>一级分类</label>
  <select id='root_category' type="text" class="width-150" name='root_category_id'>
    <option value=""></option>
    <% @store.store_material_categories.super_categories.each do |category| %>
      <option <%= 'selected="selected"' if category.id == params[:root_category_id].to_i %> value="<%= category.id %>"><%= category.name %></option>
    <% end %>
  </select>
</div>
<div class="item-query">
  <label>二级分类</label>
  <select id='sub_category' type="text" class="width-150" name='category_id'>
    <option></option>
    <% if @root_category.present? %>
      <% @root_category.sub_categories.each do |category| %>
        <option <%= 'selected="selected"' if category.id == params[:category_id].to_i %> value="<%= category.id %>"><%= category.name %></option>
      <% end %>
    <% end %>
  </select>
</div>
<div class="item-query">
  <label>选择仓库</label>
  <select id='materials_kucun_depot' class="width-150" type="text" name="store_depot_id">
    <%= options_from_collection_for_select(@store.store_depots, :id, :name, params[:store_depot_id]) %>
  </select>
  <input class="btn query_btn" type="submit" value="查  询" />
</div>
<% end %>
