<div class="main_top">
  <%= breadcrumb_navigation(['库存', @store_depot.name, '商品列表']) %>
</div>
<div class="details">

  <div class="list_table">
    <div class="search_nav">
      <%= render partial: 'kucun/partials/material_search' %>
      <div class="query_div">
        <a class="new_btn btn" href="<%= new_kucun_material_path %>">新建商品</a>
      </div>
    </div>
    <table id='materials' cellpadding="0" cellspacing="0" class="index_list materials">
      <thead>
        <tr>
          <th>#</th>
          <th>商品名称</th>
          <th>商品条形码</th>
          <th>一级分类</th>
          <th>二级分类</th>
          <th>规格</th>
          <th>单位</th>
          <th>成本价</th>
          <th>库存数</th>
          <th>备注</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @inventories.each_with_index do |inventory, idx| %>
        <% material = inventory.store_material %>
        <tr>
          <td class="number"><%= idx + 1 %></td>
          <td title="<%= material.name %>"><a href="<%= kucun_material_path(material) %>"><%= material.name.truncate(11) %></a></td>
          <td><%= material.barcode %></td>
          <td><%= material.store_material_root_category.try(:name) %></td>
          <td><%= material.store_material_category.try(:name) %></td>
          <td><%= material.speci %></td>
          <td><%= material.store_material_unit.try(:name) %></td>
          <td><%= material.cost_price %></td>
          <td><%= inventory.quantity %></td>
          <td><%= material.remark %></td>
          <td><a href='<%= kucun_material_path(material) %>' class="operate_icon"><i class="fa fa-file-text-o "></i></a></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
