<div class="orders">
  <div class="order_head">
    <div class="font-borderradius text-align-center font-20 display-inline-block">订</div>
    <div class="item">
      <label for="">供应商:</label>
      <span><%= @material_order.store_supplier.name %></span>
    </div>
    <div class="item">
      <label for="">时间:</label>
      <span><%= @material_order.created_at.strftime("%Y-%m-%d") %></span>
    </div>
    <div class="item">
      <label for="">单号:</label>
      <span><%= @material_order.numero %></span>
    </div>
    <div class="display-inline-block">
      <a href="#" class="print_btn btn">打印</a>
    </div>
  </div>

  <table class="order_tab">
    <thead>
      <tr>
        <th>#</th>
        <th>商品名称</th>
        <th>条码</th>
        <th>规格</th>
        <th>单位</th>
        <th>一级分类</th>
        <th>二级分类></th>
        <th>单价</th>
        <th>数量</th>
        <th>小计</th>
        <th>仓库</th>
        <th>备注</th>
      </tr>
    </thead>

    <tbody>
      <% @material_order.items.each.with_index(1) do |item, index| %>
      <tr>
        <td><%= index %></td>
        <td><%= item.store_material.name %></td>
        <td><%= item.store_material.barcode %></td>
        <td><%= item.store_material.speci %></td>
        <td><%= item.store_material.store_material_unit.try(:name) %></td>
        <td><%= item.store_material.store_material_root_category.try(:name) %></td>
        <td><%= item.store_material.store_material_category.try(:name) %></td>
        <td><%= item.price %></td>
        <td><%= item.quantity %></td>
        <td><%= item.amount %></td>
        <td></td>
        <td><%= item.remark %></td>
      </tr>
    <% end %>
    </tbody>

    <tfoot>
      <tr>
        <td></td>
        <td>合计：</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= @material_order.quantity %></td>
        <td><%= @material_order.amount %></td>
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>

  <div class="order_accout">
    <div class="item">
      <label class="width-75  item-label">备注：</label>
      <textarea class="remarks_textarea" disabled><%= @material_order.remark %></textarea>
    </div>

    <% @material_order.payments.each do |payment| %>
      <div class="item margin-right-20">
        <label class="width-75  item-label">本次付款：</label>
        <input type="text" value="<%= @material_order.amount %>" class="width-253" id="payment_amount" disabled>
      </div>
      <div class="item margin-right-20">
        <label class="width-75  item-label">结算账户：</label>
        <%= select_tag :settlement_account, options_for_select(current_store.store_settlement_accounts.collect {|sc| [sc.name, sc.id] }, payment.store_settlement_account.id), class: "width-253", id: "settlement_account", disabled: true %>
      </div>
      <div class="item margin-right-20">
        <label class="width-75  item-label">本次欠款：</label>
        <input type="text" name="name" value="<%= payment.order_balance %>" disabled class="width-253 order-balance">
      </div>
    <% end %>
    <div class="item">
      <label class="width-75 item-label">制单人：</label>
      <span class="width-253 item-span"><%= @material_order.creator.screen_name %></span>
    </div>
  </div>

  <div class="btn_group margin-right-20">
    <a href="#" class="cancel_btn btn">取消</a>
    <% unless @material_order.withdrawaled? %>
      <%= link_to "核销", "#", class: "save_btn btn", id: "confirm_btn"%>
    <% end %>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(function(){
    var balance = $(".order-balance");

    $(".cancel_btn").click(function(){
      $(".orders").hide();
    });

    $("#payment_amount").change(function(){
      var diff = ($(this).val() - <%= @material_order.amount %>).toFixed(2);
      balance.val(diff);
    })

    $("#confirm_btn").click(function(){
      var amount = $("#payment_amount").val(),
          account = $("#settlement_account").val();

      var url = "/ais/material_orders/" + "<%= @material_order.id %>"
        $.ajax({
          url: url,
          method: 'patch',
          data: {payment_amount: amount, account_id: account, order_balance: balance.val()},
          success: function(){
            $(".orders").hide();
          },
          error: function(){
            console.log('error');
          }
        })
    })
  })
</script>
