<div class="page_head main_top">
  <span class="font-24 margin-right-15">往来</span>
  <select class="width-90">
    <option value="option">应付账款</option>
    <option value="option">应收账款</option>
  </select>
</div>

<div class="details">
  <div class="list_table">
    <div class="search_nav">
      <form>
        <div class="item-query">
          <label for="">日期</label>
          <select class="width-100" >
            <option></option>
          </select>
          <select class="width-100" >
            <option></option>
          </select>
        </div>

        <div class="item-query">
          <label for="">模糊查询</label>
          <input type="text" value="" class="width-165">
        </div>

        <div class="item-query">
          <label for="">供应商类别</label>
          <select class="width-100" >
            <option>全部</option>
          </select>
          <select class="width-100" >
            <option>全部</option>
          </select>
        </div>

        <div class="item-query">
          <input type="button" value="查询" class="btn query_btn do_search_result">
        </div>

        <div class="query_div">
          <a href="#" class="print_btn btn">打印</a>
          <a href="#" class="export_btn btn">导出</a>
        </div>
      </form>
    </div>
    <table class="accounts_payable_tab index_list">
      <thead>
        <tr>
          <th>#</th>
          <th>供应商</th>
          <th>
            <div class="sequence">
              订货日期
              <i class="fa fa-sort-desc"></i>
            </div>
          </th>
          <th>单号</th>
          <th>订货人</th>
          <th>订单金额</th>
          <th>已经付</th>
          <th>
            <div class="sequence">
              余额
              <i class="fa fa-sort-desc"></i>
            </div>
          </th>
          <th>备注</th>
          <th>入库状态</th>
          <th>核销人</th>
          <th>核销时间</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <% @material_orders.each.with_index(1) do |order, index|%>
        <tr>
          <td><%= index %>.</td>
          <td><%= order.store_supplier.name %></td>
          <td><%= order.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= order.numero %></td>
          <td><%= order.creator.full_name %></td>
          <td><%= order.amount %></td>
          <td><%= order.paid_amount %></td>
          <td><%= order.amount - order.paid_amount%></td>
          <td><%= order.remark %></td>
          <td><%= order.process_status_cn %></td>
          <td><% order.withdrawaler.try(:full_name) %></td>
          <td><%= order.withdrawal_at.strftime("%Y-%m-%d") if order.withdrawaled? %></td>
          <td>
            <% if order.withdrawaled? %>
              <%= link_to "详情", ais_material_order_path(order), remote: true %>
            <% else %>
              <%= link_to "核销", ais_material_order_path(order), class: "cancellation_btn", remote: true %>
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="material_order_info">
</div>
