<div class="details_nav">
  <ul>
    <li class='<%= "active" if params[:controller] == "xiaoshou" %>'>
      <a href="/xiaoshou/main#store_customers/<%= @customer.store_customer_entity_id %>" class="width-90">信息</a>
    </li>

    <li class='<%= "active" if params[:controller] == "crm/store_assets" %>'>
      <%= link_to '资产', crm_store_customer_store_assets_path(@customer), class: 'width-90' %>
    </li>
    <li class='<%= "active" if params[:controller] == "crm/store_repayments" %>'>
      <%= link_to '账户', crm_store_customer_store_repayments_path(@customer), class: 'width-90' %>
    </li>
    <li class='<%= "active" if params[:controller] == "crm/store_vehicles" || params[:controller] == "crm/vehicle_conditions" || params[:controller] == "crm/vehicle_services" %>'>
      <%= link_to '车辆档案', @customer.first_vehicle_id.present? ? crm_store_customer_store_vehicle_path(@customer, @customer.first_vehicle_id) : new_crm_store_customer_store_vehicle_path(@customer),
      class: 'width-90' %>
    </li>
    <li class='<%= "active" if params[:controller] == "crm/expense_records" %>'>
      <%= link_to '消费记录', crm_store_customer_expense_records_path(@customer), class: 'width-90' %>
    </li>
    <li class='<%= "active" if params[:controller] == "crm/store_trackings" %>'>
      <%= link_to '回访记录', crm_store_customer_store_trackings_path(@customer), class: 'width-90' %>
    </li>
    <li class='<%= "active" if params[:controller] == "crm/complaints" %>'>
      <%= link_to '投诉记录', crm_store_customer_complaints_path(@customer), class: "width-90" %>
    </li>
  </ul>
</div>
