<ul class="achives_top">
  <li>业绩 TOP</li>
  <% if @top_saler.present? %>
    <li><%= @top_saler.screen_name %></li>
    <li><%= @top_saler.sales_quantity %>单</li>
    <li><%= @top_saler.sales_amount %></li>
  <% end %>
</ul>

<ul class="material_top">
  <li>商品 TOP</li>
  <% if @top_material.present? %>
    <li><%= @top_material.name %></li>
    <li><%= @top_material.store_order_items.by_month.total_quantities %>件</li>
    <li><%= @top_material.store_order_items.by_month.total_amount %></li>
  <% end %>
</ul>

<ul class="service_top">
  <li>服务 TOP</li>
  <% if @top_service.present? %>
    <li><%= @top_service.name %></li>
    <li><%= @top_service.store_order_items.by_month.total_quantities %>次</li>
    <li><%= @top_service.store_order_items.by_month.total_amount %></li>
  <% end %>
</ul>

<ul class="package_top">
  <li>套餐 TOP</li>
  <% if @top_package.present? %>
    <li><%= @top_package.name %></li>
    <li><%= @top_package.store_order_items.by_month.total_quantities %>次</li>
    <li><%= @top_package.store_order_items.by_month.total_amount %></li>
  <% end %>
</ul>
