<div class="page_head main_top">
  <span class="font-18 margin-right-15">销售分析</span>

  <select class="width-90" onchange="self.location.pathname=options[selectedIndex].value">
    <option value="<%= sas_sells_path %>">图形分析</option>
    <option value="<%= report_sas_sells_path %>">报表</option>
  </select>

</div>

<div class="details sales_analysis">

  <%= render "sells_summarize_month" %>
  <div class="details_content">

    <div class="graphs">

      <div class="bar_chart">
        <div id="half_year_barchart" class="half_year_barchart"  style="height:320px;width:720px;"></div>
        <div id="year_on_year_barchart" class="year_on_year_barchart"  style="height:320px;width:720px;"></div>
      </div>

      <div class="pie_chart">
        <div id="payment_piechart" class="payment_piechart"  style="height:300px;width:320px;"></div>
        <div id="sales_piechart" class="sales_piechart"  style="height:300px;width:320px;"></div>
      </div>
    </div>

    <%= render "achievement_rank" %>

  </div>

</div>

<% content_for :javascripts do %>
  <script>
    jQuery(function($){
      $('select.sort-by').on('change', function(){
        var optionSelected = $("option:selected", this),
          valueSelected = this.value;

        $.get("/api/sas/stores/<%= current_store.id %>/sale_top?type="+valueSelected, function(){
        })
      })

      Sells.initialize("<%= current_store.id %>");
    });
  </script>
<% end %>
