<h3 class="color-fff">创建流程</h3>
<table class="float-left" border="0">
  <tbody>
  <tr>
    <td>流程名称：</td>
    <td></td>
    <td colspan="5">
      <input type="text" name="process_name" value="<%= workflow.name %>" style="width:99.7%;" readonly="">
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td colspan="5"></td>
  </tr>
  <tr>
    <td>施工时间：</td>
    <td></td>
    <td>缓冲时间
      <input type="text" name="prepare_time" value="<%= workflow.buffering_time %>" readonly="">分钟
    </td>
    <td colspan="3">标准时间
      <input type="text" name="routine_time" value="<%= workflow.standard_time %>" readonly="">分钟
    </td>
    <td class="text-align-right">正负
      <input type="text" name="plus_minus_time" value="<%= workflow.factor_time %>" readonly="">分钟
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td colspan="5">允许加时
      <input type="radio" name="delay_allowed" disabled="">
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td colspan="5"></td>
  </tr>
  <tr>
    <td>技师设置：</td>
    <td></td>
    <td>数量设置
      <input type="text" name="the_number_of_mechanics" value="<%= workflow.engineer_count if workflow.engineer_count_enable %>" readonly="">
    </td>
    <td colspan="4">数量不限
      <input type="radio" name="unlimited_mechanics" <%= 'checked' unless workflow.engineer_count_enable %> class="discontrol" disabled="">
      <label>上岗方式</label>
      自动 <input type="radio" name="sign_method_in_process" <%= 'checked' if workflow.auto_position? %> disabled="">
      <label class="app">APP</label>
      <input type="radio" name="sign_method_in_process" <%= 'checked' if workflow.position_with_app? %> disabled="">
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td colspan="5">级别限定
      <select disabled="">
        <option></option>
        <% workflow.engineer_levels.each do |l| %>
          <option <%= 'selected' if workflow.engineer_level_name == l %>><%= l %></option>
        <% end %>
      </select>
      以上
    </td>
  </tr>
  <tr>
    <td>工位设置：</td>
    <td></td>
    <td>指定工位
      <input type="radio" name="station" <%= 'checked' if workflow.nominated_workstation %> disabled="">
    </td>
    <td colspan="4">
      系统自动分配
      <input type="radio" name="station" <%= 'checked' unless workflow.nominated_workstation %> disabled="">
    </td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td colspan="5" rowspan="3">
      <div>
        <ul style="<%= 'display: none;' unless workflow.nominated_workstation %>">
          <% workflow.store_workstations.each do |w| %>
            <li>
              <%= w.name %>
              <input type="checkbox" disabled <%= 'checked' if workflow.workstations.split(',').include?(w.id.to_s) %>>
            </li>
          <% end %>
        </ul>
      </div>
    </td>
  </tr>

  <tr>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
  </tr>

  <tr>
    <td></td>
    <td></td>
    <td colspan="5"></td>
  </tr>
  <tr>
    <td>技师提成：</td>
    <td></td>
    <td>提成方案
      <select disabled="">
        <option></option>
        <% workflow.commissions.each do |t| %>
          <option <%= 'selected' if workflow.engineer_commission_template_id == t.id %>><%= t.name %></option>
        <% end %>
      </select>
    </td>
    <td colspan="2"></td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
</table>

<div class="tips float-right">
  <h4 class="text-align-center">提示</h4>
  <p>
  在这里可以按您的需要将一个服务精细划分成多个流程，或者工序来进行施工操作，对该项服务实行精确管理。
  流程设置可以应用在多种服务上，尤其是需要多工种共同完成一种服务。
  </p>
</div>

<div class="btns float-left">
  <input type="button" class="cancel_btn btn do_close_process_create hideForm" value="取消" id="do_cancel_new_list">
  <input type="button" class="save_btn btn hideForm" value="保存" id="do_save_new_list">
</div>
