<% type = "StoreAttendence" %>
<div class="main_top">
  <h2>考勤奖惩</h2>
  <a class="back_to_list" href="index.html">
    <i class="fa-arrow-circle-left  fa" ></i>
    返回列表
  </a>
</div>

<div class="details">
  <%= render "/soa/shared/top_info" %>

  <div class="details_content attendance_reward_punishment">
    <ul class="option_nav">
      <li><label>考勤<input type="radio" name="options" checked></label></li>
      <li><label>奖励<input type="radio" name="options"></label></li>
      <li><label>惩戒<input type="radio" name="options"></label></li>
    </ul>

    <div class="forms">
      <p>考勤单</p>
      <p style="display:none;">奖励单</p>
      <p style="display:none;">惩戒单</p>

      <table>
        <thead>
          <tr>
            <th>姓名</th>
            <th><%= @staff.screen_name %></th>
            <th>部门</th>
            <th><%= @staff.store_department.try(:name) %></th>
            <th>职务</th>
            <th><%= @staff.store_position.try(:name) %></th>
          </tr>
        </thead>
        <tbody class="attendance">
          <%= form_for @event, url: soa_events_path(staff_id: params[:id])  do |form| %>
            <%= form.hidden_field :type, value: type %>
            <tr>
              <th rowspan="2">考勤科目</th>
              <td colspan="5">
                <%= form.collection_radio_buttons :sort, StoreEvent::SORT[type.to_sym], :first, :first %>
              </td>
            </tr>
            <tr>
              <td colspan="5" class="text-align-center">
                <%= form.label :start_on, "起" %>
                <%= form.date_field :start_on, class: "width-122 margin-right-10" %>
                <%= form.label :end_on, "止" %>
                <%= form.date_field :end_on, class: "width-122 margin-right-30" %>
                <label>共计</label> <input type="text" class="width-50"><nbsp1></nbsp1>天
              </td>
            </tr>
            <tr class="reward-penalty-sort">
              <th >时间2</th>
              <td colspan="2" class="text-indent-20"><%= form.date_field :occur_on %></td>
              <th class="address">地点</th>
              <td colspan="2" class="text-indent-20"><%= form.text_field :occur_at %></td>
            </tr>
            <tr class="reward-penalty-sort">
              <th>性质</th>
              <td colspan="5" class="text-indent-20">
                <%= form.collection_radio_buttons :sort, StoreEvent::SORT[type.to_sym], :first, :first %>
              </td>
            </tr>
            <tr>
              <th>描述</th>
              <td colspan="5">
                <!-- <textarea rows="10"></textarea> -->
                <%= form.text_area :description, rows: 10 %>
                <div class="text-align-right">
                  <label>制表：</label><span class="margin-right-20"><%= current_staff.screen_name %></span>
                  <label>日期：</label><span class="margin-right-20"><%= Date.today.strftime("%Y/%m/%d") %></span>
                </div>
              </td>
            </tr>
            <tr>
              <th>处理</th>
              <td colspan="5">
                <ul>
                  <%= form.fields_for :operate do |operate_fields| %>
                    <li><span><%= type == "StoreReward" ? "奖励" : "扣款" %></span> <%= operate_fields.text_field :amount %> 元</li>
                    <li>
                      <span class="vertical-align-top">其他</span>
                      <%= operate_fields.text_area :other, rows: 6, cols: 60%>
                    </li>
                  <% end %>
                </ul>
              </td>
            </tr>
            <div class="btn_group">
              <%= form.submit "保存", class: "btn save_btn"%>
            </div>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $(".reward-penalty-sort").hide();
  })
</script>
