<% operate = {
  StoreAttendence: "扣款",
  StoreReward: "奖励",
  StorePenalty: "扣款",
  StoreOvertime: "奖励",
}%>
<div class="main_top">
  <h2>考勤奖惩</h2>
  <a class="back_to_list" href="/soa/events">
    <i class="fa-arrow-circle-left  fa" ></i>
    返回列表
  </a>
</div>

<div class="details">
  <%= render "/soa/shared/top_info" %>

  <div class="details_content reward_record">
    <%= render "/soa/shared/record_search" %>

    <table class="record">
      <thead>
        <tr>
          <th>
            <label class="cursor-pointer date width-200">日期 <i class="fa fa-sort-down"></i></label>
          </th>
          <th>考勤事由</th>
          <th>描述</th>
          <th>处理</th>
          <th>
            <label class="cursor-pointer reward_money width-100">金额 <i class="fa fa-sort-down"></i></label>
          </th>
          <th>查看</th>
        </tr>
      </thead>

      <tbody>
        <% @events.each do |event| %>
          <tr>
            <td>
              <label class="width-120"><%= event.created_at.strftime("%Y/%m/%d") %></label>
              <label><%= event.created_at.strftime("%I:%M%p") %></label>
            </td>
            <td><%= event.sort %></td>
            <td class="descript"> <%= event.description %> </td>
            <td class="dealing"> 
              <label class='width-80 text-align-left'><%= operate[event.type.to_sym]  %> </label>
              <label> <%= event.operate["other"] %> </label>
            </td>
            <td><%= event.operate["amount"] %></td>
            <td><%= link_to "详情", detail_soa_event_path(event), remote: true, class: "record_details" %></td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"></td>
        </tr>
      </tfoot>
    </table>
    <div class="for-render-detail-pop-area">
    </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
</script>
