<div class="main_top">
  <%= breadcrumb_navigation(['库存', '商品', '记录'], "/kucun/materials/") %>
</div>

<div class="details">
  <div class="details_nav"><%= render partial: 'kucun/materials/material_settings_url' %></div>
  <div class="details_content">
    <table cellpadding="0" cellspacing="0" class="sales_notes_top_tab">
      <colgroup>
        <col width="19%">
        <col width="9%">
        <col width="9%">
        <col width="12.5%">
        <col width="13%">
        <col width="12.5%">
        <col width="10%">
        <col width="15%">
      </colgroup>
      <tbody>
        <tr>
          <td><label class="float-left">商品名称</label></td>
          <td><label class="float-left">零售价</label></td>
          <td><label class="float-left">会员价</label></td>
          <td class="border-bottom-d1d1d1"><label class="float-left">商品积分</label> <span><%= @material_saleinfo.try(:point) %></span></td>
          <td class="border-bottom-d1d1d1"><label class="float-left">销售分类</label><span><%= @material_saleinfo.try(:sale_category).try(:name) %></span></td>
          <td class="border-bottom-d1d1d1"><label class="float-left">计量单位</label><span><%= @material_saleinfo.try(:divide_unit_type) %></span></td>
          <td class="border-bottom-d1d1d1"><label class="float-left"></label><span></span></td>
          <td><label class="float-left"></label><span></span></td>
        </tr>
        <tr>
          <td><span class="font-18 "><%= @store_material.try(:name) %></span></td>
          <td><span class="float-left"><%= @material_saleinfo.try(:retail_price) %></span></td>
          <td><span class="float-left"></span></td>
          <td><label class="float-left"></label><span></span></td>
          <td><label class="float-left">销售方式</label><% if @material_saleinfo.try(:divide_to_retail) %><span>拆分销售</span><% else %> <span>整件销售</span> <% end %></td>
          <td><label class="float-left"></label><span></span></td>
          <td><label class="float-left"></label><span></span></td>
          <td><label class="float-left"></label><span></span></td>
        </tr>
      </tbody>
    </table>

    <div class="salesnotes_list" id="salesnotes_list">
      <div class="list">
        <div class="list_tr list_top">
          <ul>
            <li>#</li>
            <li>销售日期</li>
            <li>订单号</li>
            <li>零售价</li>
            <li>成交价</li>
            <li>数量</li>
            <li>小计</li>
            <li class="eightth_td">成本</li>
            <li class="ninth_td">毛利</li>
            <li class="tenth_td">操作</li>
          </ul>
        </div>

        <% @order_items.each_with_index do |item, idx|%>
         <% need_check = item.divide_to_retail && !item.divide_cost_checked %>
          <div class="list_tr list_content">
            <ul>
              <li><%= idx + 1 %>.</li>
              <li><%= item.store_order.created_at.to_s(:date_with_short_time) %></li>
              <li><%= item.store_order.numero  %></li>
              <li><%= item.retail_price %></li>
              <li><%= item.price %></li>
              <li><%= item.quantity %></li>
              <li><%= item.amount %></li>
              <li class="eightth_td <%='color-FF2929' if need_check %>">
                <%= item.cost_price %><% if need_check %>(待核实)<% end %>
              </li>
              <li class="ninth_td <%='color-FF2929' if need_check %>">
                <%= item.gross_profit %><% if need_check %>(待核实)<% end %>
              </li>
              <li>
                <a href="<%= printer_pos_order_path(item.store_order) %>" target='_blank' class="detailsbtn cursor">详情</a>
                <% if need_check %>
                <a href="javascript:void(0);" data-url='/kucun/materials/<%= @store_material.id %>/material_sales' data-checkdata='<%= item.to_cost_check_json.to_json %>' class="color-73ACD4 cost_btn js-heshi">核实成本</a>
                <% end %>
              </li>
            </ul>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

<% content_for :scenes do %>
<div class="pop_box2 pop_box" id="pop_box2" style="display:none;"></div>
<% end %>

<% content_for :javascripts do %>
<script>
  jQuery(function($){
    var tmpl = JST["kucun/material_sales/heshi/new"];
    var $item_dom = null;
    $('#salesnotes_list').on('click', '.js-heshi', function(){
      var cost_price_per_unit = 23.43;
      var actual_volume = 12;
      var item = $(this).data('checkdata')
      item.action_url = $(this).data('url');
      $item_dom = $(this.parentElement.parentElement);
      $("#pop_box2").html(tmpl(item)).show();
    });

    $('#pop_box2').on('input', '.actual_volume', function(){
      $('#pop_box2 .total_cost').html(this.value * this.dataset.cost);
    });

    $('#pop_box2').on('click', '.js-cancel', function(){
      $('#pop_box2').hide();
    });

    $('#pop_box2').on('submit', 'form', function(evt){
      evt.preventDefault()
      $('#pop_box2').hide();
      var form_data = $(this).serializeJSON();
      $.post(this.action, form_data, function(response, status_str, xhr){
        var total_cost = (response.actual_volume_per_bill * response.cost_price);
        var gross_profit = response.amount - total_cost;
        $item_dom.find('.eightth_td').html(total_cost).removeClass('color-FF2929');
        $item_dom.find('.ninth_td').html(gross_profit).removeClass('color-FF2929');
        $item_dom.find('.js-heshi').remove();
      }).error(function(){
        ZhanchuangAlert('网络错误，请重试');
      });
    });

  })
</script>
<% end %>
