<div class="main_top">
  <h2>员工列表</h2>
</div>

<div class="details">
  <div class="list_table">
    <div class="search_nav">
      <%= form_tag '/soa/staff/', method: 'GET' do %>
      <div class="item-query">
        <label>查找员工</label>
        <input type="text" class="width-150" placeholder="输入姓名、手机号码查找" name='keyword' value="<%= params[:keyword] %>">
      </div>
      <div class="item-query">
        <label>职务属性</label>
        <select type="text" class="width-150" name='job_type_id'>
          <option value="">全部</option>
          <%= options_from_collection_for_select(JobType.collection, 'id', 'name', params[:job_type_id]) %>
        </select>
      </div>
      <div class="item-query">
        <label>按职称</label>
        <select type="text" class="width-150" name="level_type_id">
          <option value="">全部</option>
          <%= options_from_collection_for_select(StoreStaffLevel.collection, 'id', 'name', params[:level_type_id]) %>
        </select>
      </div>
      <div class="item-query">
         <input type="submit" class="btn query_btn" value="查  询">
      </div>
      <% end %>
      <div class="query_div">
        <a href="/soa/staff/new" class="new_btn btn">新建</a>
      </div>
    </div>
    <table cellpadding="0" cellspacing="0" class="index_list yuangong_index_lists">
      <thead>
        <tr>
          <th class="border-right-0"></th>
          <th >员工姓名</th>
          <th >员工号</th>
          <th>职务属性</th>
          <th >部门</th>
          <th >职务</th>
          <th>等级</th>
          <th>合同</th>
          <th >状态</th>
          <th>社保</th>
          <th>工龄</th>
          <th>业绩</th>
          <th>提成</th>
          <th>考核</th>
          <th>奖励</th>
          <th> 操作</th>
        </tr>
      </thead>
      <tbody>
        <% @staffs.each_with_index do |staff, idx|%>
        <tr>
          <td class="number"><%= idx + 1 %></td>
          <td><a href="<%= soa_staff_path(staff) %>"><%= staff.screen_name %></a></td>
          <td><%= staff.numero %></td>
          <td><%= staff.job_type.try :name %></td>
          <td><%= staff.store_department.try(:name) %></td>
          <td><%= staff.store_position.try(:name) %></td>
          <td><%= StoreStaffLevel.find(staff.level_type_id).try(:name) %></td>
          <td><%= staff.contract_status %> </td>
          <td><%= staff.terminated? ? "离职" : "在职" %></td>
          <td><%= staff.insurence_enabled? ? '是' : '否' %></td>
          <td><%= staff.working_age %>年</td>
          <td><%= staff.items_amount_total %></td>
          <td><%= staff.commission_amount_total %></td>
          <td><%= staff.store_events.total_pay_of_type_per_month + staff.store_events.total_pay_of_type_per_month("StorePenalty") %> </td>
          <td><%= staff.store_events.total_pay_of_type_per_month("StoreReward") + staff.store_events.total_pay_of_type_per_month("StoreOvertime")%></td>
          <td><%= link_to '详情', soa_staff_path(staff)%></td>
        </tr>
        <% end %>
      </tbody>
      <tbody class="no_search_result" style="display:none;">
        <tr>
          <td class="font-16" colspan="16">
            <i class="fa fa-info-circle font-34 margin-right-8"></i>
            很抱歉，没有找到与此相关联的员工，或者没有该员工，请核实后再进行操作
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
