<div class="main_top">
  <h2>员工详情</h2>
  <%= render '/soa/shared/return' %>
</div>

<div class="details">

  <%= render "/soa/shared/top_info" %>

  <div class="details_content employee_basic_info">
    <div class="photo_info">
      <div class="photo width-197">

      </div>
    </div>

    <div class="info">
      <div class="basic_info">
        <div class="title">
          <h2>基本信息</h2>
        </div>

        <div class="item">
          <label for="">姓</label> <span class="show_content width-56"><%= @staff.last_name%></span>
          <label for="" class="width-24">名</label> <span class="show_content width-76"><%= @staff.first_name%></span>
        </div>

        <div class="item gender">
          <label for="">性别</label>
          <span>
            <label><input type="radio" name="employee[gender]" value="male" <%= 'checked' if @employee.gender == 'male' %>  disabled>男</label>
            <label><input type="radio" name="employee[gender]"  value="female" <%= 'checked' if @employee.gender == 'female' %> disabled>女</label>
          </span>
        </div>

        <div class="item">
          <label for="">手机号</label>
          <span class="show_content"><%= @employee.phone_number%></span>
        </div>

        <div class="id item">
          <label for="">身份证号</label>
          <span class="show_content"><%= @employee.identity_card%></span>
        </div>

        <div class="item">
          <label for="">工种</label>
          <span class="show_content"><%= @staff.job_type.try :name %></span>
        </div>

        <div class="level item">
          <label for="">职称</label>
          <span class="show_content"><%= @staff.level_type.try :name %></span>
        </div>

        <div class="department item">
          <label for="">部门</label>
          <span class="show_content"><%= @staff.store_department.try :name%></span>
        </div>

        <div class="item">
          <label for="">职位</label>
          <span class="show_content"><%= @staff.store_position.try :name%></span>
        </div>

        <div class="item">
          <label for="">入职时间</label>
          <span class="show_content"><%= @staff.employeed_at.try(:to_s, :date_only)%></span>
        </div>

        <div class="item">
          <label>档案状态</label>
          <span class="show_content"></span>
        </div>

        <div class="item">
          <label for="">离职时间</label>
          <span class="show_content"><%= @staff.terminated_at.try(:to_s, :date_only)%></span>
        </div>

        <div class="item">
          <label for="">离职原因</label>
          <span class="show_content"><%= @staff.reason_for_leave%></span>
        </div>

      </div>

    <div class="other_info">
      <div class="title">
        <h2>其他信息</h2>
      </div>

      <div class="birth item">
        <label for="">出生日期</label>
        <span class="show_content"><%= @employee.birthday.try(:strftime,"%Y-%m-%d")%></span>
      </div>

      <div class="item">
        <label for="">出生地</label>
        <span class="show_content"></span>
      </div>

      <div class="item">
        <label for="">籍贯</label>
        <span class="show_content"><%= @employee.native_place%></span>
      </div>

      <div class="item">
        <label for="">民族</label>
        <span class="show_content"></span>
      </div>

      <div class="item">
        <label for="">户籍类型</label>
        <span class="show_content"><%= @employee.census_register%></span>
      </div>

      <div class="item">
        <label for="">学历</label>
        <span class="show_content"><%= @employee.education%></span>
      </div>

      <div class="item">
        <label for="">专业</label>
        <span class="show_content"></span>
      </div>

      <div class="item">
        <label for="">政治面貌</label>
        <span class="show_content"><%= @employee.polity%></span>
      </div>

      <div class="address item">
        <label for="">户籍地址</label>
        <span class="show_content"><%= @employee.census_register_address%></span>
      </div>

      <div class="home_address item">
        <label for="">现住地址</label>
        <span class="show_content"><%= @employee.address%></span>
      </div>

      <div class="item">
        <label for="">邮箱</label>
        <span class="show_content"><%= @employee.mailbox%></span>
      </div>

      <div class="item">
        <label for="">QQ</label>
        <span class="show_content"></span>
      </div>

      <div class="item">
        <label for="">其他联系方式</label>
        <span class="show_content width-443"></span>
      </div>

      <div class="item">
        <label for="">紧急联系人</label>
        <span class="show_content"></span>
      </div>

      <div class="item">
        <label for="">联系电话</label>
        <span class="show_content"><%= @employee.contact_one_phone_number%></span>
      </div>

      <div class="item">
        <label for="">联系人2</label>
        <span class="show_content"><%= @employee.contact_two%></span>
      </div>

      <div class="item">
        <label for="">联系电话</label>
        <span class="show_content"><%= @employee.contact_two_phone_number%></span>
      </div>

      <div class="height item">
        <label for="">身高</label>
        <span class="show_content"><%= @employee.height%></span>
        <label class="height">cm</label>
      </div>

      <div class="weight item">
        <label for="">体重</label>
        <span class="show_content"><%= @employee.weight%></span>
        <label class="weight">kg</label>
      </div>

      <div class="item">
        <label for="">血型</label>
        <span class="show_content"></span>
      </div>

      <div class="item">
        <label for="">健康状况</label>
        <span class="show_content"></span>
      </div>

      <div class="remark item">
        <label for="">备注</label>
        <span class="show_content"><%= @employee.remark%></span>
      </div>

    </div>
    <div class="btn_group ">
      <a href="<%= edit_soa_staff_path(@staff)%>" class="edit_btn btn margin-none">编辑</a>
    </div>
  </div>

</div>
