<div class="items_car_service_records">
  <table class="item_car_service_record  ">
    <tbody>
      <tr>
        <td><%= order_counter + 1 %></td>
        <td><%= order.created_at.strftime('%Y-%m-%d') %></td>
        <td><%= order.numero %></td>
        <td><%= order.creator.full_name %></td>
        <td>
          <%= render 'items', order: order %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="get_order text-align-center ">
  <%= link_to '查看单据', printer_pos_order_path(order), target: '_blank', class: 'order_btn' %>
</div>
