<div class="main_top">
  <%= breadcrumb_navigation(['库存', '盘点', '盘点历史']) %>
</div>
<div class="details">
  <div class="details_nav">
    <ul>
      <li><a href="/kucun/physical_inventories/new" class="width-90">系统库存</a></li>
      <li><a href="/kucun/physical_inventories/review?store_depot_id=<%=params[:store_depot_id]%>" class="width-90">盘点单据</a></li>
      <li class="bg-color-fff"><a href="/kucun/physical_inventories" class="width-90">历史记录</a></li>
    </ul>
  </div>
  <div class="details_nav_second padding-top-10">
    <%= form_tag '/kucun/physical_inventories', method: 'GET' do %>
    <div class="item-query float-left">
     <label>日期</label>
     <input type="month" name='month' class="width-165" value="<%=params[:month]%>">
    </div>
    <div class="item-query float-left margin-left-30">
     <label>仓库</label>
     <select name='store_depot_id' class="width-90">
       <option value="">选择仓库</option>
       <%= options_from_collection_for_select(@store.store_depots, :id, :name, params[:store_depot_id]) %>
     </select>
     <input type="submit" class="query_btn btn" value="查找">
    </div>
    <% end %>
  </div>
  <% if @physicals.blank? %>
    <div>没有查找到相关记录!</div>
  <% end %>
  <% @physicals.each do |physical| %>
  <div class="check_notes">
    <div class="check_notes_tab">
      <dl>
        <dd>仓库名称</dd>
        <dd><%= physical.store_depot.name %></dd>
      </dl>
      <dl>
        <dd>盘点日期</dd>
        <dd><%= physical.created_at.to_s(:date_only)%></dd>
      </dl>
       <dl>
        <dd>核销日期</dd>
        <dd><%= physical.updated_at.to_s(:date_only) %></dd>
      </dl>

      <dl>
        <dd>已盘点商品</dd>
        <dd><%= physical.checked_count %></dd>
      </dl>
      <dl>
        <dd>未盘点商品</dd>
        <dd><%= physical.unchecked_count %></dd>
      </dl>
      <dl>
        <dd>操作人</dd>
        <dd><%= physical.creator.screen_name %></dd>
      </dl>
      <dl>
        <dd>是否核销</dd>
        <dd>
          <% if physical.pending? %>
            否 <a href="/kucun/physical_inventories/review?store_depot_id=<%= physical.store_depot_id %>">去核销</a>
          <% else %>
            是
          <% end %>
        </dd>
      </dl>
      <dl>
        <dd><a href="<%= excel_kucun_physical_inventory_path(physical) %>" class="export_btn btn">导出</a></dd>
      </dl>
    </div>
  </div>
  <% end %>

</div>
