<% content_for :pre_assets do %>
  <%= javascript_include_tag 'kucun' %>
<% end %>
<div class="main_top">
  <h2>盘点</h2>
  <span class="add_span">+</span>
</div>
<div class="details">
  <div class="details_nav">
    <ul>
      <li class="bg-color-fff"><a href="javascript:void(0);" class="width-90">系统库存</a></li>
      <li><a href="" class="width-90">盘点单据</a></li>
      <li><a href="" class="width-90">历史记录</a></li>
    </ul>
  </div>
  <div class="details_nav_second border-none padding-top-10">
    <%= form_tag '/kucun/physical_inventories/new', method: 'GET', id: 'new_form' do %>
    <div class="item-query float-left margin-left-20">
      <select required=true name='store_depot_id' class="width-90">
        <option value="">选择仓库</option>
        <%= options_from_collection_for_select(@store.store_depots, :id, :name, params[:store_depot_id]) %>
      </select>
    </div>
    <div class="item-query float-left margin-left-20 zero_inventory">
      <label><input name='nz' <%= 'checked' if params[:nz] %> type="checkbox">不显示零库存</label>
    </div>
    <% end %>
    <div class="item-query float-left margin-left-20">
      <input type="submit" class='btn query_btn' form="new_form" value="查询"/>
      <a href="javascript:void(0)" class="generated_tab_btn btn">生成盘点单据</a>
    </div>
  </div>
  <div class="container_list">
    <div class="top_content check_content">
      <div class="list_table">
        <%= form_tag '/kucun/physical_inventories', id: 'new_physical' do %>
        <table cellpadding="0" cellspacing="0" class="index_list check_list_table" id='physical_inventories'>
          <thead>
            <tr>
              <th style="border-right:0px;">#</th>
              <th>商品名称</th>
              <th>商品条码</th>
              <th>一级分类</th>
              <th>二级分类</th>
              <th>规格</th>
              <th>单位</th>
              <th>库存数</th>
              <th>盘点数</th>
              <th>盘盈盘亏</th>
              <th>仓库</th>
            </tr>
          </thead>
          <tbody>
            <% @inventories.each_with_index do |inventory, idx| %>
            <tr>
              <td class="number"><%= idx + 1 %></td>
              <td title="<%= inventory.store_material.name %>"><%= inventory.store_material.name.truncate(11) %></td>
              <td><%= inventory.store_material.barcode %></td>
              <td><%= inventory.store_material.store_material_root_category.name %></td>
              <td><%= inventory.store_material.store_material_category.name %></td>
              <td><%= inventory.store_material.speci %></td>
              <td><%= inventory.store_material.store_material_unit.name %></td>
              <td><%= inventory.quantity %> <input type="hidden" name="store_physical_inventories[items][][inventory]" value="<%= inventory.quantity %>"></td>
              <td class="padding-0"><input num int un type="text" min=0 name='store_physical_inventories[items][][physical]' class="width-110"></td>
              <td><span class="diff"></span></td>
              <td class="warehouse">仓库1</td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% content_for :javascripts do%>
  <script>
    jQuery(function($){
      $('a.generated_tab_btn').on('click', function(){
        var $form = $("#new_physical");
        $form.submit();
      });

      $('#physical_inventories').on("change", 'input[name$="[physical]"]', function(){
        console.log(this);
      });
    });
  </script>
<% end %>
