<div class="main_top">
  <%= breadcrumb_navigation(['库存', '盘点', '盘点单审核']) %>
</div>
<div class="details">
  <div class="details_nav">
    <ul>
      <li><a href="/kucun/physical_inventories/new?store_depot_id=<%=params[:store_depot_id]%>" class="width-90">系统库存</a></li>
      <li class="bg-color-fff"><a href="/kucun/physical_inventories/review?store_depot_id=<%=params[:store_depot_id]%>" class="width-90">盘点单据</a></li>
      <li><a href="/kucun/physical_inventories/" class="width-90">历史记录</a></li>
    </ul>
  </div>
  <div class="details_nav_second border-right-0 padding-top-10">
    <%= form_tag '/kucun/physical_inventories/review', id: 'query_form', method: 'GET' do %>
    <div class="item-query float-left">
      <label>仓库</label>
      <select class="width-90" name="store_depot_id">
        <option>选择仓库</option>
        <%= options_from_collection_for_select(@store.store_depots, :id, :name, @physical.try(:store_depot_id)||params[:store_depot_id]) %>
      </select>
    </div>

    <div class="item-query float-left margin-left-20">
      <label>盈亏</label>
      <select class="width-90" name="diff">
        <option value="">全部</option>
        <%= options_for_select([['盘盈', 1],['盘亏', -1]], params[:diff]) %>
      </select>
    </div>

    <div class="item-query float-left margin-left-20">
      <label>处理</label>
      <select class="width-90" name="status">
        <option value="">全部</option>
        <%= options_for_select([['未处理', 0],['已处理', 1]], params[:status]) %>
      </select>
    </div>
    <% end %>
    <div class="item-query float-left margin-left-20">
      <input type="submit" class='btn query_btn' form="query_form" value="查询"/>
      <a href="javascript:void(0)" id='loss_btn' class="single_shortage_btn btn disabled">盘亏单</a>
      <a href="javascript:void(0)" id='profit_btn' class="overage_single_btn btn disabled">盘盈单</a>
    </div>
  </div>
    <div class=" check_content">
      <div class="list_table">
        <table id='physical_items' cellpadding="0" cellspacing="0" class="index_list inventory_list">
          <thead>
            <tr>
              <th class="border-right-0" >#</th>
              <th class="border-right-0">
                <% if params[:diff].present? %>
                <input type="checkbox" class="float-left" id="all_checked">
                <% end %>
              </th>
              <th>商品名称</th>
              <th>商品条码</th>
              <th>一级分类</th>
              <th>二级分类</th>
              <th>规格</th>
              <th>单位</th>
              <th>库存数</th>
              <th>盘点数</th>
              <th>盘盈盘亏</th>
              <th>备注</th>
            </tr>
          </thead>
          <tbody>
            <% if params[:store_depot_id].blank? %>
              <tr>
                <td colspan="12">
                  请选择仓库进行查询。
                </td>
              </tr>
            <% end %>
            <% if @physical_count.present? %>
              <tr>
                <td colspan="12">
                  此仓库有<%= @inventory_count %>种类商品，已经盘点 <%= @physical_count %>， 剩余 <%= @inventory_count - @physical_count %>；
                </td>
              </tr>
            <% end %>
            <% if @physical.present? %>
              <% @physical.items.status_is(params[:status]).diff_is(params[:diff]).order('id asc').each_with_index do |item, idx| %>
              <%
                 diff_class= if item.diff > 0
                      'profit'
                    elsif item.diff < 0
                      'loss'
                    else
                      ''
                    end
               %>
              <tr class="<%= (item.diff != 0 && item.status == 0) ? 'unapplied' : 'breakeven' %>">
                <td class="number"><%= idx + 1 %></td>
                <td class="border-right-0">
                  <% if item.diff != 0 && item.status == 0 %>
                  <input data-item="<%= json_for(item, root:false) %>" class='check <%= diff_class %>' data-id="<%= item.id %>" type="checkbox">
                  <% end %>
                </td>
                <td title="<%= item.store_material.name %>"><%= item.store_material.name.truncate(11) %></td>
                <td><%= item.store_material.barcode %></td>
                <td><%= item.store_material.store_material_root_category.name %></td>
                <td><%= item.store_material.store_material_category.name %></td>
                <td><%= item.store_material.speci %></td>
                <td><%= item.store_material.store_material_unit.name %></td>
                <td><%= item.inventory %></td>
                <td><%= item.physical %></td>
                <td><span class="diff <%= diff_class %>"> <%= item.diff %></span></td>
                <td><%= item.remark %></td>
              </tr>
              <% end %>
            <% elsif params[:store_depot_id].present? %>
              <tr>
                <td colspan="12">
                  此仓库本月还没有盘点，请先盘点 <a class='color-0669B7' href="/kucun/physical_inventories/new?store_depot_id=<%= @physical.try(:store_depot_id)||params[:store_depot_id] %>">去盘点</a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <div class="btn_group">
    <% if @physical.present? %>
    <%= form_tag checked_kucun_physical_inventory_path(@physical), id: 'check_physical' do %>
    <span>注意： 商品全部盘点完成才能核销！若月底没有核销，系统将自动核销。</span>
    <input type="submit" class="save_btn btn <%= 'disabled' unless  @inventory_count == @physical_count  %>" <%= 'disabled' unless  @inventory_count == @physical_count  %> value="核销盘点">
    <% end %>
    <% end %>
  </div>
</div>

<% if @physical.present? %>
<% content_for :scenes do %>
<div id='loss_pop' class="popup_box do_popup_show do_out_show" style="display:none">
  <%= form_tag '/kucun/physical_inventories/loss_report' do %>
  <input type="hidden" name="store_depot_id" value="<%= @physical.store_depot_id %>">
  <input type="hidden" name="physical_id" value="<%= @physical.id %>">
  <div class="out_storage_content the_warehouse_verification common_storage_content">
    <div class="out_storage_query">
      <div class="nav-item-query">
        <div class="font-20 font-borderradius text-align-center">出</div>
      </div>
      <div class="nav-item-query">
        <label>单号：</label>
        <input type="text" class="width-135" readonly>
      </div>
      <div class="nav-item-query">
        <label>时间：</label>
        <input type="text" class="width-135" readonly>
      </div>
      <div class="nav-item-query">
        <label>仓库：</label>
        <input type="text" class="widtn-135" readonly value="<%= @physical.store_depot.name %>">
      </div>
      <div class="nav-item-query">
        <label>出库类型</label>
        <select class="width-135" name="outing[outing_type_id]" >
          <% OutingType.name_in(["盈亏出库", '销售出库', '赠送出库', '生产出库']).each do |opt| %>
            <option <%= 'selected' if opt.name == '盈亏出库' %> value="<%= opt.id %>"><%= opt.name %></option>
          <% end %>
        </select>
      </div>
      <div class="out_storage_print">
        <a href="#" class="print_btn btn">打<nbsp1></nbsp1>印</a>
      </div>
    </div>
    <div class="out_storage_tab common_storage_tab">
      <table cellpadding="0" cellspacing="0" class=" storage_tab" id="out_storage">
        <thead>
          <tr>
            <th>#</th>
            <th>商品名称</th>
            <th>条码</th>
            <th>规格</th>
            <th>单位</th>
            <th>一级分类</th>
            <th>二级分类</th>
            <th>库存数</th>
            <th>出库数</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="common_storage_account">
        <div class="item_content margin-left-10" >
          <label class="width-75 vertical-align-top">备注：</label>
          <textarea name='outing[remark]' class="remarks_textarea"></textarea>
        </div>
        <div class="item_content margin-left-10 float-left">
          <label class="width-75">制单人：</label>
          <label class="width-253"><%= current_staff.screen_name %></label>
        </div>
      </div>
    </div>

    <div class="btn_group margin-right-40">
      <a class="cancel_btn btn" href="javascript:void(0)" >取消</a>
      <input type="submit" value="确定" class="save_btn btn do_save_btn"/>
    </div>
  </div>
  <% end %>
</div>

<div id='profit_pop' class="popup_box do_popup_show do_in_show" style="display:none">
  <%= form_tag '/kucun/physical_inventories/profit_report' do %>
  <input type="hidden" name="store_depot_id" value="<%= @physical.store_depot_id %>">
  <input type="hidden" name="physical_id" value="<%= @physical.id %>">
  <div class="in_storage_content common_storage_content  the_warehouse_verification do_in_show">
    <div class="in_storage_query">
      <div class="nav-item-query">
        <div class="font-20 font-borderradius text-align-center">入</div>
      </div>
      <div class="nav-item-query">
        <label>时间：</label>
        <input type="text" class="width-135" readonly>
      </div>
      <div class="nav-item-query">
        <label>仓库：</label>
        <input type="text" class="widtn-135" readonly value="<%= @physical.store_depot.name %>">
      </div>
      <div class="in_storage_print">
        <a href="#" class="print_btn">打&nbsp;&nbsp;&nbsp;印</a>
      </div>
    </div>
    <div class="in_storage_tab common_storage_tab">
      <table cellpadding="0" cellspacing="0" class="storage_tab" id="in_storage" >
        <thead>
          <tr class="bg-color-e0e2cf color-282726">
            <th>#</th>
            <th>商品名称</th>
            <th>条码</th>
            <th>规格</th>
            <th>单位</th>
            <th>一级分类</th>
            <th>二级分类</th>
            <th>入库数量</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="common_storage_account">
        <div class="item_content margin-left-10" >
          <label class="width-75 vertical-align-top">备注：</label>
          <textarea name='checkin[remark]' class="remarks_textarea"></textarea>
        </div>
        <div class="item_content  margin-left-10 float-left">
          <label class="width-75">制单人：</label>
          <label class="width-253"><%= current_staff.screen_name %></label>
        </div>
      </div>
    </div>

    <div class="btn_group">
      <a class="cancel_btn btn" href="javascript:void(0)">取消</a>
      <input type="submit" class='warehousing_btn btn do_save_btn' value="入 库"/>
    </div>
  </div>
  <% end %>
</div>
<% end %>
<% end %>
<% content_for :javascripts do %>
  <script>
    jQuery(function($){
      var loss_tmpl = JST['kucun/physical_inventories/review/loss'];
      var profit_tmpl = JST['kucun/physical_inventories/review/profit'];
      function checked_call(){
        if(this.classList.contains('profit')){
          if(!$('#profit_btn').hasClass('disabled')){return false;}
          $("#physical_items").find('input.loss').attr('disabled', true);
          $('#profit_btn').removeClass('disabled');
        }else if(this.classList.contains('loss')){
          if(!$('#loss_btn').hasClass('disabled')){return false;}
          $("#physical_items").find('input.profit').attr('disabled', true);
          $('#loss_btn').removeClass('disabled');
        }
      }

      function unchecked_call(){
        if(this.classList.contains('profit')){
          if($("#physical_items").find('input.profit').toArray().every(function(input){return !input.checked})){
            $("#physical_items").find('input.loss').removeAttr('disabled');
            $('#profit_btn').addClass('disabled');
          }
        }else if(this.classList.contains('loss')){
          if($("#physical_items").find('input.loss').toArray().every(function(input){return !input.checked})){
            $("#physical_items").find('input.profit').removeAttr('disabled');
            $('#loss_btn').addClass('disabled');
          }
        }
      }

      $("#physical_items").on("click", 'input.check', function(){
        if(this.checked){
          checked_call.apply(this);
        }else{
          unchecked_call.apply(this);
        }
      });

      $("#loss_btn").on("click", function(){
        if(this.classList.contains("disabled")){return false;}
        $("#loss_pop").show();

        var html = $('input.loss:checked').map(function(idx, input){
          var data = $(this).data('item');
          data.store_material.idx = idx + 1;
          data.store_material.store_depot_id = data.store_depot_id;
          data.store_material.store_inventory_id = data.store_inventory_id;
          data.store_material.inventory = data.inventory;
          data.store_material.diff = data.diff;
          data.store_material.item_id = data.id;
          data.store_material.remark = data.remark;
          return loss_tmpl(data.store_material);
        }).toArray();
        $("#out_storage > tbody").html(html.join(''));
      });

      $("#profit_btn").on("click", function(){
        if(this.classList.contains("disabled")){return false;}
        $("#profit_pop").show();

        var html = $('input.profit:checked').map(function(idx, input){
          var data = $(this).data('item');
          data.store_material.idx = idx + 1;
          data.store_material.store_depot_id = data.store_depot_id;
          data.store_material.store_inventory_id = data.store_inventory_id;
          data.store_material.inventory = data.inventory;
          data.store_material.diff = data.diff;
          data.store_material.item_id = data.id;
          data.store_material.remark = data.remark;
          return profit_tmpl(data.store_material);
        }).toArray();
        $("#in_storage > tbody").html(html.join(''));
      });

      $('#check_physical').on('submit', function(evt){
        if($('#physical_items input.check').length > 0){
          evt.preventDefault();
          ZhanchuangAlert('还有未核实的项目，请先核实后再保存');
          return false;
        }
      });

      $('.popup_box').on('click', '.cancel_btn', function(){
        $('.popup_box').hide();
      })
    });
  </script>
<% end %>
