<%= form_tag("/soa/setting/#{@staff.id}/adjust", method: "patch", remote: true) do -%>
  <div class="contract_signing_wrap">
    <div class="contract_signing_window">
      <h3>合同续签单</h3>
      <div class="content">
        <table>
          <tbody>
            <tr>
              <td>姓名</td>
              <td><span class="width-132 show_content">王海林</span></td>
              <td>员工编号</td>
              <td><span class="width-132 show_content">YG20110078</span></td>
              <td>部门</td>
              <td><span class="width-132 show_content">美容组</span></td>
              <td>职务</td>
              <td><span class="width-132 show_content">美容技师</span></td>
            </tr>
            <tr>
              <td>所属门店</td>
              <td><span class="width-132 show_content">杭州车夫会养车会所</span></td>
              <td>入职时间</td>
              <td><span class="width-132 show_content">2011-07-08</span></td>
              <td>工龄</td>
              <td><span class="width-132 show_content">4</span></td>
              <td>职称</td>
              <td><span class="width-132 show_content">高级技师</span></td>
            </tr>
            <tr>
              <td>试用薪</td>
              <td><span class="width-132 show_content">3,000.00</span></td>
              <td>正式薪</td>
              <td><span class="width-132 show_content">3,500.00</span></td>
              <td>合同期</td>
              <td><span class="width-132 show_content">12个月</span></td>
              <td>状态</td>
              <td><span class="width-132 show_content">到期</span></td>
            </tr>
          </tbody>
        </table>

        <%= fields_for :protocols do |protocol_fields| %>
          <%= render "second_protocol_form", form: protocol_fields, type: "StoreQianDingHeTong" %>
        <% end %>

        <div class="btn_groups">
          <%= link_to "取消", "#", class: "btn cancel_btn", data: {from: "contract_signing_wrap"} %>
          <%= submit_tag "保存", class: "btn save_btn margin-right-20" %>
        </div>

      </div>
    </div>
  </div>
<% end %>
