<%= content_for :pre_assets do %>
  <%= stylesheet_link_tag "/stylesheets/kehu.css" %>
<% end %>
<div class="content" id="content">
        <div class="main_top margin-left-0">
  <h2>客户列表</h2>
  <span class="margin-left-20 font-16 main_top_span">客户详情</span>
  <a class="back_to_list" href="index.html">
  <i class="fa-arrow-circle-left  fa"></i>
  返回列表
</a>

</div>
<div class="details">


<div class="details_nav">
	<ul>
		<li id="kehushow" class=""><a href="/mis/kehu/kehuliebiao/kehushow.html?kehushow" class="width-90">信息</a></li>
		<li id="zichanzhanghu"><a href="/mis/kehu/kehuliebiao/zichanzhanghu.html?zichanzhanghu" class="width-90 ">资产账户</a></li>
		<li id="cheliangdangan"><a href="/mis/kehu/kehuliebiao/cheliangdangan/show.html?cheliangdangan" class="width-90">车辆档案</a></li>
		<li id="xiaofeijilu" class="active"><a href="/mis/kehu/kehuliebiao/xiaofeijilu.html?xiaofeijilu" class="width-90">消费记录</a></li>
		<li id="huifangjilu"><a href="/mis/kehu/kehuliebiao/huifangjilu.html?huifangjilu" class="width-90">回访记录</a></li>
		<li id="yixiang"><a href="/mis/kehu/kehuliebiao/yixiangchanpin.html?yixiang" class="width-90 ">意向产品</a></li>
		<li id="tousu"><a href="/mis/kehu/kehuliebiao/tousu.html?tousu" class="width-90">投诉记录</a></li>
		<li id="manyidu"><a href="/mis/kehu/kehuliebiao/manyidu.html?manyidu" class="width-90">满意度</a></li>
	</ul>
</div>

<%= search_form_for @q, url: crm_store_customer_expense_records_path, class: 'search navbar-form' do |f| -%>
  <div class="nav_query_wrap">
    <div class="nav-item-query">
      <label>选择车辆</label>
      <select class="width-120" name="q[store_vehicle_id_eq]">
        <option value="" >全部车辆</option>
        <% @customer.plates.each do |plate| %>
          <option value="<%= plate.id%>" > <%= plate.license_number %> </option>
        <% end %>
      </select>
    </div>

    <div class="nav-item-query">
      <label>选择时间</label>
      <input type="date" class="width-120" name="q[created_at_gt]">
      <input type="date" class="width-120" name="q[created_at_lt]">
    </div>

    <div class="nav-item-query">
      <%= f.submit '查  询', class: 'btn query_btn' %>
    </div>
  </div>
<% end -%>





  <div class="details_content car_content">
    <div class="base_info">
      <div class="car_list">
        <dl>
          <dt>#</dt>
          <dt>时间</dt>
          <dt>业务单号</dt>
          <dt>开单</dt>
          <dt>施工</dt>
          <dt>项目&amp;产品</dt>
          <dt>单价</dt>
          <dt>数量</dt>
          <dt>优惠</dt>
          <dt>小计</dt>
          <dt>操作</dt>
        </dl>
        <div class="car_sercice_record">
          <% @orders.each_with_index do |order,i|  %>
          <div class="item_car_service_record_wrapper">
            <div class="items_car_service_records">
              <table class="item_car_service_record ">
                <tbody>
                  <tr>
                    <td> <%= i+1 %> </td>
                    <td> <%= order.created_at.strftime("%Y-%m-%d") %> </td>
                    <td> <%= order.numero %> </td>
                    <td> <%= order.creator.full_name %> </td>
                    <td>
                      <table cellpadding="0" cellspacing="0" class="item_construction">
                        <tbody>
                          <% order.items.each do |item|  %>
                          <tr>
                            <td><label> <%= item.creator.full_name %> </label></td>
                            <td> <%= item.orderable.name %> </td>
                            <td> <%= item.price %> </td>
                            <td> <%= item.quantity %> </td>
                            <td>0</td>
                            <td> <%= item.amount %> </td>
                          </tr>
                          <% end %>

                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="6">
                      <label class="width-50">合计:</label>
                      <label class="width-100"> <%= order.items.inject(0){|total,item| total+ item.amount }%> </label>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <dl class="get_order text-align-center ">
              <dd><a href="/mis/xiaoshou/fuwu/jilu.html" target="_blank" class="order_btn">查看单据</a></dd>
              <dd> <%= link_to '投诉', 'javascript:void(0)', class: 'complaints_btn btn do_complaints',id: 'tousu',
              data: { order: order.id, customer: @customer.id } %> </dd>
            </dl>
          </div>

          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="window_wrap" style="display: none;">

    <div class="complaints_records_wrap">
  	<h2>投诉事件记录</h2>
  	<ul class="top">
  		<li>
  			<label>日期:</label>
  			<span> <%= Time.now.strftime("%Y-%m-%d") %> </span>
  		</li>
  	</ul>
  	<div class="complaints_records">
  		<dl class="client_base_info">
  	    <dd>客户名称</dd>
  			<dd> <%= @customer.full_name %> </dd>
  			<dd>联系方式</dd>
  			<dd> <%= @customer.phone_number %> </dd>
  			<dd>车牌号</dd>
  			<dd class="dd-vehicle"></dd>
  			<dd>订单号</dd>
  			<dd class="dd-order-numero"></dd>
  		</dl>
  		<dl class="client_type">
  	    <dd>投诉类别</dd>
  			<dd>
  	      <label>服务<input name="complain[detail][category]" type="checkbox" value="1"></label>
  				<label>质量<input name="complain[detail][category]" type="checkbox" value="2"></label>
  				<label>环境<input name="complain[detail][category]" type="checkbox" value="3"></label>
  				<label>其他<input name="complain[detail][category]" type="checkbox" value="4"></label>
  			</dd>
  			<dd>投诉渠道</dd>
  			<dd>
  				<label>电话<input name="complain[detail][manner]" type="checkbox"></label>
  				<label>现场<input name="complain[detail][manner]" type="checkbox"></label>
  				<label>微信<input name="complain[detail][manner]" type="checkbox"></label>
  				<label>短信<input name="complain[detail][manner]" type="checkbox"></label>
  			</dd>
  		</dl>
  		<dl class="opinion">
  	    <dd>客诉内容</dd>
  			<dd>
  			  <textarea name="complain[detail][content]"></textarea>
  			</dd>
  		</dl>
  		<dl class="opinion">
  	    <dd>调查结果</dd>
  			<dd><textarea name="complain[detail][survey]"></textarea></dd>
  		</dl>

  		<dl class="opinion">
  	    <dd>责任人</dd>
  			<dd>
  			  <div class="liable_person">
  					<h2>销售接待</h2>
  					<ul id="creator">
  					</ul>
  				</div>
  				<div class="liable_person">
  					<h2>施工技师</h2>
  					<ul id="mechanic">
  						<!-- <li><label>王丽丽<input type="checkbox"></label></li> -->
  					</ul>
  				</div>
  			</dd>
  		</dl>

  		<dl class="opinion">
  	    <dd>处理结果</dd>
  			<dd>
  				<dl class="result">
            <dd>客户</dd>
  					<dd>责任人</dd>
  				</dl>
  				<dl class="result">
            <dd><textarea>将问题商品退回，同时为客户修好关联的关系，补偿客户10次洗车</textarea></dd>
  					<dd><textarea>退回供应商商品，要求供应商赔偿</textarea></dd>
  				</dl>

  			</dd>
  		</dl>

  		<dl class="opinion">
  			<dd>反馈</dd>
  			<dd>
  				<div class="liable_person">
  					客户对处理方式满意
  				</div>
  				<div class="liable_person text-align-right">
  					<ul>
  						<li><label>满意<input type="checkbox"></label></li>
  						<li><label>不满意<input type="checkbox"></label></li>
  					</ul>
  				</div>
  			</dd>
  		</dl>
    </div>

    	<div class="btn_group">
        <%= link_to '取消', 'javascript:void(0)', class: 'btn cancel_btn', id: 'tousu_cancel' %>
        <%= link_to '确定', 'javascript:void(0)', class: 'btn save_btn', id: 'tousu_save' %>
    	</div>
  </div>
</div>

</div>

<% content_for :javascripts do %>
<script type="text/javascript">
  jQuery(function($){
    $("a#tousu").on('click', function(){
      $("div.window_wrap").show();
      var customer = $(this).data("customer");
      var order = $(this).data("order");
      $.get("/crm/store_customers/"+ customer +"/expense_records/complaint",{ order_id: order }, function(data){
        $("dd.dd-vehicle").text(data.vehicle);
        $("dd.dd-order-numero").text(data.numero);
        $("ul#creator").append("<li><label>"+ data.creator +"<input name='complaint[detail][creator]' type='checkbox'></label></li>");
        console.log(data.creator);
        data.mechanic.forEach(function(item){
          $("ul#mechanic").append("<li><label>"+ item +"<input name='complaint[detail][creator]' type='checkbox'></label></li>");
        });
      });
    });

    $("a#tousu_cancel").on("click", function(){
      $("div.window_wrap").hide();
    });
  });
</script>
<% end %>
