<div class="main_top">
    <span class="add_span">+</span>
</div>
<div class="details">
    <div class="container_list">
        <div class="top_content records">
            <%= render partial: 'table_head' %>
            <div class="details_nav">
                <%= render partial: 'material_settings_url' %>
            </div>
            <div class="details_nav_second">
                <ul class="goods_nav">
                    <li><a href="#" class="width-90">▲上一件商品</a></li>
                    <li><a href="#" class="width-90">▼下一件商品</a></li>
                    <li ><a href="#" class="width-90">返回列表</a></li>
                </ul>
            </div>
            <div class="details_content">
                <div class="base_info">
                    <div class="goods_img">
                      <div id='material_img_preview' class="goods_main_img"></div>
                      <ul id='material_img_thumbnails' class="goods_small_img">
                          <li id='preview_list'>
                            <% @store_material.store_material_images.each do |image| %>
                              <img src="<%= image.asset_path %>">
                            <% end %>
                          </li>
                      </ul>
                    </div>
                    <div class=" car_content">
                        <div class="item_content">
                            <label class="width-75">商品名称</label>
                            <span class="width-165"><%= @store_material.name %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">条形码</label>
                            <span class="width-165"><%= @store_material.barcode %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">一级分类</label>
                            <span class="width-165"><%= @store_material.store_material_category.parent.name %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">二级分类</label>
                            <span class="width-165"><%= @store_material.store_material_category.name %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">商品规格</label>
                            <span class="width-165"><%= @store_material.speci %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">商品单位</label>
                            <span class="width-165"><%= @store_material.store_material_unit.name %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">成本价</label>
                            <span class="width-165"><%= @store_material.cost_price %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">零售价</label>
                            <span class="width-165"><%= @store_material.retail_price %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">商品品牌</label>
                            <span class="width-165"><%= @store_material.store_material_brand.name %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">生产单位</label>
                            <span class="width-165"><%= @store_material.store_material_manufacturer.name %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">助记码</label>
                            <span class="width-165"><%= @store_material.mnemonic %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">最低零售价</label>
                            <span class="width-165"><%= @store_material.min_retail_price %></span>
                        </div>
                        <div class="item_content">
                          <label class="width-80"><input name='material[inventory_alarmify]' type="radio" class='toggleable' data-target='inventory'>库存预警：</label>
                          <div>
                            <label class="width-75">数量上限</label>
                            <input data-id='inventory' name='material[max_inventory]'  disabled=true type="number" class="width-53" required=true min=0.0 step='any'>
                          </div>

                          <div class="width-167">
                            <label class="lab_50">数量下限</label>
                            <input data-id='inventory' name='material[min_inventory]' disabled=true type="number" class="width-53" required=true min=0.0 step='any'>
                          </div>
                        </div>
                        <div class="item_content">
                          <label class="width-75"><input type="radio" name='material[expiry_alarmify]' data-target='shelf_life' class="toggleable width-13">保质期提醒</label>
                          <div class="input_span">
                            <input type="text" data-id='shelf_life' name='material[shelf_life]' disabled=true class="width-100 " style="border:0px;" required=true >
                            <span>天</span>
                          </div>
                        </div>
                        <div class="item_content">
                            <label class="width-75">状态</label>
                            <span class="width-165">!TODO</span>
                        </div>
                        <div class="item_textarea ">
                            <label class="width-75">备注</label>
                            <textarea class="textarea-width "></textarea>
                        </div>
                        <div class="tc">
                            <div class="sales_commission">
                                <div class="sales_div">
                                    <table cellpadding="0" cellspacing="0" class="sales_tab">
                                        <colgroup>
                                        <col width="20%">
                                        <col width="10%">
                                        <col width="30%">
                                        <col width="10%">
                                        <col width="30%">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td >销售提成</td>
                                                <td><label  class="width-30">部门</label></td>
                                                <td>
                                                    <span><input type="number" step='any'>%</span>
                                                </td>
                                                <td><label  class="width-30">个人</label></td>
                                                <td>
                                                    <span><input type="number" step='any'>%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span><input type="number" step='any'>元</span>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <span><input type="number" step='any'>元</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="artificer_commission">
                                <div class="artificer_div">
                                    <table cellpadding="0" cellspacing="0" class="artificier_tab">
                                        <colgroup>
                                        <col width="20%">
                                        <col width="10%">
                                        <col width="30%">
                                        <col width="10%">
                                        <col width="30%">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td>技师提成</td>
                                                <td><label  class="width-30">部门</label></td>
                                                <td>
                                                    <span><input type="number" step='any'>%</span>
                                                </td>
                                                <td><label  class="width-30">个人</label></td>
                                                <td>
                                                    <span><input type="number" step='any'>%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span><input type="number" step='any'>元</span>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <span><input type="number" step='any'>元</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn_group">
                    <input type="button"  value="编辑" class="edit_btn btn" >
                    <input type="button"  value="保存" class="save_btn btn" >
                </div>
            </div>
        </div>
    </div>
</div>
