<% content_for :pre_assets do %>
  <%= javascript_include_tag 'kucun/materials/new' %>
<% end %>

<div class="main_top">
        <h2>库存列表</h2>
      </div>
      <div class="details">
        <div class="container_list">
          <div class="top_content records">
            <%= render partial: 'table_head' %>
          </div>
          <div class="details_nav">
            <ul>
              <li class="bg-color-fff"><a href="#" class="width-90">商品信息</a></li>

              <li class='ext_info'><a href="javascript:void(0);" onclick="alert(this.dataset.alert);" data-alert='请先保存商品信息！' class="width-90">销售设置</a></li>
              <li class='ext_info'><a href="javascript:void(0);" onclick="alert(this.dataset.alert);" data-alert='请先保存商品信息！' class="width-90">提成</a></li>
              <li class='ext_info'><a href="javascript:void(0);" onclick="alert(this.dataset.alert);" data-alert='请先保存商品信息！' class="width-90">回访</a></li>

            </ul>
          </div>
          <div class="details_nav_second">
            <ul class="goods_nav">
              <li><a href="#" class="width-90">▲上一件商品</a></li>
              <li><a href="#" class="width-90">▼下一件商品</a></li>
              <li ><a href="#" class="width-90">返回列表</a></li>
            </ul>
          </div>
          <div class="details_content">
            <%= form_for(@store_material, url: kucun_materials_path, as: :material) do %>
            <div class="base_info">

              <div class="goods_img">
                <div id='material_img_preview' class="goods_main_img"></div>
                <ul id='material_img_thumbnails' class="goods_small_img">
                    <li id='preview_list'></li>
                    <li data-id='0'><a class='fa fa-plus-square add_img' href="javascript:void(0);"></a></li>
                </ul>
              </div>

              <div class=" car_content">
              <div class="pure-u-1-1">

                <div class="item_content">
                  <label class="width-75">商品名称</label>
                  <input name='material[name]' type="text" class="width-170 autocomplete" required=true autocomplete='off' placeholder='请输入名称'>
                </div>
                <div class="item_content">
                  <label class="width-75">条形码</label>
                  <input type="text" name='material[barcode]' class="width-170" placeholder='若不填则系统自动生成'>
                </div>
                <div class="item_content">
                  <label class="width-75">助记码</label>
                  <input name='material[mnemonic]' type="text" class="width-170" required=true >
                </div>
                <div class="item_content">
                  <label class="width-75">商品规格</label>
                  <input name='material[speci]' type="text" class="width-170" required=true>
                </div>

                <div class="item_content">
                  <label class="width-75">成本价</label>
                  <input name='material[cost_price]' type="number" class="width-170" placeholder="输入成本价会影响原成本价" required=true >
                </div>
                <div class="item_content">
                  <label class="width-75">最低售价</label>
                  <input name='material[min_price]' type="number" class="width-170" required=true >
                </div>

                <div class="item_content">
                  <% category = @store.store_material_categories.super_categories.first || @store.store_material_categories.new(name: '请选择') %>
                  <label class="width-75">一级分类</label>
                  <input id='material_category1' type="hidden" name='material[category1]' value="<%= category.id %>">
                  <span class="width-170 as_select" data-select='#material_category1_select' data-target='input[name="material[category1]"]'><%= category.name %></span>
                  <div id='material_category1_select' class="select">
                    <ol>
                      <% @store.store_material_categories.super_categories.each do |option| %>
                      <li data-value="<%= option.id %>"><%= option.name %></li>
                      <% end %>
                    </ol>
                    <a class='add_btn' data-method='add_category1' href="javascript:void(0);">新增</a>
                  </div>
                </div>

                <div class="item_content">
                  <label class="width-75">二级分类</label>
                  <input type="hidden" name='material[store_material_category_id]' value="">
                  <span id='store_material_category_id' class="width-170 as_select" data-select='#material_category_select' data-target='input[name="material[store_material_category_id]"]'>请选择</span>
                  <div id='material_category_select' class="select">
                    <ol>
                      <% category.sub_categories.each do |option| %>
                      <li data-value="<%= option.id %>"><%= option.name %></li>
                      <% end %>
                    </ol>
                    <a class='add_btn' data-method='add_category' href="javascript:void(0);">新增</a>
                  </div>
                </div>

                <div class="item_content">
                  <label class="width-75">商品单位</label>
                  <input type="hidden" name='material[store_material_unit_id]' value="">
                  <span id='store_material_unit_id' class="width-170 as_select" data-select='#material_unit_select' data-target='input[name="material[store_material_unit_id]"]'>请选择</span>
                  <div id='material_unit_select' class="select">
                    <ol>
                      <% @store.store_material_units.each do |option| %>
                      <li data-value="<%= option.id %>"><%= option.name %></li>
                      <% end %>
                    </ol>
                    <a class='add_btn' data-method='add_unit' href="javascript:void(0);">新增</a>
                  </div>
                </div>


                <div class="item_content">
                  <label class="width-75">商品品牌</label>
                  <input name='material[store_material_brand_id]' type="hidden">
                  <span id='store_material_brand_id' class="width-170 as_select" data-select='#material_brand_select' data-target='input[name="material[store_material_brand_id]"]'>请选择</span>
                  <div id='material_brand_select' class="select">
                    <ol>
                      <% @store.store_material_brands.each do |option| %>
                      <li data-value="<%= option.id %>"><%= option.name %></li>
                      <% end %>
                    </ol>
                    <a class='add_btn' data-method='add_brand' href="javascript:void(0);">新增</a>
                  </div>
                </div>
                <div class="item_content">
                  <label class="width-75">生产单位</label>
                  <input name='material[store_material_manufacturer_id]' type="hidden">
                  <span id='store_material_manufacturer_id' class="width-170 as_select" data-select='#material_manufacturer_select' data-target='input[name="material[store_material_manufacturer_id]"]'>请选择</span>
                  <div id='material_manufacturer_select' class="select">
                    <ol>
                      <% @store.store_material_manufacturers.each do |option| %>
                      <li data-value="<%= option.id %>"><%= option.name %></li>
                      <% end %>
                    </ol>
                    <a class='add_btn' data-method='add_manufacturer' href="javascript:void(0);">新增</a>
                  </div>
                </div>


                <div class="item_content outline item_property">
                  <label class="width-50">商品属性</label>
                  <div class="inline_block material_for_sale_or_keep" >
                    <label for=""><input type="checkbox" name="name" value="">自用</label>
                    <label for=""><input type="checkbox" name="name" value="">销售</label>
                  </div>
                </div>



                <div class="item_content outline item_inventory">
                  <label class="width-87 font-weight-bold font-black"><input name='material[inventory_alarmify]' type="radio" class='toggleable' data-target='inventory'>库存预警：</label>
                  <div class='inline_block width-186'>
                    <label class="width-75">数量上限</label>
                    <input data-id='inventory' name='material[max_inventory]'  disabled=true type="number" class="width-53" required=true min=0.0 step='any'>
                  </div>

                  <div class="inline_block width-180">
                    <label class="lab_50">数量下限</label>
                    <input data-id='inventory' name='material[min_inventory]' disabled=true type="number" class="width-53" required=true min=0.0 step='any'>
                  </div>
                </div>

                <div class="item_content shelf_life">
                  <label class="width-75"><input type="radio" name='material[expiry_alarmify]' data-target='shelf_life' class="toggleable width-13">保质期提醒</label>
                  <div class="input_span">
                    <input type="text" data-id='shelf_life' name='material[shelf_life]' disabled=true class="width-30 " style="border:0px;" required=true >
                    <span>天</span>
                  </div>
                </div>




                <div class="clr">
                  <fieldset>
                    <legend><label><input type="checkbox" class='toggleable' name="divide_to_retail" data-target='divide_to_retail' value="">此商品拆分销售</label></legend>
                    <div class="">
                      <label class="width-75">计量单位</label>
                      <select data-id='divide_to_retail' disabled=true class="" name="">
                        <option value='0'>升</option>
                        <option value='1'>米</option>
                      </select>
                    </div>
                    <div class="">
                      <label class="width-75">总量</label>
                      <input  data-id='divide_to_retail' disabled=true type="text" name="name" value="">
                    </div>
                  </fieldset>
                </div>

                <div class="item_textarea ">
                  <label class="width-50">备注</label>
                  <textarea name='material[remark]' class="textarea-width "></textarea>
                </div>
                </div>
              </div>
            </div>
            <div class="btn_group">
              <a class="btn cancel_btn">取消</a>
              <input type='submit' class="btn save_btn" value='保存'>
            </div>
            <% end %>
          </div>
        </div>
      </div>

<div id='piccut'>
  <div class="overlay">
		<div class="overlay-inner"></div>
	</div>
	<div id='arrange'>
	  <div id='gallery' style="top: -1px; left: 115px;" class="resize-container"></div>
	</div>
  <input type="file" id='imgfile' name="imgefile" size="12" accept="image/jpeg,image/png" />
  <button class="btn-crop js-crop">截图</button>
  <input class="btn-cancel js-cancel" onclick="closepiccut();" value="取消"/>
</div>

<% content_for :javascripts do %>
<script>
  jQuery(function($){
    v = new $$MIS.NewMaterialView();
    v.setElement('#new_material');
    v.model = new $$MIS.Material();
    v.model.on('invalid', v.invalid_handle);
    v.category_collection = new  $$MIS.MaterialCategoryCollection();
    v.model.view = v;

    $('#new_material').on('submit', function(evt){
        evt.preventDefault();
        evt.stopPropagation();
        var $this = $(this);
        if($this.data('error')){return false;}
        if(!v.model.isValid()){return false;}

        v.model.save()
               .success(function(data){
                 var url = v.model.url() + '/save_picture';
                 $('#preview_list > img').each(function(idx){
                    var img = this;
                    $.ajax({
                            type: "POST",
                            url: url,
                            sync: false,
                            data: {img: img.src},
                            success: function(data){console.log(data)},
                            dataType: 'text'
                          });
                 });
                 $('#modal_dialog').html('save successfully!').dialog({
                    modal: true,
                    buttons: {
                      Ok: function() {
                        $( this ).dialog( "close" );
                      }
                    }
                  });
                  window.location.replace(v.model.url());
                })
              .error(function(data){alert('error')});
        return false;
    });
  });
</script>

<script type="text/javascript">
  var fr = new FileReader();
  fr.onload = function(e){
    if(document.getElementById('image_tag')){
      document.getElementById('image_tag').remove();
    }
    document.getElementById("gallery").remove();

    image = new Image();
    image.className = "resize-image";
    image.id = 'image_tag';
    image.src = this.result;

    div = document.createElement("div");
    div.id='gallery';
    div.className = 'resize-container';
    div.style.top = '-1px';
    div.style.left = '115px';
    div.appendChild(image);
    document.getElementById('arrange').appendChild(div);

    var dataid=$('#material_img_thumbnails').data('id');
    var preview = $("#preview_list");
    resizeableImage(document.getElementById('image_tag'), $('.js-crop')[0], preview);
  }


  var d=document.getElementById("imgfile");
  d.onchange = function(e){
     f1 = this.files.item(0);
    if(f1.type == 'image/png' || f1.type == 'image/jpeg'){
      fr.readAsDataURL(f1, 'image/png');
    }else{
      alert('错误的文件格式，请选择PNG或JPG格式的图片文件！');
      this.value = '';
    }
  }

  $('a.add_img').on('click', function(){$('#piccut').show();});
  $('#material_img_thumbnails').on('click', 'li>img', function(evt){
    if(!$("#material_img_preview>img").length){
      var img = new Image();
      img.src = this.src;
      $("#material_img_preview").append(img);
    }else{
      $("#material_img_preview>img")[0].src = this.src;
    }
  });

</script>

<script>
 jQuery(function($) {
   $( "input.autocomplete" ).autocomplete({
     source: function( request, response ) {
       $.ajax({
         url: "/kucun/materials/autocomplete_name",
         dataType: "jsonp",
         data: {
           q: request.term
         },
         success: function( data ) {
           response( data );
         }
       });
     },
     minLength: 3,
     select: function( event, ui ) {
       console.log( ui.item ?
         "Selected: " + ui.item.label :
         "Nothing selected, input was " + this.value);
     },
     open: function() {
       $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
     },
     close: function() {
       $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
     }
   });
 });
 </script>

 <script type="text/javascript">
    function closepiccut(){
      var closepiccut=document.getElementById("piccut");
      closepiccut.style.display="none";
    }
 </script>


<% end %>
