<% content_for :pre_assets do %>
  <%= javascript_include_tag 'kucun/materials/new' %>
<% end %>
<div class="main_top">
    <span class="add_span">+</span>
</div>
<div class="details">
  <div class="container_list">
    <div class="top_content records">
      <%= render partial: 'table_head' %>
    </div>
    <div class="details_nav">
      <%= render partial: 'material_settings_url' %>
    </div>
    <div class="details_nav_second">
      <ul class="goods_nav">
        <li><a href="#" class="width-90">▲上一件商品</a></li>
        <li><a href="#" class="width-90">▼下一件商品</a></li>
        <li ><a href="#" class="width-90">返回列表</a></li>
      </ul>
    </div>
    <div class="details_content">
      <%= form_for(@store_material, url: kucun_material_path(@store_material), as: :material) do |form|%>
            <div class="base_info">

              <div class="goods_img">
                <div id='material_img_preview' class="goods_main_img"></div>
                <ul id='material_img_thumbnails' class="goods_small_img">
                    <li id='preview_list'>
                      <% @store_material.store_material_images.each do |image| %>
                        <img src="<%= image.asset_path %>">
                      <% end %>
                    </li>
                    <li data-id='0'><a class='fa fa-plus-square add_img' href="javascript:void(0);"></a></li>
                </ul>
              </div>

              <div class=" car_content">
              <div class="pure-u-1-1">
                <div class="item_content">
                  <label class="width-67">商品名称</label>
                  <%= form.text_field :name, class: 'width-170 autocomplete', required: true, autocomplete: 'off', placeholder:'请输入名称'%>
                </div>
                <div class="item_content">
                  <label class="width-67">条形码</label>
                  <%= form.text_field :barcode, class: 'width-170' %>
                </div>

                <div class="item_content">
                  <% category = @store_material.store_material_category
                     category1 = category.parent
                   %>
                  <label class="width-67">一级分类</label>
                  <input id='material_category1' type="hidden" name='material[category1]' value="<%= category1.id %>">
                  <span class="width-165 as_select" data-select='#material_category1_select' data-target='input[name="material[category1]"]'><%= category1.name %></span>
                  <div id='material_category1_select' class="select">
                    <ol>
                      <% @store.store_material_categories.super_categories.each do |option| %>
                      <li data-value="<%= option.id %>"><%= option.name %></li>
                      <% end %>
                    </ol>
                    <a class='add_btn' data-method='add_category1' href="javascript:void(0);">新增</a>
                  </div>
                </div>
                <div class="item_content">
                  <label class="width-67">二级分类</label>
                  <input type="hidden" name='material[store_material_category_id]' value="<%= category.id %>">
                  <span id='store_material_category_id' class="width-165 as_select" data-select='#material_category_select' data-target='input[name="material[store_material_category_id]"]'><%= category.name %></span>
                  <div id='material_category_select' class="select">
                    <ol>
                      <% category1.sub_categories.each do |option| %>
                      <li data-value="<%= option.id %>"><%= option.name %></li>
                      <% end %>
                    </ol>
                    <a class='add_btn' data-method='add_category' href="javascript:void(0);">新增</a>
                  </div>
                </div>
                <div class="item_content">
                  <label class="width-67">商品规格</label>
                  <%= form.text_field :speci, class: 'width-170', required: true %>
                </div>
                <div class="item_content">
                  <label class="width-67">商品单位</label>
                  <input type="hidden" name='material[store_material_unit_id]' value="<%= @store_material.store_material_unit.id %>">
                  <span id='store_material_unit_id' class="width-165 as_select" data-select='#material_unit_select' data-target='input[name="material[store_material_unit_id]"]'><%= @store_material.store_material_unit.name %></span>
                  <div id='material_unit_select' class="select">
                    <ol>
                      <% @store.store_material_units.each do |option| %>
                      <li data-value="<%= option.id %>"><%= option.name %></li>
                      <% end %>
                    </ol>
                    <a class='add_btn' data-method='add_unit' href="javascript:void(0);">新增</a>
                  </div>
                </div>
                <div class="item_content">
                  <label class="width-67">成本价</label>
                  <%= form.text_field :cost_price, type: 'number', class: 'width-170', required: true, placeholder: '输入成本价会影响原成本价', step: 'any' %>
                </div>
                <div class="item_content">
                  <label class="width-67">最低售价</label>
                  <%= form.text_field :min_price, type: 'number', class: 'width-170', required: true, step: 'any' %>
                </div>
                <div class="item_content">
                  <label class="width-67">商品品牌</label>
                  <input name='material[store_material_brand_id]' type="hidden" value="<%= @store_material.store_material_brand.id %>">
                  <span id='store_material_brand_id' class="width-165 as_select" data-select='#material_brand_select' data-target='input[name="material[store_material_brand_id]"]'><%= @store_material.store_material_brand.name %></span>
                  <div id='material_brand_select' class="select">
                    <ol>
                      <% @store.store_material_brands.each do |option| %>
                      <li data-value="<%= option.id %>"><%= option.name %></li>
                      <% end %>
                    </ol>
                    <a class='add_btn' data-method='add_brand' href="javascript:void(0);">新增</a>
                  </div>
                </div>
                <div class="item_content">
                  <label class="width-67">生产单位</label>
                  <input name='material[store_material_manufacturer_id]' type="hidden" value='<%= @store_material.store_material_manufacturer.id %>'>
                  <span id='store_material_manufacturer_id' class="width-165 as_select" data-select='#material_manufacturer_select' data-target='input[name="material[store_material_manufacturer_id]"]'><%= @store_material.store_material_manufacturer.name %></span>
                  <div id='material_manufacturer_select' class="select">
                    <ol>
                      <% @store.store_material_manufacturers.each do |option| %>
                      <li data-value="<%= option.id %>"><%= option.name %></li>
                      <% end %>
                    </ol>
                    <a class='add_btn' data-method='add_manufacturer' href="javascript:void(0);">新增</a>
                  </div>
                </div>
                <div class="item_content">
                  <label class="width-67">助记码</label>
                  <%= form.text_field :mnemonic, class: 'width-170', required:true %>
                </div>
                <div class="item_content outline item_inventory">
                  <label class="width-80">
                    <input name='material[inventory_alarm]' <%= @store_material.inventory_alarmify ? 'checked=true' : '' %> type="radio" class='toggleable' data-target='inventory'>库存预警：
                  </label>
                  <div class="inline_block width-167">
                    <label class="width-75">数量上限</label>
                    <input data-id='inventory' name='material[max_inventory]'  <%= @store_material.inventory_alarmify ? '' : 'disabled=true' %> type="number" class="width-53" required=true min=0.0 step='any'>
                  </div>

                  <div class="inline_block width-167">
                    <label class="lab_50">数量下限</label>
                    <input data-id='inventory' name='material[min_inventory]' <%= @store_material.inventory_alarmify ? '' : 'disabled=true' %> type="number" class="width-53" required=true min=0.0 step='any'>
                  </div>
                </div>
                <div class="item_content shelf_life">
                  <label class="width-75"><input type="radio" <%= @store_material.expiry_alarmify ? 'checked=true' : '' %> name='material[expiry_alarm]' data-target='shelf_life' class="toggleable width-13">保质期提醒</label>
                  <div class="input_span">
                    <input type="number" data-id='shelf_life' <%= @store_material.expiry_alarmify ? '' : 'disabled=true' %> name='material[shelf_life]' class="width-30 " style="border:0px;" required=true>
                    <span>天</span>
                  </div>
                </div>
                <div class="item_textarea ">
                  <label class="width-50">备注</label>
                  <textarea name='material[remark]' class="textarea-width "></textarea>
                </div>

                <div class="item_content">
                    <label class="width-75">状态</label>
                    <span class="width-165">!TODO</span>
                </div>
                </div>
              </div>
            </div>
            <div class="btn_group">
              <a class="btn cancel_btn">取消</a>
              <input type='submit' class="btn save_btn" value='更新商品信息'>
            </div>
            <% end %>
    </div>
  </div>
</div>
