
<div class="main_top">
  <%= breadcrumb_navigation(['库存', '商品', '详情'], "/kucun/materials/") %>
</div>
<div class="details">
  <div class="details_nav"><%= render partial: 'material_settings_url' %></div>
    <div class="details_content">
      <div class="base_info">
        <div class="goods_img">
          <div id='material_img_preview' class="goods_main_img"></div>
          <ul id='material_img_thumbnails' class="goods_small_img">
              <li id='preview_list'>
                <% @store_material.uploads.each do |image| %>
                  <img src="<%= image.file_url %>">
                <% end %>
              </li>
          </ul>
        </div>

        <div class="car_content materials_info">

          <div class="item_content">
            <label class="width-75">商品名称</label>
            <input type="text" class="width-165" placeholder="请输入名称" value="<%= @store_material.name %>" readonly>
          </div>
          <div class="item_content">
            <label class="width-75">条形码</label>
            <input type="text" class="width-165" placeholder="若不填则系统自动生成" value="<%= @store_material.barcode %>" readonly>
          </div>
          <div class="item_content">
            <label class="width-75">助记码</label>
            <input type="text" class="width-165" value="<%= @store_material.mnemonic %>" readonly>
          </div>
          <div class="item_content">
            <label class="width-75">商品规格</label>
            <input type="text" class="width-165" value="<%= @store_material.speci %>" readonly>
          </div>
          <div class="item_content">
            <label class="width-75">成本价</label>
            <input type="text" class="width-165"  value="<%= @store_material.cost_price %>" readonly>
          </div>
          <div class="item_content">
            <label class="width-75">最低售价</label>
            <input type="text" class="width-165" value="<%= @store_material.min_price %>" readonly>
          </div>
          <div class="item_content">
            <label class="width-75">一级分类</label>
            <select  class="width-167" disabled>
              <option selected="selected"><%= @store_material.store_material_root_category.name %></option>
            </select>

          </div>
          <div class="item_content">
            <label class="width-75">二级分类</label>
            <select  class="width-167" disabled>
              <option selected="selected"><%= @store_material.store_material_category.name %></option>
            </select>
          </div>

          <div class="item_content">
            <label class="width-75">商品单位</label>
            <select class="width-167" disabled="disabled">
              <option selected="selected"><%= @store_material.store_material_unit.name %></option>
            </select>
          </div>
          <div class="item_content">
            <label class="width-75">商品品牌</label>
            <select class="width-167" disabled>
              <option selected="selected" ><%= @store_material.store_material_brand.name %></option>
            </select>
          </div>
          <div class="item_content">
            <label class="width-75">生产单位</label>
            <select class="width-167" disabled>
              <option selected="selected"><%= @store_material.store_material_manufacturer.name %></option>
            </select>
          </div>
          <div class="item_content outline item_property text-align-left">
            <label class="width-75">商品属性</label>

            <input type="checkbox" <%= "checked" if @store_material.permitted_to_internal %> disabled class="margin-left-15"><label>自用</label>
            <input type="checkbox" <%= "checked" if @store_material.permitted_to_saleable %> disabled class="margin-left-15"><label>销售</label>

          </div>


          <div class="item_content outline item_inventory margin-left-106">
            <label class="width-85  font-weight-bold">
              <%= @store_material.inventory_alarmify ? "库存预警[开]" : "库存预警[关]" %>
            </label>
            <div class="display-inline-block width-155 text-align-center">
              <label>数量上限</label>
              <input data-id="inventory" disabled="true" type="text" class="width-80" required="true" value="<%= @store_material.max_inventory if @store_material.inventory_alarmify %>">
            </div>
            <div class="display-inline-block width-155 text-align-center">
              <label>数量下限</label>
              <input data-id="inventory" disabled="true" type="text" class="width-80" required="true" value="<%= @store_material.min_inventory if @store_material.inventory_alarmify %>">
            </div>
          </div>

          <div class="item_content outline shelf_life margin-left-50">
            <label>
              <%= @store_material.expiry_alarmify ? "保质期提醒[开]" : "保质期提醒[关]" %>
            </label>
            <div class="input_div width-80">
              <input type="text" class="width-50 border-none" data-id="shelf_life" disabled="disabled" required="true" readonly value="<%= @store_material.shelf_life if @store_material.expiry_alarmify %>">
              <label>天</label>
            </div>
          </div>
          <div class="item_textarea ">
            <label class="width-75">商品介绍</label>
            <textarea class="textarea-width height-120 text-indent-5 width-976" disabled="disabled"><%= @store_material.introduction %></textarea>
          </div>
          <div class="item_textarea ">
            <label class="width-75">备注</label>
            <textarea class="textarea-width height-120 text-indent-5 width-976" disabled="disabled"><%= @store_material.remark %></textarea>
          </div>

        </div>
      </div>
      <div class="btn_group">
        <a href="<%= edit_kucun_material_path(@store_material) %>" class="btn edit_btn">编辑</a>
      </div>
    </div>
</div>
