<% current_schedule = @schedules.first %>
<div class="show-floatwindow">
  <%= link_to '', 'javascript:void(0)', class: 'fa fa-close close', id: 'js-new-event' %>
  <div class="page">
    <a href="javascript:void(0)"><i class="fa fa-caret-left"></i></a>
    <div class="page-numbers">
      <% @schedules.each.with_index(1) do |s, i| %>
        <a href="javascript:void(0)" class="page-number" data-schedule-id=<%= s.id %>><%= i %></a>
      <% end %>
    </div>
    <a href="javascript:void(0)"><i class="fa fa-caret-right"></i></a>
    <div class="chevrons">
      <%= render 'schedules_nav', current_schedule: current_schedule %>
    </div>
  </div>
  <div class="add-new-event-form" >
    <div class="schedule-detail">
      <%= render 'current_schedule', current_schedule: current_schedule %>
    </div>
  </div>
</div>
