<form action="" method="post">
  <div class="field title">
    <label for="" class="form-label">标题</label>
    <span class="form-span"><%= current_schedule.title %></span>
  </div>
  <div class="field start-time">
    <label for="" class="form-label">开始时间</label>
    <span  class="form-span"><%= current_schedule.start_time.strftime("%I:%M %p") %></span>
  </div>
  <div class="field end-time">
    <label for="" class="form-label">结束时间</label>
    <span class="form-span"><%= current_schedule.end_time.strftime("%I:%M %p") %></span>
  </div>
  <div class="field remarks">
    <label for="" class="form-label">备注</label>
    <div class="form-text"><%= current_schedule.remark %></div>
  </div>
  <div class="foot">
    <a href="javascript:void(0)" class="finish-btn">已完成</a>
    <a href="javascript:void(0)" class="delete-btn">删除</a>
  </div>
</form>

<script type="text/javascript" charset="utf-8">
  $(function(){
    $(".finish-btn").on('click', function(){
      url = "/api/home/schedules/" + <%= current_schedule.id %>
      $.ajax({
        url: url,
        method: 'patch',
        success: function(res){
          if(res.success) {
            $(".finish-btn").hide();
          }
        }
      })
    })

    $(".delete-btn").on('click', function(){
      url = "/api/home/schedules/" + <%= current_schedule.id %>
      $.ajax({
        url: url,
        method: 'delete',
        success: function(res){
        }
      })
    })

  })
  
</script>
