<div class="panel-body js-yesterday-panel-body" style="display:none">
  <div class="info-box">
    <div class="vehicle-info-wrap">
      <div class="approach-vehicle">
        <div class="stats">
          <h4><i class="icon icon-approach-car"></i>进场车辆</h4>
          <span class="number"><%= @home.yesterday_orders.unpending.count%></span>
        </div>
      </div>
      <ul class="vehicle-info">
        <li>
          <div class="stats">
            <div class="vehicle-icon">
              <i class="icon icon-construction-car construction"></i>
            </div>
            <div class="vehicle-item">
              <h4>施工车辆</h4>
              <span class="number"><%= @home.yesterday_orders.processing.count%></span>
            </div>

          </div>
        </li>
        <li>
          <div class="stats">
            <div class="vehicle-icon">
              <i class="icon icon-consumer-car consumer"></i>
            </div>
            <div class="vehicle-item">
              <h4>消费车辆</h4>
              <span class="number"><%= @home.yesterday_orders.finished.count%></span>
            </div>

          </div>
        </li>
      </ul>
    </div>
    <div class="tips-info-wrap">
      <dl class="tips-info">
        <dd>
          <label class="tip-icon"><i class="icon icon-male male"></i></label>
          <label for="" class="tips-label">到岗人数</label>
          <span class="tips-span"><%= @home.mechanics.count%></span>
        </dd>
        <dd>
          <label class="tip-icon"><i class="icon icon-wrench"></i></label>
          <label for="" class="tips-label">到岗技师</label>
          <span class="tips-span"><%= @home.mechanics.attendances.by_day(Time.now.yesterday).count%></span>
        </dd>
        <dd>
          <label class="tip-icon"><i class="icon icon-trophy"></i></label>
          <label for="" class="tips-label">奖励人数</label>
          <span class="tips-span">-</span>
        </dd>
        <dd>
          <label class="tip-icon"><i class="icon icon-bolt"></i></label>
          <label for="" class="tips-label">惩戒人数</label>
          <span class="tips-span">-</span>
        </dd>
        <dd>
          <label class="tip-icon"><i class="icon icon-bell"></i></label>
          <label for="" class="tips-label">提醒事件</label>
          <span class="tips-span">-</span>
        </dd>
        <dd>
          <label class="tip-icon"><i class="icon icon-telephone"></i></label>
          <label for="" class="tips-label">投诉事件</label>
          <span class="tips-span"><%= @home.yesterday_complaints.count%></span>
        </dd>
      </dl>
    </div>
  </div>

  <div class="amount">
    <div class="title">
      <h3>营业金额</h3>
    </div>
    <dl class="item">
      <dd>营业额</dd>
      <dd class="number"><%= @home.paid_on_yesterday.finished.sum(:amount)%></dd>
    </dl>
    <dl class="item">
      <dd>挂账</dd>
      <dd class="number"><%= @home.paid_on_yesterday.hanging.sum(:amount)%></dd>
    </dl>
    <dl class="item">
      <dd>卡扣</dd>
      <dd class="number"><%= @home.yesterday_order_items.from_asset.sum(:amount)%></dd>
    </dl>
  </div>
</div>
