<div class="row">
  <div class="col-left">
    <div class="panel data-statistics">
      <div class="title">
        <h3>数据统计</h3>
        <ul class="nav-tabs">
          <li class="active"><a href="#"><i class="fa fa-line-chart"></i>实时数据</a></li>
          <li><a href="#"><i class="fa fa-sun-o"></i>昨天数据</a></li>
        </ul>
      </div>

      <div class="panel-body">
        <div class="info-box">
          <div class="vehicle-info-wrap">
            <%= render 'vehicle_info' %>
          </div>
          <div class="tips-info-wrap">
            <%= render 'staffer' %>
          </div>
        </div>

        <div class="amount">
          <div class="title">
            <h3>营业金额</h3>
          </div>
          <dl class="item">
            <dd>营业额</dd>
            <dd class="number"><%= @orders.finished.sum(:amount)%></dd>
          </dl>
          <dl class="item">
            <dd>挂账</dd>
            <dd class="number"><%= @orders.hanging.sum(:amount)%></dd>
          </dl>
          <dl class="item">
            <dd>卡扣</dd>
            <dd class="number"><%= @order_items.from_asset.sum(:amount)%></dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="panel work">
      <div class="title">
        <h3>我的工作</h3>
        <a href="#" class="add js-add"><i class="fa fa-plus"></i></a>
      </div>

      <div class="panel-body">
        <%= render 'my_work' %>
      </div>
    </div>

    <div class="floatwindow">
       <%= render 'my_work_floatWindow'%>
    </div>
  </div>

  <div class="col-center">
    <div class="panel calendar">
      <%= render 'calendar_schedules' %>
    </div>

    <div class="floatwindow">
      <div class="calendar-floatwindow-wrap" style="display:none">
        <%= render 'calendar_floatwindow'%>
      </div>
      <div class="show-floatwindow-wrap" style="display:none">
        <%= render 'calender_show_floatwindow'%>
      </div>
    </div>

    <div class="panel message-list">
      <%= render 'message_list' %>
    </div>

    <div class="floatwindow">
      <div class="message-floatwindow-wrap">
        <%= render 'message_floatwindow'%>
      </div>
    </div>
  </div>

  <div class="col-right">
    <%= render 'todo_list' %>
  </div>

</div>

<script type="text/javascript">
  jQuery(function($){
    $(".js-add-event, .js-show-events").on('click', function(){
      var target_wrap  = $(this).data('target');
      $(target_wrap).slideDown();
      $(target_wrap).on("click", '.cancel-btn, .close', function(){
        $(target_wrap).slideUp();
      })
    })
  });
</script>
