<div class="row">
  <div class="col-left">
    <div class="panel data-statistics">
      <div class="title">
        <h3>数据统计</h3>
        <ul class="nav-tabs">
          <li class="active js-today-data"><a href="#"><i class="fa fa-line-chart"></i>实时数据</a></li>
          <li class="js-yesterday-data"><a href="#"><i class="fa fa-sun-o"></i>昨天数据</a></li>
        </ul>
      </div>

      <div class="panel-body js-today-panel-body"><%= render partial: 'data_counters', locals: {counter: @today_counter} %></div>
      <div class="panel-body js-yesterday-panel-body" style="display:none"><%= render partial: 'data_counters', locals: {counter: @yesterday_counter} %></div>
    </div>
    <div class="panel work">
      <div class="title">
        <h3>我的工作</h3>
        <a href="#" class="add js-add"><i class="fa fa-plus"></i></a>
      </div>

      <div class="panel-body">
        <%= render 'my_work' %>
      </div>
    </div>

    <div class="floatwindow">
       <%= render 'my_work_floatWindow'%>
    </div>
  </div>

  <div class="col-center">
    <div class="panel calendar">
      <%= render 'calendar_schedules' %>
    </div>

    <div class="floatwindow">
      <div class="calendar-floatwindow-wrap" style="display:none">
        <%= render 'calendar_floatwindow'%>
      </div>
      <div class="show-floatwindow-wrap" style="display:none">
      </div>
    </div>

    <div id='js-notification-counters' class="panel message-list">
      <div class="title">
        <h3>消息列表</h3>
        <a class='text-decoration-underline js-notifications-reload' href="javascript:void(0)">刷新列表</a>
      </div>
      <section class="reminders">
        <ul class="items"></ul>
      </section>
    </div>

    <div class="floatwindow">
      <div id='js-notifications' class="message-floatwindow-wrap"></div>
    </div>
  </div>

  <div class="col-right">
    <%= render 'todo_list' %>
  </div>

</div>

<% content_for :javascripts do %>
  <script>
    jQuery(function($) {
      handle = new $$MIS.HomeNotificationHandle();
    });
  </script>
<% end %>
