<div class="vehicle_info">
  <% current_workflow = workstation.current_workflow %>
  <% order_data = {
                    previous_workstation: workstation.id ,
                    id: current_workflow.store_order_id,
                    state: "processing",
                    workflow_id: current_workflow.id
                  }
  %>
  <dl id="order-<%= current_workflow.store_order_id %>"
      class="construction_info js-vehicle js-draggable"
      draggable="true" data-order='<%= order_data.to_json.html_safe %>'>
    <div class="car_info">
      <span class="service_name"><%= current_workflow.name %></span>
      <span class="current_license_number"><%= current_workflow.store_vehicle.current_license_number %></span>
    </div>
    <%= image_tag 'workstation_car.png', class: 'car_img'%>
  </dl>
  <dl class="license_plate">
    <% if current_workflow.processing? %>
      <span class="time_icon"><i class="fa fa-clock-o"></i>用时</span>
      <span class="time do_dbclick times" data-countdown='<%= current_workflow.try(:ended_at) %>' data-stationid='<%=  workstation.id %>' data-workflowid='<%= current_workflow.id %>'></span>
    <% elsif workstation.current_workflow.is_pausing? %>
      <span>施工暂停</span>
    <% else %>
      <span>无法施工</span>
    <% end %>
  </dl>

  <dl class="add_time_wrap">
    <%= link_to "加时", edit_xianchang_store_workflow_path(workstation.current_workflow), class: "add_time js-add-time fa fa-plus", remote: true %>
  </dl>
</div>
