<li class="js-vehicle <%= 'js-draggable' unless order.task_finished? %>" <%= 'draggable' unless order.task_finished? %> data-order-id="<%= order.id %>">
  <span><%= order.current_vehicle %></span>
  <%= image_tag "/images/small_car.png" %>
</li>
