<li class="js-vehicle <%= 'js-draggable' unless order.task_finished? %>" <%= 'draggable' unless order.task_finished? %> data-order='{"id": <%= order.id %>, "state": "queuing"}' id="<%= 'order-' + order.id.to_s unless order.task_finished? %>">
  <span><%= order.license_number %></span>
  <%= image_tag "/images/small_car.png" %>
</li>
