<li class="item_station">
  <div class="station_info" style="border-color:#7658cf">
    <span class="do_dbclick width-120"><%= workstation.name %></span>
    <%= link_to "编辑", edit_xianchang_store_workstation_path(workstation), remote: true, class: 'edit_button' %>
  </div>
  <% if workstation.unavailable? %>
    <div class="disable_station">
      <span>停用</span>
    </div>
  <% else %>
    <ul class="vehicle_info">
      <li class="float-left construction_info">
        <span><%= workstation.current_workflow.try(:name) %></span>
        <span class="do_dbclick times"><%= workstation.current_workflow.try(:used_time) %></span>
        <a href="#" class="add_time js-add-time">加时</a>
      </li>
      <li class="float-left license_plate">
        <span><%= workstation.current_workflow.try(:store_vehicle).try(:current_license_number )%> </span>
        <img src="/images/car_front.png">
      </li>
    </ul>
  <% end %>
</li>
