<div class="main_top">
  <h2>施工现场</h2>
</div>

<div class="details">
  <table cellspacing="0" cellpadding="0" class="on_site_top">
    <tbody>
    <tr>
      <td class="border-bottom-none">正在施工车辆</td>
      <td class="border-bottom-none">正在排队车辆</td>
      <td class="border-bottom-none">等待付款车辆</td>
      <td class="border-bottom-none">离场车辆</td>
      <td>
        <label class="width-70">技师人数</label>
        <label class="width-80 text-align-center">18</label>
      </td>
      <td>
        <label class="width-70">技师忙碌</label>
        <label class="width-80 text-align-center">16</label>
      </td>
      <td>
        <label class="width-70">工位总数</label>
        <label class="width-80 text-align-center">8</label>
      </td>
      <td>
        <label class="width-70">工位使用</label>
        <label class="width-80 text-align-center">8</label>
      </td>
      <td class="border-bottom-none">今天施工总台次</td>
    </tr>
    <tr>
      <td class="font-18 text-align-center"><%= @processing_count %><label class="margin-left-5 font-18">台</label></td>
      <td class="font-18 text-align-center"><%= @queuing_orders.count %><label class="margin-left-5 font-18">台</label></td>
      <td class="font-18 text-align-center"><%= @paying_count %><label class="margin-left-5 font-18">台</label></td>
      <td class="font-18 text-align-center"><%= @finished_count %><label class="margin-left-5 font-18">台</label></td>
      <td>
        <label class="width-70">技师到岗</label>
        <label class="width-80 text-align-center">18</label>
      </td>
      <td>
        <label class="width-70">技师空闲</label>
        <label class="width-80 text-align-center">2</label>
      </td>
      <td>
        <label class="width-70">工位正常</label>
        <label class="width-80 text-align-center">8</label>
      </td>
      <td>
        <label class="width-70">预约等待</label>
        <label class="width-80 text-align-center">0</label>
      </td>
      <td class="font-18 text-align-center">48<label class="margin-left-5 font-18">台</label></td>
    </tr>

    </tbody>
  </table>

  <div class="search_nav margin-top-5">
    <div class="item-query">
      <label class="width-85">查找项目或车辆</label>
      <input type="text" class="width-150" placeholder="车牌或项目关键字">
      <a class=" btn query_btn">查询</a>
    </div>

    <div class="item-query float-right">
      <%= link_to "新建", new_xianchang_store_workstation_path, remote: true, class: 'new_btn btn margin-left-5' %>
    </div>
  </div>

  <div class="construction_site margin-top-36 do_wrap">
    <div class="title bg-color-fb962d waiting">
      <span>等候</span>
      <span><i class="fa fa-chevron-left font-28 color-fff"></i></span>
    </div>
    <ul class="waiting">
      <%= render partial: "order", collection: @queuing_orders, as: :order %>
    </ul>
  </div>


  <div class="operating_station margin-top-36 do_wrap">
    <ul class="work_staion" id="work_station">
      <%= render partial: "workstation", collection: @workstations, as: :workstation %>
    </ul>
  </div>

  <div class="construction_site margin-top-50 do_wrap js-finished-orders">
    <div class="title bg-color-36a54a ">
      <span>完工</span>
      <span><i class="fa fa-ban font-28"></i></span>
    </div>
    <ul class="completion js-finished">
      <%= render partial: "order", collection: @finished_orders, as: :order %>
    </ul>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
$(function(){
    setInterval(function(){
      <% @workstations.each do |w| -%>
        if($("#workstation-<%= w.id %> .times").length > 0){
          var interval = parseInt($("#workstation-<%= w.id %> .times").text()) - 1;
          if(interval <= 0){
            $.ajax({
              url: "/xianchang/store_workstations/<%= w.id %>/finish",
              method: "PUT"
              }
            );
          }else{
            $("#workstation-<%= w.id %> .times").text(interval);
          }
        }
      <% end -%>
    }, 60000)
})
$(document).on("click", ".js-close", function(){
    $(this).parents(".js-dialog").remove();
})
$(document).on("click", ".js-vehicle", function(){
    var orderId = $(this).data("order").id;
    $.get("/xianchang/store_orders/" + orderId, function(){})
})
$(document).on("click", ".js-edit-construction-form", function(){
    $(".js-construction-form").show();
})
$(document).on("click", ".js-close-construction-form", function(){
    $(".js-construction-form").hide();
})
$(document).on("click", ".js-show-mechanics", function(){
    var workflow = $(this).data("id");
    $("#workflow-" + workflow).toggle();
})
$(document).on("click", ".js-mechanics li", function(){
    var workflowId = $(this).parent().data("id");
    var mechanic = "workflow-" + workflowId + "-mechanics-" + $(this).data("id");
    var item = "<li class='do_coise_close js-mechanic' id='";
    item += mechanic;
    item += "'><span>";
    item += $(this).data("name");
    item += "<i class='coise_close lnr-cross lnr js-mechanic-close'></i></span>";
    item += "<input type='hidden' name='workflow[";
    item += workflowId;
    item += "][mechanics]["
    item += $(this).data("id");
    item += "][id]' value='";
    item += $(this).data("id");
    item += "'/>";
    item += "<input type='hidden' name='workflow[";
    item += workflowId;
    item += "][mechanics][";
    item += $(this).data("id");
    item += "][name]' value='";
    item += $(this).data("name");
    item += "'/></li>";
    console.log(item);
    if($("#" + mechanic).length == 0) {
      $("#workflow-" + workflowId + "-mechanics").append(item);
    }
})
$(document).on("click", ".js-mechanic-close", function(){
    $(this).closest(".js-mechanic").remove();
})

$(document).on("dragstart", "li.js-draggable", function(e){
    var data = JSON.stringify($(e.target.parentNode).data("order"));
    e.originalEvent.dataTransfer.setData("application/json", data);
    console.log($(e.target.parentNode).data("order"));
})
$(document).on("dragover", "li.js-station", function(e){
    if (e.preventDefault) e.preventDefault();
    return false;
})
$(document).on("drop", "li.js-station", function(e){
    if (e.stopPropagation) e.stopPropagation();
    var data = e.originalEvent.dataTransfer.getData("application/json");
    if(data){
      var order = JSON.parse(data);
      var tip = order.state == 'queuing' ? '确认开始此流程？' : '是否确定结束该流程？';
      console.log(order);
      var target = $(e.target).closest("li.js-station");
      if($(target).find(".idle_station").length > 0){
        $.confirm({
          text: tip,
          confirm: function(){
            console.log("xxxx");
            $.ajax({
              url: "/xianchang/store_workstations/" + $(target).data("id") + "/perform",
              method: "PUT",
              data: {order_id: order.id}
            })
          }
        })
      }
    }
    return false;
})

$(document).on("dragover", "div.js-finished-orders", function(e){
    if (e.preventDefault) e.preventDefault();
    return false;
})

$(document).on("drop", "div.js-finished-orders", function(e){
    if (e.stopPropagation) e.stopPropagation();
    var data = e.originalEvent.dataTransfer.getData("application/json");
    if(data){
      var order = JSON.parse(data);
      var tip = "结束订单后，将不能返回，确认？";
      var target = $(e.target);
      if($(target).find(".js-finished").length > 0){
        $.confirm({
          text: tip,
          confirm: function(){
            $.ajax({
              url: "/xianchang/store_orders/" + order.id + "/terminate",
              method: "PUT",
              data: {from: order.state}
            })
          }
        })
      }
    }
    return false;
})
</script>
