<% content_for :pre_assets do %>
  <%= stylesheet_link_tag "/stylesheets/kehu.css" %>
<% end %>
  <div class="main_top margin-left-0">
    <h2>客户列表</h2>
    <span class="margin-left-20 font-16 main_top_span">客户详情</span>
    <a class="back_to_list" href="index.html">
      <i class="fa-arrow-circle-left  fa" ></i>
      返回列表
    </a>
  </div>
  <div class="details">
    <div class="details_nav">
    	<ul>
    		<li id="kehushow" class="active"><a href="/mis/kehu/kehuliebiao/kehushow.html?kehushow" class="width-90">信息</a></li>
    		<li id="zichanzhanghu"><a href="/mis/kehu/kehuliebiao/zichanzhanghu.html?zichanzhanghu" class="width-90 ">资产账户</a></li>
    		<li id="cheliangdangan"><a href="/crm/store_customers/1/store_vehicle_archives/2/information" class="width-90">车辆档案</a></li>
    		<li id="xiaofeijilu"><a href="/mis/kehu/kehuliebiao/xiaofeijilu.html?xiaofeijilu" class="width-90">消费记录</a></li>
    		<li id="huifangjilu"><a href="/mis/kehu/kehuliebiao/huifangjilu.html?huifangjilu" class="width-90">回访记录</a></li>
    		<li id="yixiang"><a href="/mis/kehu/kehuliebiao/yixiangchanpin.html?yixiang" class="width-90 ">意向产品</a></li>
    		<li id="tousu"><a href="/mis/kehu/kehuliebiao/tousu.html?tousu" class="width-90">投诉记录</a></li>
    		<li id="manyidu"><a href="/mis/kehu/kehuliebiao/manyidu.html?manyidu" class="width-90">满意度</a></li>
    	</ul>
    </div>

    <ul class="page_card">
      <li class="active" data-id="1" >
        <a href="javascript:void(0)">01</a>
        <span class="border-color-F76250"></span>
      </li>
      <li data-id="2">
        <a href="javascript:void(0)">02</a>
        <span class="border-color-9ADB51"></span>
      </li>
      <li data-id="3">
        <a href="javascript:void(0)">03</a>
        <span class="border-color-89CDED"></span>
      </li data-id="4">
      <li class="add_carinfo" id="new">
        <a href="new.html">+</a>
        <span class="border-color-94A1A6"></span>
      </li>
    </ul>
    <div class="car_details float-right">

      <div class="details_nav_second">
        <ul class="goods_nav">
          <li class="bg-color-5e3aa9"><a href="/crm/store_customers/1/store_vehicle_archives/2/information" class="width-90 color-fff">车辆信息</a></li>
          <li  ><a href="cheliangzhuangkuang.html?cheliangdangan" class="width-90  ">车辆状况</a></li>
          <li ><a href="fuwujilu.html?cheliangdangan" class="width-90">服务记录</a></li>
          <li ><a href="baodanlishi.html?cheliangdangan" class="width-90">保单历史</a></li>
        </ul>
         <ul class="handle_nav">
           <li><i class="fa fa-arrow-up cursor-pointer up"></i></li>
           <li><i class="fa  fa-arrow-down cursor-pointer down"></i></li>
           <li><i class="fa fa-times delete_car cursor-pointer">删除车辆</i></li>
         </ul>
      </div>
      <div class="details_content car_content">
          <div class="base_info car_{{ i.id }}">
            <div class="car_main_img border-none float-left">
              <%= image_tag  "car_01.png" %>
            </div>
            <div class="car_info">
              <%= form_for @vehicle, url: crm_store_customer_store_vehicle_archive_path do |f| %>
              <div class="items">
                <%= f.fields_for :plates, @vehicle.plates.build do |ff| %>
                  <div class="item_content">
                    <%= ff.label "车牌号码", class: 'width-75' %>
                    <%= ff.text_field :license_number, value: @vehicle.plates.last.license_number, class: 'width-165' %>
                  </div>
                <% end %>
                <div class="item_content">
                  <%= f.label "品牌", class: 'width-75' %>
                  <%= f.select :vehicle_brand_id, VehicleBrand.all.pluck(:name, :id), {}, {class: "width-165"} %>
                </div>
                <div class="item_content">
                  <%= f.label "车型", class: 'width-75' %>
                  <%= f.select :vehicle_model_id, VehicleModel.all.pluck(:name, :id), {}, {class: "width-165"} %>
                </div>
                <div class="item_content">
                  <%= f.label "车系", class: 'width-75' %>
                  <%= f.select :vehicle_series_id, VehicleSeries.all.pluck(:name, :id), {}, {class: "width-165"} %>
                </div>
                <%= f.fields_for :frame do |ff| %>
                  <div class="item_content">
                    <%= ff.label 'VIN号码', class: 'width-75' %>
                    <%= ff.text_field :vin, class: 'width-165' %>
                  </div>
                <% end %>
                <%= f.fields_for :engines, @vehicle.engines.build do |ff| %>
                  <div class="item_content">
                    <%= ff.label '发动机号码', class: 'width-75' %>
                    <%= ff.text_field :identification_number, value: @vehicle.engines.last.identification_number, class: 'width-165' %>
                  </div>
                <% end %>
                <%= f.fields_for :detail do |ff| %>
                  <div class="item_content">
                    <%= ff.label '颜色', class: 'width-75' %>
                    <%= ff.text_field :color, class: 'width-165', value: @vehicle.detail["color"] %>
                  </div>
                  <div class="item_content">
                    <%= ff.label '座位数', class: 'width-75' %>
                    <%= ff.text_field :capacity, class: 'width-165', value: @vehicle.detail["capacity"] %>
                  </div>
                  <div class="item_content">
                    <%= f.label '档案编号', class: 'width-75' %>
                    <%= f.text_field :numero, class: 'width-165' %>
                  </div>
                  <div class="item_content">
                    <%= ff.label '车辆性质', class: 'width-75' %>
                    <%= ff.text_field :organization_type, class: 'width-165', value: @vehicle.detail["organization_type"] %>
                  </div>
                  <div class="item_content">
                    <%= ff.label '上牌时间', class: 'width-75' %>
                    <%= ff.text_field :registered_on, class: 'width-165', value: @vehicle.detail["registered_on"] %>
                  </div>
                  <div class="item_content">
                    <%= ff.label '公里数', class: 'width-75' %>
                    <%= ff.text_field :mileage, class: 'width-165', value: @vehicle.detail["mileage"] %>
                  </div>
                  <div class="item_content">
                    <%= ff.label '购买日期', class: 'width-75' %>
                    <%= ff.text_field :bought_on, class: 'width-165', value: @vehicle.detail["bought_on"] %>
                  </div>
                  <div class="item_content">
                    <%= ff.label '出厂日期', class: 'width-75' %>
                    <%= ff.text_field :ex_factory_date, class: 'width-165', value: @vehicle.detail["detailex_factory_date"] %>
                  </div>
                  <div class="item_content">
                    <%= ff.label '最近保养时间', class: 'width-75' %>
                    <%= ff.text_field :maintained_at, class: 'width-165', value: @vehicle.detail["maintained_at"] %>
                  </div>
                  <div class="item_content">
                    <%= ff.label '最近保养里程', class: 'width-75' %>
                    <%= ff.text_field :maintained_mileage, class: 'width-165', value: @vehicle.detail["maintained_mileage"] %>
                  </div>
                  <div class="item_content">
                    <%= ff.label '完整度', class: 'width-75' %>
                    <span class="stars width-165">
                      <i class="fa fa-star color-FF7539"></i>
                      <i class="fa fa-star-o color-FF7539"></i>
                    </span>
                  </div>
                </div>
                  <!-- ================================= -->
                <div class="float-left">
                  <div class="bg-color-efeae5 float-left margin-top-10">
                    <div class="item_content">
                      <%= f.label '年检时间', class: 'width-75' %>
                      <%= ff.text_field :annual_check_at, class: 'width-165', value: @vehicle.detail["annual_check_at"] %>
                    </div>
                    <div class="item_content">
                      <label class="width-75">自动提醒</label>
                      <span class="display-inline-block width-80 text-align-right">
                        <label>客户</label>
                        <%= ff.check_box :annual_check_customer_alermify, value: 'true', checked: @vehicle.detail["annual_check_customer_alermify"] ? true : false %>
                      </span>
                      <span class=" width-70 text-align-right padding-right-7">
                        <label>系统</label>
                        <%= ff.check_box :annual_check_store_alermify, value: 'true', checked: @vehicle.detail["annual_check_store_alermify"] ? true : false %>
                      </span>
                    </div>
                    <div class="item_content margin-right-150">
                      <%= f.label '保险公司', class: 'width-75' %>
                      <%= ff.text_field :insurance_compnay, class: 'width-165', value: @vehicle.detail["insurance_compnay"] %>
                    </div>
                    <div class="item_content">
                      <%= f.label '保险截至', class: 'width-75' %>
                      <%= ff.text_field :insurance_expire_at, class: 'width-165', value: @vehicle.detail["insurance_expire_at"] %>
                    </div>
                    <div class="item_content">
                      <label class="width-75">自动提醒</label>
                      <span class="display-inline-block width-80 text-align-right">
                        <label>客户</label>
                        <%= ff.check_box :insurance_customer_alermify, value: 'true', checked: @vehicle.detail["insurance_customer_alermify"] ? true : false %>
                      </span>
                      <span class="display-inline-block width-70 text-align-right padding-right-7">
                        <label>系统</label>
                        <%= ff.check_box :insurance_store_alermify, value: 'true', checked: @vehicle.detail["insurance_store_alermify"] ? true : false %>
                      </span>
                    </div>
                  </div>

                    <div class="bg-color-efeae5 float-left margin-top-10">
                      <div class="item_content">
                        <%= ff.label '保养间隔时间', class: 'width-75' %>
                        <%= ff.text_field :maintain_interval_time, class: 'width-165', value: @vehicle.detail["maintain_interval_time"] %>
                      </div>
                      <div class="item_content">
                        <%= ff.label '保养间隔里程', class: 'width-75' %>
                        <%= ff.text_field :maintain_interval_mileage, class: 'width-165', value: @vehicle.detail["maintain_interval_mileage"] %>
                      </div>
                      <div class="item_content">
                        <label class="width-75">自动提醒</label>
                        <span class="display-inline-block width-80 text-align-right">
                          <label>客户</label>
                          <%= ff.check_box :next_maintain_customer_alermify, value: 'true', checked: @vehicle.detail["next_maintain_customer_alermify"] ? true : false %>
                        </span>
                        <span class="display-inline-block width-75 text-align-right padding-right-7">
                          <label>系统</label>
                          <%= ff.check_box :next_maintain_store_alermify, value: 'true', checked: @vehicle.detail["next_maintain_store_alermify"] ? true : false %>
                        </span>
                      </div>
                      <div class="item_content">
                        <%= ff.label '下次保养里程', class: 'width-75' %>
                        <%= ff.text_field :next_maintain_mileage, class: 'width-165', value: @vehicle.detail["next_maintain_mileage"] %>
                      </div>
                      <div class="item_content next_maintenance_time">
                        <%= f.label '下次保养时间', class: 'width-75' %>
                        <%= ff.text_field :next_maintain_at, class: 'width-165', value: @vehicle.detail["next_maintain_at"] %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <div class="btn_group">
                <%= f.submit '保存', class: 'save_btn btn' %>
              </div>

            <% end %>
          </div>
      </div>
    </div>
  </div>
