<% content_for :pre_assets do %>
  <%= stylesheet_link_tag "/stylesheets/kehu.css" %>
<% end %>

<%= render 'page_head' %>

  <div class="details">
    <%= render 'customer_nav' %>

    <div class="car_details float-right">

      <%= render 'sub_nav' %>

      <div class="details_content car_content">
          <div class="base_info">
            <div class="car_main_img border-none float-left">
              <%= image_tag  "car_01.png" %>
            </div>
            <div class="car_info">
              <div class="items">
                <%= form_for @vehicle, url: crm_store_customer_store_vehicle_archive_path do |f| %>
                  <%= render 'show_form' %>
                  <%= render 'form', f: f %>
                  <div class="btn_group">
                    <%= f.submit '保存', class: 'save_btn btn' %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
