<% content_for :pre_assets do %>
  <%= stylesheet_link_tag "/stylesheets/kehu.css" %>
<% end %>
  <div class="main_top margin-left-0">
    <h2>客户列表</h2>
    <span class="margin-left-20 font-16 main_top_span">客户详情</span>
    <a class="back_to_list" href="index.html">
      <i class="fa-arrow-circle-left  fa" ></i>
      返回列表
    </a>
  </div>
  <div class="details">
    <div class="details_nav">
    	<ul>
    		<li id="kehushow" class="active"><a href="/mis/kehu/kehuliebiao/kehushow.html?kehushow" class="width-90">信息</a></li>
    		<li id="zichanzhanghu"><a href="/mis/kehu/kehuliebiao/zichanzhanghu.html?zichanzhanghu" class="width-90 ">资产账户</a></li>
    		<li id="cheliangdangan"><%= link_to '保养间隔时间(天)', new_crm_store_customer_store_vehicle_archive_path, class: 'width-90' %></li>
    		<li id="xiaofeijilu"><a href="/mis/kehu/kehuliebiao/xiaofeijilu.html?xiaofeijilu" class="width-90">消费记录</a></li>
    		<li id="huifangjilu"><a href="/mis/kehu/kehuliebiao/huifangjilu.html?huifangjilu" class="width-90">回访记录</a></li>
    		<li id="yixiang"><a href="/mis/kehu/kehuliebiao/yixiangchanpin.html?yixiang" class="width-90 ">意向产品</a></li>
    		<li id="tousu"><a href="/mis/kehu/kehuliebiao/tousu.html?tousu" class="width-90">投诉记录</a></li>
    		<li id="manyidu"><a href="/mis/kehu/kehuliebiao/manyidu.html?manyidu" class="width-90">满意度</a></li>
    	</ul>
    </div>

    <ul class="page_card">
      <li class="active" data-id="1" >
        <a href="javascript:void(0)">01</a>
        <span class="border-color-F76250"></span>
      </li>
      <li data-id="2">
        <a href="javascript:void(0)">02</a>
        <span class="border-color-9ADB51"></span>
      </li>
      <li data-id="3">
        <a href="javascript:void(0)">03</a>
        <span class="border-color-89CDED"></span>
      </li data-id="4">
      <li class="add_carinfo" id="new">
        <a href="new.html">+</a>
        <span class="border-color-94A1A6"></span>
      </li>
    </ul>
    <div class="car_details float-right">

      <div class="details_nav_second">
        <ul class="goods_nav">
          <li class="bg-color-5e3aa9"><%= link_to 'vehicle_nav', new_crm_store_customer_store_vehicle_archive_path, class: 'width-90 color-fff' %></li>
          <li  ><a href="cheliangzhuangkuang.html?cheliangdangan" class="width-90  ">车辆状况</a></li>
          <li ><a href="fuwujilu.html?cheliangdangan" class="width-90">服务记录</a></li>
          <li ><a href="baodanlishi.html?cheliangdangan" class="width-90">保单历史</a></li>
        </ul>
         <ul class="handle_nav">
           <li><i class="fa fa-arrow-up cursor-pointer up"></i></li>
           <li><i class="fa  fa-arrow-down cursor-pointer down"></i></li>
           <li><i class="fa fa-times delete_car cursor-pointer">删除车辆</i></li>
         </ul>
      </div>
      <div class="details_content car_content">
          <div class="base_info car_{{ i.id }}">
            <div class="car_main_img border-none float-left">
              <%= image_tag  "car_01.png" %>
            </div>

            <div class="car_info">
              <%= form_for @vehicle_file , url: customer_store_vehicle_files_path do |f| %>
              <div class="section">
                <%= f.fields_for :store_vehicle_registration_plates do |ff| %>
                <div class="item_content">
                  <%= ff.label "车牌号码", class: 'width-75' %>
                  <%= ff.text_field :license_number , class: 'width-165'%>
                </div>
                <% end %>
                <%= f.fields_for :vehicle_brand do |ff| %>
                <div class="item_content">
                  <%= ff.label '品牌', class: 'width-75' %>
                  <%= ff.text_field :name, class: 'width-165' %>
                </div>
                <% end %>
                <%= f.fields_for :frame do |ff| %>
                <div class="item_content">
                  <%= ff.label 'VIN号码', class: 'width-75' %>
                  <%= ff.text_field :vin, class: 'width-165' %>
                </div>
                <% end %>
                <div class="item_content">
                  <label class="width-75">发动机号码</label>
                  <input type="text" name="engine_number" class="width-165">
                </div>
                <div class="item_content">
                  <label class="width-75">档案编号</label>
                  <input type="text" name="file_number"  class="width-165">
                </div>
                <div class="item_content">
                  <label class="width-75">车辆性质</label>
                  <input type="text" name="vehicle_character" class="width-165">
                </div>
                <div class="item_content">
                  <label class="width-75">购买日期</label>
                  <input type="text" name="purchase_date" class="width-165">
                </div>
                <div class="item_content">
                  <label class="width-75">出厂日期</label>
                  <input type="text" name="factory_date" class="width-165">
                </div>
                <div class="item_content">
                  <label class="width-75">最近保养时间</label>
                  <input type="text" name="recent_maintenance_time"  class="width-165">
                </div>
                <div class="item_content">
                  <label class="width-75">最近保养里程</label>
                  <input type="text" name="recent_maintenance_km" class="width-165">
                </div>

                <div class="bg-color-efeae5 float-left margin-top-10">
                  <div class="item_content">
                    <label class="width-75">保养间隔时间</label>
                    <input type="text" name="maintenance_interval"  class="width-165">
                  </div>
                  <div class="item_content">
                    <label class="width-75">保养间隔里程</label>
                    <input type="text" name="maintenance_interval_mileage" class="width-165">
                  </div>
                  <div class="item_content">
                    <label class="width-75">自动提醒</label>
                    <span class="display-inline-block width-80 text-align-right">
                      <label>客户</label>
                      <input type="radio"  name="remind_02">
                    </span>
                    <span class="display-inline-block width-75 text-align-right padding-right-7">
                      <label>系统</label>
                      <input type="radio"  name="remind_02">
                    </span>
                  </div>
                  <div class="item_content">
                    <label class="width-75">下次保养里程</label>
                    <input type="text" name="nex_maintenance_mileage"  class="width-165">
                  </div>
                  <div class="item_content next_maintenance_time">
                    <label class="width-75">下次保养时间</label>
                    <input type="text"  name="nex_maintenance_time" class="width-165">
                  </div>
                </div>
              </div>

              <div class="section">
                <div class="item_content">
                  <label class="width-75">车型</label>
                  <input type="text" name="model" class="width-165">
                </div>
                <div class="item_content">
                  <label class="width-75">车系</label>
                  <input type="text" name="cars" class="width-165">
                </div>
                <div class="item_content">
                  <label class="width-75">颜色</label>
                  <input type="text" name="color" class="width-165">
                </div>
                <div class="item_content">
                  <label class="width-75">座位数</label>
                  <input type="text"  name="seating" class="width-165">
                </div>
                <div class="item_content">
                  <label class="width-75">建档人</label>
                  <input type="text" name="bulid_block"  class="width-165">
                </div>
                <div class="item_content">
                  <label class="width-75">建档日期</label>
                  <input type="text"  name="bulid_block_date" class="width-165" readonly="true" value="2015-06-05">
                </div>
                <div class="item_content">
                  <label class="width-75">上牌时间</label>
                  <input type="text" name="license_plate_time" class="width-165">
                </div>
                <div class="item_content">
                  <label class="width-75">公里数</label>
                  <input type="text" name="km_number"  class="width-165">
                </div>
                <div class="item_content">
                  <label class="width-75">完整度</label>
                  <span class="stars width-165">
                    <i class="fa fa-star color-FF7539"></i>
                    <i class="fa fa-star-o color-FF7539"></i>
                  </span>
                </div>
                <div class="item_content">
                  <label class="width-75">停用</label>
                  <input type="checkbox" class="width-13">
                </div>

                <div class="bg-color-efeae5 float-left margin-top-10">
                  <div class="item_content">
                    <label class="width-75">年检时间</label>
                    <input type="text"  name="inspection_time"  class="width-165">
                  </div>
                  <div class="item_content">
                    <label class="width-75">自动提醒</label>
                    <span class="display-inline-block width-80 text-align-right">
                      <label>客户</label>
                      <input type="radio" name="remind_01">
                    </span>
                    <span class=" width-70 text-align-right padding-right-7">
                      <label>系统</label>
                      <input type="radio"  name="remind_01">
                    </span>
                  </div>
                  <div class="item_content margin-right-150">
                    <label class="width-75">保险公司</label>
                    <input type="text" name="insurers"  class="width-165">
                  </div>
                  <div class="item_content">
                    <label class="width-75">保险截至</label>
                    <input type="text" name="Insurance_deadline"  class="width-165">
                  </div>
                  <div class="item_content">
                    <label class="width-75">自动提醒</label>
                    <span class="display-inline-block width-80 text-align-right">
                      <label>客户</label>
                      <input type="radio"  name="remind_03">
                    </span>
                    <span class="display-inline-block width-70 text-align-right padding-right-7">
                      <label>系统</label>
                      <input type="radio"  name="remind_03">
                    </span>

                  </div>
                </div>

              </div>

              <div class="btn_group">
                <%= f.submit '保存', class: 'save_btn btn' %>
                <!-- <a class="save_btn btn" href="show.html?cheliangdangan" >保存</a> -->
              </div>
            </div>
            <% end %>
          </div>
      </div>
    </div>
  </div>
