<div class="main_top">
  <h2>入库</h2>
  <span class="add_span">+</span>
</div>
<div class="details">
  <div class="in_storage_list list_table">
      <div class="search_nav">
        <div class="item-query">
          <label>入库方式</label>
          <input type="hidden" name='material[in_store_type_id]' value="">
          <span id='in_store_type_id' class="width-157 as_select" data-select='#in_store_type_select' data-target='input[name="material[in_store_type_id]"]'>按订单入库</span>
          <div id='in_store_type_select' class="select width-165">
            <ol class="width-165">
              <li data-value="1"><a href="javascript:void(0)">按订单入库</a></li>
              <li data-value="2"><a href="/kucun/transfer/receipts/new">转移入库</a></li>
              <li data-value="3"><a href="/kucun/checkins/new">按商品入库</a></li>
            </ol>
          </div>
        </div>
        <div class="item-query">
          <label>查找订货单</label>
          <select type="text" class="width-150">
            <option></option>
            <option></option>
          </select>
        </div>
        <div class="item-query">
          <label>供应商</label>
          <select id='store_supplier_id' name='store_supplier_id' type="text" class="width-150">
            <%= options_from_collection_for_select(@store.store_suppliers, :id, :name, params[:store_supplier_id]) %>
          </select>
        </div>
        <div class="item-query">
         <a href="#" class="query_btn btn">查<nbsp2></nbsp2>询</a>
        </div>
        <div class="query_div">
         <a  href="#" class="in_stg_btn btn">入库</a>
         <a  href="/kucun/material_inventories/" class="notes_btn btn">记录</a>
        </div>
      </div>
      <div class="in_storage common_storage by_orders">
        <div class="list">
          <div class="list_top list_tr">
            <ul>
              <li>#</li>
              <li>时间</li>
              <li>订货单号</li>
              <li>订货商</li>
              <li>金额</li>
              <li>明细</li>
              <li>操作</li>
            </ul>
          </div>
          <div class="list_contents">

            <% @store_material_orders.each_with_index do |order, idx| %>
            <div class="list_content list_tr border_left">
                <ul>
                  <li><%= idx + 1%>.</li>
                  <li><%= order.created_at.to_s(:date_only) %></li>
                  <li><%= order.numero %></li>
                  <li><%= order.store_supplier.name %></li>
                  <li><%= order.amount %></li>
                  <li>
                    包含‘<%= order.items.first.store_material.name.to_s.truncate(11) %>’等<%= order.items.length %>类商品。
                  </li>
                  <li>
                    <input type="checkbox" data-id='<%= order.id %>' data-supplier='<%= order.store_supplier.name %>' data-order='<%= order.to_json %>' data-items='<%= json_for(order.items) %>' name="sub_check">
                    <i class="fa fa-chevron-down chevrondow chevron float-right detailsbtn"></i>
                  </li>
                </ul>
            </div>
            <div class="common_storage_content float-left ordergoods_details" style="display:none;">
          		<table cellpadding="0" cellspacing="0" class="storage_tab storage_details_tab">
          			<thead>
          				<tr class="bg-color-e0e2cf color-282726">
          					<th>商品</th>
          					<th>规格</th>
          					<th>单位</th>
          					<th>单价</th>
          					<th>数量</th>
          				</tr>
          			</thead>
          			<tbody>
          				<% order.items.each do |item| %>
          				<tr>
          					<td><%= item.store_material.name %></td>
          					<td><%= item.store_material.speci %></td>
          					<td><%= item.store_material.store_material_unit.name %></td>
          					<td><%= item.price %></td>
          					<td><%= item.quantity %></td>
          				</tr>
          				<% end %>
          			</tbody>
          		</table>
            </div>
           <% end %>
         </div>
        </div>
    </div>
  </div>

  <div class="in_storage_content common_storage_content float-left  margin-bottom-50 margin-top-80">
    <%= form_tag '/kucun/material_inventories', id: 'inventory_form' do %>
    <input type="hidden" id='order_id' name='order_id'/>
    <div class="in_storage_query">
      <div class="nav-item-query">
        <div class="font-20 font-borderradius text-align-center">入</div>
      </div>
      <div class="nav-item-query">
        <label>时间：</label>
        <input type="text" class="width-135" value="<%= Time.now.to_s(:date_only) %>" readonly>
      </div>
      <div class="nav-item-query">
        <label>单号：</label>
        <input type="text" class="width-135" value="<%= make_numero("IN") %>" readonly>
      </div>
      <div class="nav-item-query">
        <label>供应商：</label>
        <input id='order_supplier' type="text" value="" class="width-240" readonly>
      </div>
      <div class="nav-item-query">
        <label>数量：</label>
        <input id='total_quantity' type="text" class="width-135" readonly>
      </div>
      <div class="nav-item-query">
        <label>金额：</label>
        <input id='total_amount' type="text" class="width-135" readonly>
      </div>
      <div class="in_storage_print">
        <a href="#" class="print_btn">打<nbsp1></nbsp1>印</a>
        <a href="#" class="print_barcode_btn">打印条码</a>
      </div>
    </div>
    <div class="in_storage_tab common_storage_tab">
      <table cellpadding="0" cellspacing="0" id="storage_tab" class="check_order storage_tab" data-depots='<%= @store.store_depots.to_json %>'>
        <thead>
          <tr class="bg-color-e0e2cf color-282726">
            <th>#</th>
            <th>商品名称</th>
            <th>条码</th>
            <th>规格</th>
            <th>单位</th>
            <th>一级分类</th>
            <th>二级分类</th>
            <th>单价</th>
            <th>订货数量</th>
            <th>入库数量</th>
            <th>仓库</th>
            <th>小计</th>
            <th>操作</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="common_storage_account">
        <div class="item_content margin-left-10" >
          <label class="width-75">备注：</label>
          <textarea class="remarks_textarea"></textarea>
        </div>
        <div class="item_content  margin-left-10">
          <label class="width-75">制单人：</label>
          <label class="width-253"><%= current_user.screen_name %></label>
        </div>
      </div>
    </div>
    <div class="btn_group">
      <input type='submit' class="in_stg_btn" value='入库' />
    </div>
    <% end %>
  </div>
</div>


<% content_for :scenes do %>
  <div id="FloatWindow">
    <div class="FloatContent" style="width:600px">
      <div class="fheader"><span>系统提示</span><i title='取消' type='button' class="lnr lnr-cross close_window do_close" data-action=0></i></div>
      <span><nbsp1></nbsp1>以下商品入库数量与订单数量不一致，请处理</span>
      <div class="textbody float-left">
        <table>
          <thead>
            <tr>
              <th>商品名称</th><th>条码</th><th>一级分类</th><th>二级分类</th><th>订货数量</th><th>入库数量</th><th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                老师地方
              </td>
              <td>
                sdfajsd
              </td>
              <td>
                ssdaf
              </td>
              <td>
                fsafsdf
              </td>
              <td>
                3
              </td>
              <td>
                5
              </td>
              <td>
                <input type="button" value="按订单数" title="系统将按照订单上的数量进行入库">
                <input type="button" value="按实入数" title="系统将修改订单数量并按照新的数量入库">
                <input type="button" value="挂起" title="系统将先入一部分，并挂起订单以便后续处理">
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="ffooter">
        <input type="button" value="好了"  class="confirm_btn">
        <input type="button" value="取消" class="cancel_btn">
      </div>
    </div>
  </div>

  <template id="lt_confirm">
    <header class="bg-color-311951"></header>
    <div class="fheader"><span>系统提示</span><i title='取消' type='button' class="lnr lnr-cross close_window do_close" data-action=0></i></div>
    <div class="textbody float-left">
      <div class="float-left width-50 text-align-center"><i class="lnr lnr-info font-34"></i></div>
      <div class="float-left font-14 " style="width:380px; line-height:30px;">商品 「商品1」 「商品2」 「商品3」入库数量小于订货数量，请选择处理方式</div>
    </div>
    <div class="ffooter">
      <input title='选择此处理方式按输入的入库数量录入，并将订单上的订货数量修改。' data-action=1 type="button" value="按实际入并修改订单数量"  class="confirm_btn">
      <input title='选择此处理方式会入库一部分，将剩余部分挂起以便后续处理。' data-action=2 type="button" value="按实际入并挂起订单"  class="confirm_btn">
      <input type="button" value="取消" class="cancel_btn" data-action=0>
    </div>
  </template>

  <template id="gt_confirm">
    <header class="bg-color-311951"></header>
    <div class="fheader"><span>系统提示</span><i title='取消' type='button' class="lnr lnr-cross close_window do_close" data-action=0></i></div>
    <div class="textbody float-left">
      <div class="float-left width-50 text-align-center"><i class="lnr lnr-info font-34"></i></div>
      <div class="float-left font-14 " style="width:380px; line-height:30px;">商品「商品1」「商品2」「商品3」入库数量大于订货数量，是否更改订货数量为实入数量？ </div>
    </div>
    <div class="ffooter">
      <input data-action=1 type="button" value="确定"  class="confirm_btn">
      <input type="button" value="取消" class="cancel_btn" data-action=0>
    </div>
  </template>
<% end %>

<% content_for :javascripts do %>
  <script>
    jQuery(function(){

      function calc_total() {
        var _total_quantity=0,
            _total_amount = 0;
        $('#storage_tab > tbody > tr').each(function(){
          var _input = this.cells[9].children[0];
          var quantity = parseInt(_input.value);
          _total_quantity += quantity;
          _total_amount += (_input.dataset.price*quantity);
        });
        $("#total_amount").val(_total_amount.toFixed(2));
        $("#total_quantity").val(_total_quantity);
      }
      var tm = JST['kucun/material_inventories/new/chosen'];
      var boxdd = null;
      $('.list').on('change', 'input[type=checkbox]', function(event){
           if(this.checked){
             if(boxdd && boxdd!=this){
               boxdd.checked = false;
             }
             boxdd = this;
             var $this = $(this);
             var order = $this.data('order');
             var html = '';
             $("#order_id").val(order.id);
             $("#total_amount").val(order.amount);
             $("#total_quantity").val(order.quantity);
             $("#order_supplier").val(this.dataset.supplier);
             var items = $this.data('items');
             items.forEach(function(item){
               html += tm({item: item, store_depots: $('#storage_tab').data('depots')})
            });
            $("#storage_tab > tbody").html(html);
         }else{
           $("#storage_tab > tbody").html('');
         }
      });

      $('#storage_tab').on('click', 'i.lnr-trash', function(event){
        confirm("请问删除操作？ 1 不入库此商品，并从订单删除  2 本次不入库，挂起下次入库");
        var tr = $(this).closest('tr');
        var id=tr[0].dataset.id;
        var order_id = $("#order_id").val();
        tr.remove();
        calc_total();
        if($('#storage_tab > tbody').children().length < 1){
          $('input[data-id="'+order_id+'"]').removeAttr('checked');
        }
      });

      $('#storage_tab').on('dblclick', 'input.quantity', function(){
        this.readOnly=false;
      });

      $('#storage_tab').on('input', 'input.quantity', function(){
        var tr = $(this).closest('tr');
        var amount = (this.value * this.dataset.price).toFixed(4)
        tr.find('.amount').html(amount);
        calc_total();
      });

      $("#inventory_form").on('submit', function(){
        if($("#storage_tab > tbody > tr").length < 1){
          ZhanchuangAlert('未选择任何商品进行入库！');
          return false;
        }
        var gts = [], lts=[];
        $("input[name$='[received_quantity]'").each(function(idx, input){
          if(input.value > input.dataset.quantity){
            gts.push(input);
          }
          if(input.value < input.dataset.quantity){
            lts.push(input);
          }
        });

        if(gts.length > 0 || lts.length > 0){
          return false;
        }
      });

      /*展开订单详情*/
      $('.list_contents').on('click', 'i.detailsbtn', function(){
        if(this.classList.contains('fa-chevron-down')){
          this.classList.remove('fa-chevron-down');
          this.classList.add('fa-chevron-up');
        }else{
          this.classList.remove('fa-chevron-up');
          this.classList.add('fa-chevron-down');
        };
        $(this).parents('.list_content').next().toggle();
      });

      $("#store_supplier_id").select2();
    });
  </script>
<% end %>
