
<div class="main_top">
  <%= breadcrumb_navigation(['库存', '入库', '按订单入库']) %>
</div>
<div class="details">
  <div class="in_storage_list list_table">
      <div class="search_nav">
        <div class="item-query">
          <label>入库方式</label>
          <input type="hidden" name='material[in_store_type_id]' value="">
          <span id='in_store_type_id' class="width-157 as_select" data-select='#in_store_type_select' data-target='input[name="material[in_store_type_id]"]'>按订单入库</span>
          <div id='in_store_type_select' class="select width-165" style="display: none">
            <ol class="width-165">
              <li data-value="1"><a href="javascript:void(0)">按订单入库</a></li>
              <li data-value="2"><a href="/kucun/transfer/receipts/new">按移库单入库</a></li>
              <li data-value="3"><a href="/kucun/checkins/new">按商品入库</a></li>
            </ol>
          </div>
        </div>

        <div class="query_div">
         <a  href="#" class="in_stg_btn btn">入库</a>
         <a  href="/kucun/purchase/receipts" class="notes_btn btn">记录</a>
        </div>
      </div>
      <div class="in_storage common_storage by_orders">
        <div class="list">
          <div class="list_top list_tr">
            <ul>
              <li>#</li>
              <li>时间</li>
              <li>订货单号</li>
              <li>订货商</li>
              <li>金额</li>
              <li>明细</li>
              <li>操作</li>
            </ul>
          </div>
          <div class="list_contents">

            <% @store_material_orders.each_with_index do |order, idx| %>
            <div class="list_content list_tr border_left">
                <ul>
                  <li><%= idx + 1%>.</li>
                  <li><%= order.created_at.to_s(:date_only) %></li>
                  <li><%= order.numero %></li>
                  <li><%= order.store_supplier.name %></li>
                  <li><%= order.amount %></li>
                  <li>
                    包含‘<%= order.items.first.store_material.name.to_s.truncate(11) %>’等<%= order.items.length %>类商品。
                  </li>
                  <li>
                    <input type="checkbox" data-id='<%= order.id %>' data-supplier='<%= order.store_supplier.name %>' data-order='<%= order.to_json %>' data-items='<%= json_for(order.items.suspense) %>' name="sub_check">
                    <i class="fa fa-chevron-down chevrondow chevron float-right detailsbtn"></i>
                  </li>
                </ul>
            </div>
            <div class="common_storage_content float-left ordergoods_details" style="display:none;">
          		<table cellpadding="0" cellspacing="0" class="storage_tab storage_details_tab">
          			<thead>
          				<tr class="bg-color-e0e2cf color-282726">
          					<th>商品</th>
          					<th>规格</th>
          					<th>单位</th>
          					<th>单价</th>
          					<th>数量</th>
                    <th>状态</th>
          				</tr>
          			</thead>
          			<tbody>
          				<% order.items.each do |item| %>
          				<tr>
          					<td><%= item.store_material.name %></td>
          					<td><%= item.store_material.speci %></td>
          					<td><%= item.store_material.store_material_unit.name %></td>
          					<td><%= item.price %></td>
          					<td><%= item.quantity %></td>
                    <td>
                      <% if item.process == 100 %>
                      已入库
                      <% else %>
                      未入库
                      <% end %>
                    </td>
          				</tr>
          				<% end %>
          			</tbody>
          		</table>
            </div>
           <% end %>
         </div>
        </div>
    </div>
  </div>

  <div class="in_storage_content common_storage_content float-left  margin-bottom-50 margin-top-80">
    <%= form_tag '/kucun/material_inventories', id: 'inventory_form' do %>
    <input type="hidden" id='order_id' name='order_id'/>
    <div class="in_storage_query">
      <div class="nav-item-query">
        <div class="font-20 font-borderradius text-align-center">入</div>
      </div>
      <div class="nav-item-query">
        <label>时间：</label>
        <input type="text" class="width-135" value="" readonly>
      </div>
      <div class="nav-item-query">
        <label>单号：</label>
        <input type="text" class="width-135" value="" readonly>
      </div>
      <div class="nav-item-query">
        <label>供应商：</label>
        <input id='order_supplier' type="text" value="" class="width-240" readonly>
      </div>
      <div class="nav-item-query">
        <label>数量：</label>
        <input id='total_quantity' type="text" class="width-135" readonly>
      </div>
      <div class="nav-item-query">
        <label>金额：</label>
        <input id='total_amount' type="text" class="width-135" readonly>
      </div>
    </div>
    <div class="in_storage_tab common_storage_tab">
      <table cellpadding="0" cellspacing="0" id="storage_tab" class="check_order storage_tab" data-depots='<%= @store.store_depots.to_json %>'>
        <thead>
          <tr class="bg-color-e0e2cf color-282726">
            <th>#</th>
            <th>商品名称</th>
            <th>条码</th>
            <th>规格</th>
            <th>单位</th>
            <th>一级分类</th>
            <th>二级分类</th>
            <th>单价</th>
            <th>订货数量</th>
            <th>入库数量</th>
            <th>仓库</th>
            <th>小计</th>
            <th>操作</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
      <div class="common_storage_account">
        <div class="item_content margin-left-10" >
          <label class="width-75">备注：</label>
          <textarea name='remark' class="remarks_textarea"></textarea>
        </div>
        <div class="item_content  margin-left-10">
          <label class="width-75">制单人：</label>
          <label class="width-253"><%= current_user.screen_name %></label>
        </div>
      </div>
    </div>
    <div class="btn_group">
      <input type='submit' class="in_stg_btn" value='入库' />
    </div>
    <% end %>
  </div>
</div>
<% content_for :javascripts do %>
  <script>
    jQuery(function(){

      function calc_total() {
        var _total_quantity=0,
            _total_amount = 0;
        $('#storage_tab > tbody > tr').each(function(){
          var _input = this.cells[9].children[0];
          var quantity = parseInt(_input.value);
          _total_quantity += quantity;
          _total_amount += (_input.dataset.price*quantity);
        });
        $("#total_amount").val(_total_amount.toFixed(2));
        $("#total_quantity").val(_total_quantity);
      }
      var tm = JST['kucun/material_inventories/new/chosen'];
      var boxdd = null;
      $('.list').on('change', 'input[type=checkbox]', function(event){
           if(this.checked){
             if(boxdd && boxdd!=this){
               boxdd.checked = false;
             }
             boxdd = this;
             var $this = $(this);
             var order = $this.data('order');
             var html = '';
             $("#order_id").val(order.id);
             $("#total_amount").val(order.amount);
             $("#total_quantity").val(order.quantity);
             $("#order_supplier").val(this.dataset.supplier);
             var items = $this.data('items');
             items.forEach(function(item){
               html += tm({item: item, store_depots: $('#storage_tab').data('depots')})
            });
            $("#storage_tab > tbody").html(html);
         }else{
           $("#storage_tab > tbody").html('');
         }
      });

      $('#storage_tab').on('click', 'i.lnr-trash', function(event){
        if(confirm("确定现在不入库此商品（可在下次进行入库操作）？")){
          var tr = $(this).closest('tr');
          var id=tr[0].dataset.id;
          var order_id = $("#order_id").val();
          tr.remove();
          calc_total();
          if($('#storage_tab > tbody').children().length < 1){
            $('input[data-id="'+order_id+'"]').removeAttr('checked');
          }
        }
      });

      $("#inventory_form").on('submit', function(){
        if($("#storage_tab > tbody > tr").length < 1){
          ZhanchuangAlert('未选择任何商品进行入库！');
          return false;
        }
      });

      /*展开订单详情*/
      $('.list_contents').on('click', 'i.detailsbtn', function(){
        if(this.classList.contains('fa-chevron-down')){
          this.classList.remove('fa-chevron-down');
          this.classList.add('fa-chevron-up');
        }else{
          this.classList.remove('fa-chevron-up');
          this.classList.add('fa-chevron-down');
        };
        $(this).parents('.list_content').next().toggle();
      });

    });
  </script>
<% end %>
