<table class="search">
  <%= form_tag("/soa/staff/#{@staff.id}/record/search", method: :get, remote: true ) do -%>
    <tbody>
      <tr>
        <td>日期</td>
        <td><%= date_field_tag :from, params[:from], class: "width-122" %></td>
        <td>-</td>
        <td><%= date_field_tag :to, params[:to], class: "width-122" %></td>
        <td><label class="width-100 text-align-right">记录类型</label></td>
        <% option_array = [
          ["薪资发放记录", "StoreSalary"],
          ["考勤记录", "StoreAttendence"],
          ["调薪记录", "StoreAdjustSalary"],
          ["奖励记录", "StoreReward"],
          ["惩戒记录", "StorePenalty"],
          ["加班记录", "StoreOvertime"],
        ]%>
        <td><%= select_tag :type, options_for_select(option_array, params[:type]) %></td>
        <td><%= submit_tag "查询", class: "btn query_btn" %> </td>
      </tr>
    </tbody>
  <% end %>
</table>
