<div class="details_nav" style="display:none;">
  <ul>
    <li class="bg-color-fff"><a href="#" class="width-90">薪资核算</a></li>
  </ul>
</div>


<div class="details_content salary_related">

  <%= form_for @staff.store_salaries.new, as: :salary, url: soa_salaries_path(staff_id: @staff.id) do |form| %>
    <div class="checkout_nav">
      <div class="date width-240">
        <span class="width-70 text-align-center">当前月份</span> <span class="show_content width-80"><%= Time.now.strftime("%Y-%m") %></span>
      </div>

      <div class="staff_select">
        <% if !@prev_staff.nil? %>
          <%= link_to "<span class='width-50 font-weight-bold'>上一位</span><span>#{@prev_staff.screen_name}</span>".html_safe, confirm_soa_salary_path(@prev_staff), remote: true, class: "width-150 prev_staff" %>
        <% end %>
        <% if !@next_staff.nil? %>
          <%= link_to "<span class='width-50 font-weight-bold'>下一位</span><span>#{@next_staff.screen_name}</span>".html_safe, confirm_soa_salary_path(@next_staff), remote: true, class: "width-100 next_staff" %>
        <% end %>
      </div>

      <div class="operation float-right">
        <%= form.submit  "保存", class: "btn save_btn" %>
        <%= form.submit  "核准", data: {confirm: "you can't change these statistic anymore once click this button!!"}, class: "btn change_view_btn checkout" %>
      </div>
    </div>


    <table class="abstract">
      <thead>
        <tr>
          <td>姓名</td>
          <td>员工编号</td>
          <td>部门</td>
          <td>职务</td>
          <td>底薪</td>
          <td>提成</td>
          <td>福利补贴</td>
          <td>奖金</td>
          <td>保险金</td>
          <td>加班费</td>
          <td>应扣费用</td>
          <td>实发金额</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th><%= @staff.screen_name %></th>
          <th><%= @staff.numero %></th>
          <th><%= @staff.store_department.try(:name) %></th>
          <th><%= @staff.store_position.try(:name) %></th>
          <th><%= @staff.current_salary.to_f %></th>
          <th>未设置</th>
          <th><%= @staff.bonus_amount.to_f %></th>
          <th><%= @staff.store_events.get_per_month_pay("StoreReward").to_f %></th>
          <th><%= @staff.insurence_amount.to_f %></th>
          <th><%= @staff.store_events.get_per_month_pay("StoreOvertime").to_f %></th>
          <th><%= @staff.cutfee.to_f %></th>
          <th><%= @staff.actual_pay %></th>
        </tr>
      </tbody>
    </table>

    <div class="salary_checkout">
      <div class="salary">
        <ul class="total_salary">
          <li class="font-weight-bold font-14">应发工资</li>
          <li>
            <ol>
              <%= form.fields_for :deduction do |deduct_fields| %>
                <li>
                  <label class="font-weight-bold width-50">提成</label>
                  <label class="width-70">施工提成</label> <%= deduct_fields.text_field :shigong, value: "1.1" %>
              </li>
              <li>
                <label>商品提成</label> <%= deduct_fields.text_field :shangpin, value: "1.2" %>
            </li>
            <li>
              <label>售卡提成</label> <%= deduct_fields.text_field :shouka, value: "1.3" %>
          </li>
          <li>
            <label>其他提成</label> <%= deduct_fields.text_field :qita, value: "1.4" %>
        </li>
      <% end %>
      <li>
        <label class="font-weight-bold">提成合计</label><%= form.text_field :amount_deduction, value: "5.0", class: "total" %>
    </li>
  </ol>

  <ol>
    <%= form.fields_for :bonus do |bonus_fields|%>
      <li>
        <label class="font-weight-bold width-50">福利补贴</label>
        <label class="width-70">岗位补贴</label><%= bonus_fields.text_field :gangwei, value: @staff.bonus["gangwei"].to_f %>
    </li>
    <li>
      <label>住宿补贴</label> <%= bonus_fields.text_field :zhusu, value: @staff.bonus["zhusu"].to_f %>
  </li>
  <li>
    <label>餐费补贴</label> <%= bonus_fields.text_field :canfei, value: @staff.bonus["canfei"].to_f %>
</li>
<li>
  <label>劳保补贴</label> <%= bonus_fields.text_field :laobao, value: @staff.bonus["laobao"].to_f %>
        </li>
        <li>
          <label>高温补贴</label> <%= bonus_fields.text_field :gaowen, value: @staff.bonus["gaowen"].to_f %>
      </li>
    <% end %>
    <li>
      <label class="font-weight-bold">补贴合计</label> <%= form.text_field :amount_bonus, value: @staff.bonus_amount.to_f, class: "total" %>
  </li>
</ol>
</li>

<li>
  <ol>
    <li>
      <label class="font-weight-bold width-50">加班费</label>
      <label class="width-70 font-weight-bold">加班合计</label> <%= form.text_field :mount_overtime, value: @staff.store_events.get_per_month_pay("StoreOvertime").to_f, class: "total" %>
  </li>
  <li class="bonus">
    <label class="font-weight-bold width-50">奖金</label>
    <label class="width-70 font-weight-bold">奖金合计</label> <%= form.text_field :amount_reward, value: @staff.store_events.get_per_month_pay("StoreReward").to_f, class: "total" %>
</li>
  </ol>

  <ol>
    <%= form.fields_for :insurence do |insurence_fields|%>
      <li>
        <label class="font-weight-bold width-50">保险金</label> 
        <label class="width-70">医保费</label> <%= insurence_fields.text_field :yibaofei, value: @staff.bonus["yibaofei"].to_f %>
    </li>
    <li>
      <label>保险金</label> <%= insurence_fields.text_field :baoxianjing, value: @staff.bonus["baoxianjing"].to_f %>
  </li>
<% end %>
<li>
  <label class="font-weight-bold">保险合计</label> <%= form.text_field :amount_insurence, value: @staff.insurence_amount, class: "total"%>
    </li>
  </ol>
</li>

<li class="total text-align-right">
  <label class="color-7391C4 font-weight-bold">应发工资合计：</label> <%= form.text_field :salary_should_pay, value: @staff.actual_pay + 5 %>
</li>
</ul>

<ul class="deducted_salary">
  <li class="font-weight-bold font-14">应扣费用</li>
  <li>
    <ol>
      <%= form.fields_for :cutfee do |cutfee_fields| %>
        <li><label>违纪扣款</label> <%= cutfee_fields.text_field :weiji, value: @staff.store_events.get_per_month_pay("StorePenalty").to_f %> </li>
        <li><label>考勤扣款</label> <%= cutfee_fields.text_field :kaoqin, value: @staff.store_events.get_per_month_pay("StoreAttendence").to_f %> </li>
        <li><label>借贷扣除</label> <%= cutfee_fields.text_field :jiedai %> </li>
        <li><label>其他扣款</label> <%= cutfee_fields.text_field :qita %> </li>
        <li><label>个人担保</label> <%= cutfee_fields.text_field :gerendanbao, value: @staff.bonus["gerendanbao"].to_f %> </li>
      <% end %>
      <li><label class="font-weight-bold">扣款合计</label> <%= form.text_field :amount_should_cutfee, value: @staff.cutfee, class: "total" %> </li>
    </ol>
  </li>

  <li class="total">
    <label class="font-weight-bold color-C8625C">应扣费用合计：</label>
    <%= form.text_field :amount_cutfee, value: @staff.cutfee %>
  </li>
</ul>

<ul class="balance_salary">
  <li class="font-weight-bold font-14">实发金额</li>
  <li class="text-align-center">
    <label class="display-block">薪资总额</label>
    <%= form.text_field :salary_actual_pay, value: @staff.actual_pay + 5 %>
  </li>
</ul>
      </div>
    </div>

  <% end %>
</div>
