<div class="search_nav">
  <%= form_tag("/soa/salaries/search", method: :get) do -%>
    <div class="date nav_item">
      <span>日期</span>
      <%= date_select(
        "", :date,
        { start_year: 2000, use_short_month: true, discard_day: true, :default => @date},
        {:include_blank => @date.nil?, class: "width-100" }
      )
    %>
    </div>

  <div class="department nav_item">
    <span>部门</span>
    <select name="store_department_id" class="width-100">
      <option value="" selected> 全部 </option>
      <%= options_from_collection_for_select(@departments, 'id', 'name', params[:store_department_id]) %>
    </select>
  </div>

  <div class="position nav_item">
    <span>职务</span>
    <select name="store_position_id" class="width-100">
      <option value="" selected> 全部 </option>
      <%= options_from_collection_for_select(@positions, 'id', 'name', params[:store_position_id]) %>
    </select>
  </div>

  <div class="keywords margin-right-50 nav_item">
    <span>关键字</span>
    <%= text_field_tag :keyword, params[:keyword], class: "width-150" %>
    <%= submit_tag "查询", class: "btn query_btn"%>
  </div>


  <div class="float-right nav_item">
    <a href="/soa/salaries" class="btn management_btn">管理</a>
    <a href="#" class="btn print_btn">打印</a>
    <a href="#" class="btn export_btn">导出</a>

    <select class="width-100 margin-left-10">
      <option>显示5行</option>
      <option>全部显示</option>
    </select>
  </div>
  <% end %>
</div>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function(){
    $('#content').on('change', '[name="store_department_id"]', function(){
      if (this.value == "") { this.value = 1};
      $.get('/api/store_departments/'+this.value+'/store_positions.json', function(positions){
        var options = positions.map(function(position){
          return '<option value="'+ position.id +'">'+ position.name +'</option>'
        });
        options.splice(0, 0, '{<option value="" selected>全部</option>}')
        $('[name="store_position_id"]').html(options.join(''));
      });
    })
  });
</script>
