<div class="search_nav">
  <%= form_tag("/soa/salaries", method: :get) do -%>
    <div class="date nav_item">
      <span>日期</span>
      <%= date_select(
        "", :date,
        { start_year: 2000, use_short_month: true, discard_day: true, :default => Date.today},
        {:include_blank => @search_date.nil?, class: "width-100", disabled: true }
      )
    %>
    </div>


  <div class="keywords nav_item margin-right-50">
    <span>关键字</span>
    <%= text_field_tag :keyword, params[:keyword], class: "width-150" %>
    <%= submit_tag "查询", class: "btn query_btn"%>
  </div>

  <div class="float-right nav_item">
    <%= link_to "记 录", record_soa_salaries_path, class: "btn record_btn width-60" %>
    <% if !@staffs.empty? %>
      <a href="#" class="btn print_btn">打印</a>
      <a href="#" class="btn export_btn">发放并导出</a>
      <%= link_to "核准", confirm_soa_salary_path(@staffs.first), remote: true, class: "btn change_view_btn checkout" %>
      <a href="#" class="btn change_view_btn show_lists_only" style="display:none;">只显示列表</a>
    <% end %>
  </div>
  <% end %>
</div>
