<%= form_tag "", data: {order_id: order.id, order_state: order.task_status}, id: 'constructionForm', remote: true do -%>
  <h2>施工信息(<%= link_to "去编辑订单", edit_pos_store_order_path(order), target: '_blank', class: 'color-C6676D' %>)</h2>
  <div class="constrction_info_tab">
    <table cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>项目</th>
          <th>流程</th>
          <th>工位</th>
          <th>用时(分钟)</th>
          <th>技师</th>
          <th>检验</th>
        </tr>
      </thead>
      <tbody>
      <%= render partial: 'service', collection: order.store_service_snapshots, as: :service %>
      </tbody>
    </table>
  </div>
  <div class="btn_group float-right margin-top-20">
    <%= button_tag "保存", class: "save_btn btn js-save" %>
    <%= button_tag "施工", class: "save_btn btn js-execute" %>
    <% unless order.task_finished? %>
      <% if order.task_pausing? %>
        <span>施工暂停</span>
        <%= button_tag "恢复施工", class: "save_btn btn width-100 js-play" %>
      <% else %>
        <%= button_tag "暂停本单", class: "save_btn btn width-100 js-pause" %>
      <% end %>
    <% end %>
  </div>
<% end -%>
