<%= form_tag "", data: {order_id: order.id, order_state: order.task_status}, id: 'constructionForm', remote: true do -%>
  <h2>编辑施工信息</h2>
  <div class="constrction_info_tab">
    <table cellspacing="0" cellpadding="0">
      <thead>
        <tr>
          <th>项目</th>
          <th>流程</th>
          <th>工位</th>
          <th>用时(分钟)</th>
          <th>技师</th>
          <th>检验</th>
        </tr>
      </thead>
      <tbody>
      <%= render partial: 'service', collection: order.store_service_snapshots, as: :service %>
      </tbody>
    </table>
  </div>
  <div class="btn_group float-right margin-top-20">
    <a class="cancel_btn btn js-close">取消</a>
    <% unless order.task_finished? %>
      <%= button_tag "保存", class: "save_btn btn js-save" %>
      <%= button_tag "施工", class: "save_btn btn js-execute" %>
      <% if order.task_pausing? %>
        <%= button_tag "开启", class: "save_btn btn js-play" %>
      <% else %>
        <%= button_tag "暂停", class: "save_btn btn js-pause" %>
      <% end %>
    <% end %>
  </div>
<% end -%>
