<div class="window_wrap js-dialog" id="vehicle_order_details">
  <div class="wrap_order">
    <div class="dialog_nav">
      <span class="dialog_title "><%= order.numero %></span>
      <a href="javascript:void(0);" class="dialog_close  lnr-cross lnr do_close js-close" title="点击取消更改"></a>
    </div>
    <div class="float-left workplace_order">
      <div class="order_details">
        <div class="vehicle_order_details">
          <%= render partial: 'vehicle_summary', locals: {order: order} %>
          <div class="vehicle_condition">
            <span class="vehicle_order_title title doslide">
              车辆状况<%= link_to "去编辑车况", edit_pos_store_order_path(order), target: '_blank', class: 'color-C6676D' %>
              <% if order.store_customer.present? %>
                <%= link_to "完善车辆信息", edit_crm_store_customer_store_vehicle_path(order.store_customer, order.store_vehicle), target: '_blank' %>
              <% end %>
            </span>
            <div>
                <% workflow = order.current_workflow %>
                <% if workflow.present? && !workflow.processing? %>
                  <% if workflow.executable?(workflow.store_workstation) %>
                    无法施工流程: <%= workflow.name %>； 原因可能是：
                    <%= workflow.errors.messages.values.flatten.to_sentence %>
                  <% else %>
                    无法施工流程: <%= workflow.name %>； 原因可能是：
                    技师无法调度。请手动调度。
                  <% end %>
                <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="float-left">
      <div class="edit_construction_info float-left js-construction-form" data-id="edit_construction" style="display: block;">
        <%= render partial: 'construction_form', locals: {order: order} %>
      </div>
    </div>
  </div>
</div>
