<div class="item_content">
  <label class="width-50">车辆品牌</label><input type="text" value="<%= order.store_vehicle.vehicle_brand.try(:name )%>" class="width-110" readonly="">
</div>
<div class="item_content">
  <label class="width-50">车型</label><input type="text" value="<%= order.store_vehicle.vehicle_model.try(:name )%>" class="width-110" readonly="">
</div>
<div class="item_content">
  <label class="width-50">车系</label><input type="text" value="<%= order.store_vehicle.vehicle_series.try(:name )%>" class="width-110" readonly="">
</div>
<div class="item_content">
  <label class="width-50">客户属性</label><input type="text" value="<%= order.store_customer.try(:property) %>" class="width-110" readonly="">
</div>
<div class="item_content">
  <label class="width-50">客户类别</label><input type="text" value="<%= order.store_customer.try(:category) %>" class="width-110" readonly="">
</div>
<div class="item_content">
  <label class="width-50">结算方式</label><input type="text" value="<%= order.store_customer.try(:settlement) %>" class="width-110" readonly="">
</div>
