<div class="main_top">
  <%= breadcrumb_navigation(['报表', '采购付款明细']) %>
</div>
<div class="details">
    <div class="list_table">
      <div class="details_nav"></div>
      <table cellpadding="0" cellspacing="0" class="index_list">
        <thead>
          <tr>
            <th>序号</th>
            <th>单号</th>
            <th>付款金额</th>
            <th>结算账户</th>
            <th>付款日期</th>
            <th>付款人</th>
            <th>供应商名称</th>
            <th>采购人</th>
            <th>开单日期</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <% @material_order_payments.each_with_index do |payment, idx| %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= payment.store_material_order.numero%></td>
            <td><%= payment.amount %></td>
            <td><%= payment.store_settlement_account.name %></td>
            <td><%= payment.store_material_order.withdrawal_at.try(:strftime,("%Y-%m-%d %H:%M:%S")) %></td>
            <td><%= payment.store_material_order.withdrawaler.try(:full_name)%></td>
            <td><%= payment.store_supplier.name%></td>
            <td><%= payment.store_material_order.creator.full_name%></td>
            <td><%= payment.store_material_order.created_at.strftime("%Y-%m-%d %H:%M:%S")%></td>
            <td><%= payment.store_material_order.remark%></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
