  <%= form_tag kucun_material_saleinfo_path(@store_material), id: 'saleinfo_form' do %>
      <div class="base_info">
        <div class="goods_img">
          <div id='material_img_preview' class="goods_main_img"></div>
          <ul id='material_img_thumbnails' class="goods_small_img">
            <li id='preview_list'>
              <% @store_material.uploads.each do |image| %>
                <img src="<%= image.img_url %>">
              <% end %>
            </li>
          </ul>
        </div>
        <div class=" car_content">
          <div class="float-left grid-1-2">
            <table cellpadding="0" cellspacing="0" width="100%" class="car_info">
              <tbody>
                <tr>
                  <td>
                    <label class="width-75">商品名称</label>
                    <input type="text" class="width-165" value="<%= @store_material.name %>" readonly />
                  </td>
                  <td>
                    <label class="width-75">规格</label>
                    <input type="text" class="width-165" value="<%= @store_material.speci %>" readonly />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="width-75">最低售价</label>
                    <input type="text" num un class="width-165" value="<%= @store_material.min_price %>" readonly />
                  </td>
                  <td>
                    <label class="width-75">零售价</label>
                    <input type="text" num un class="width-165" name="saleinfo[retail_price]" required="true" autocomplete="off" value="<%= @saleinfo.retail_price %>" />
                  </td>
                </tr>
                <tr>
                  <td>
                    <span class="width-75 display-inline-block text-align-right">
                      <input type="radio" name='saleinfo[bargainable]' <%= 'checked' if @saleinfo.bargainable %>  class="toggleable width-13" data-target="bargain" data-checked='<%="checked" if @saleinfo.bargainable %>'>
                      优惠价
                    </span>
                    <input type="text" num un class="width-165" data-id="bargain" name='saleinfo[bargain_price]' <%= 'disabled="disabled"' unless @saleinfo.bargainable %> required="true" autocomplete="off" value='<%= @saleinfo.bargain_price %>'>
                  </td>
                  <td>
                    <label class="width-75">批发价</label>
                    <input type="text" num un class="width-165" name="saleinfo[trade_price]" autocomplete="off" value="<%= @saleinfo.trade_price %>">
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="width-75">商品积分</label>
                    <input num int un type="text" class="width-165" name="saleinfo[reward_points]" autocomplete="off" value="<%= @saleinfo.reward_points %>">
                  </td>
                  <td>
                    <label class="width-75">销售分类</label>
                    <input type="hidden" name='saleinfo[store_material_saleinfo_category_id]' value="<%= @store_material_saleinfo_category.id %>">
                    <span id='store_material_saleinfo_category_id' class="width-157 as_select" data-select='#saleinfo_category_select'
                    data-target='input[name="saleinfo[store_material_saleinfo_category_id]"]'><%= @store_material_saleinfo_category.name %></span>
                    <div id='saleinfo_category_select' class="select width-165">
                      <ol class="width-165">
                        <% @store_material_saleinfo_categories.each do |category| %>
                        <li data-value='<%= category.id %>'><%= category.name %></li>
                        <% end %>
                      </ol>
                      <a class='add_btn width-158' data-method='add_saleinfo_category' href="javascript:void(0);">新增</a>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <fieldset class="width-490 margin-left-26">
                      <legend class="margin-left-10">
                        <label>
                        <input type="checkbox" class="toggleable" <%= 'checked' if @saleinfo.divide_to_retail %> name='saleinfo[divide_to_retail]' data-target="divide_to_retail" data-checked='<%= "checked" if @saleinfo.divide_to_retail %>'>
                        此商品拆分销售</label>
                      </legend>
                      <div>
                        <label class="width-75">计量单位</label>
                        <select class="width-160" name='saleinfo[unit]' data-id="divide_to_retail" <%='disabled="disabled"' unless @saleinfo.divide_to_retail %> required="true">
                          <option value="0">米</option>
                          <option value="1">平方米</option>
                          <option value="2">升</option>
                        </select>
                      </div>
                      <div class="float-left">
                        <label class="width-75">总量</label>
                        <input type="text" num un int min=1 name='saleinfo[volume]' data-costpirce='<%= @store_material.cost_price %>' class="width-160" data-id="divide_to_retail" <%='disabled="disabled"' unless @saleinfo.divide_to_retail %> required="true" value='<%= @saleinfo.volume %>'>
                      </div>
                      <div class="float-left">
                        <label class="width-75">拆分成本</label>
                        <input id='divided_cost' type="text" class="width-160" readonly=true>
                      </div>
                    </fieldset>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <fieldset class="width-490 margin-left-26">
                      <legend class="margin-left-10">
                        <label>
                        <input type="checkbox" name='saleinfo[service_needed]' <%= 'checked' if @saleinfo.service_needed %> class="toggleable" data-target="service_needed"  data-checked='<%= "checked" if @saleinfo.service_needed %>'>
                        需要施工</label>
                      </legend>
                      <div class="float-left margin-left-20">
                        <label class="width-75 text-align-left margin-left-10">
                          <input type="radio" class="width-15" <%= 'checked' unless @saleinfo.service_fee_needed %> name="saleinfo[service_fee_needed]" value='0' data-id="service_needed" <%= 'disabled' unless @saleinfo.service_needed%> >包含施工费
                        </label>
                      </div>
                      <div class="float-left">
                        <label class="width-75  margin-left-26">
                          <input type="radio" class="width-15" <%= 'checked' if @saleinfo.service_fee_needed %> name="saleinfo[service_fee_needed]" value='1' data-id="service_needed" <%= 'disabled' unless @saleinfo.service_needed%> data-target="service_fee" data-checked="<%= 'checked' if @saleinfo.service_fee_needed %>">另计施工费
                        </label>
                        <input type="text" num un class="width-165" data-id="service_fee" name='saleinfo[service_fee]' <%= 'disabled' unless @saleinfo.service_fee_needed %> required="true" value='<%= @saleinfo.service_fee %>'>
                      </div>
                    </fieldset>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <fieldset class="width-490 margin-left-26">
                      <legend class="margin-left-10">
                        <label>销售提成</label>
                      </legend>
                      <div class="commission_scheme">
                        <label class="width-100">选择提成方案：</label>
                        <select class="width-235" name='saleinfo[saleman_commission_template_id]'>
                          <option value=""></option>
                          <% @store_commission_templates.each do |opt| %>
                            <option <%= 'selected' if opt.id == @saleinfo.saleman_commission_template_id %> data-template='<%= json_for(opt, root:false) %>' value="<%= opt.id %>"><%= opt.name %></option>
                          <% end %>
                        </select>
                        <a class="detail color-0C489C do_click_btn" href="javascript:void(0)">详情</a>
                      </div>
                    </fieldset>
                  </td>
                </tr>

              </tbody>
            </table>

          </div>

          <div  class="grid-1-2 float-left">
            <div class="server_list" >
              <div class="top">
                <h2>服务项目列表</h2>
                <span class="new_btn btn margin-top-10 float-right click_btn cursor <%='disabled' unless @saleinfo.service_needed %>" id="add_server_btn">创建</span>
              </div>
              <div class="none_server_data">
                <p class="none_server_p">当前没有配套服务</p>
                <p class="none_details">你可以先选择"需要施工"来激活服务列表，然后点击创建来添加配套的服务项目</p>
              </div>
              <div class="list" id="lists" style="<%= 'display:block' if @saleinfo.services.present? %>">
                <div class="list_top">
                  <ul>
                    <li>#</li>
                    <li>名称</li>
                    <li>次数</li>
                    <li>施工时间</li>
                    <li>技师</li>
                  </ul>
                </div>
                <% @saleinfo.services.each_with_index do |service, idx| %>
                <div class="list_content list_tr">
                  <ul class=" list_tr_hover">
                    <li><%= idx + 1 %>.</li>
                    <li><label data-viewid="<%=  @viewid %>" class="click_btn cursor"><%=  service.name %></label></li>
                    <li><%=  service.quantity %></li>
                    <li><%=  service.work_time %></li>
                    <li><%=  service.mechanic_level_type %>
                     <span class="delete close" data-target="list_content_01"> <i class="lnr lnr-cross color-fff"></i> </span>
                    </li>
                  </ul>
                </div>
                <% end %>
              </div>

            </div>
          </div>

        </div>
        <div class="btn_group">
          <input type="submit" class="save_btn btn" value="保存">
        </div>

      </div>
    <% end %>
