<div class="main_top">
  <%= breadcrumb_navigation(['库存', '报损', '报损记录']) %>
</div>
<div class="details">
  <div class="top_content">
    <div class=" list_table">
      <div class="search_nav">
        <div class="item-query">
          <label>时间</label>
          <select type="text" class="width-140">
            <option></option>
            <option></option>
          </select>
        </div>
        <div class="item-query">
          <label>操作人</label>
          <select type="text" class="width-140">
            <option></option>
            <option></option>
          </select>
        </div>
        <div class="item-query">
          <label>商品名称</label>
          <input type="text" class="width-140" placeholder="输入产品关键字">
        </div>
        <div class="item-query">
          <a href="#" class="query_btn btn">查<nbsp1></nbsp1>询</a>
        </div>
        <div class="query_div">
          <a href="/kucun/shrinkages/new" class="returnstorage_btn btn">报损</a>
          <a href="javascript:void(0);" class="notes_btn">记录</a>
        </div>
      </div>
      <div class=" loss_report_list">
        <div class="list" id='shrinkages'>
          <div class="list_top list_tr">
            <ul>
              <li>#</li>
              <li>报损时间</li>
              <li>报损单号</li>
              <li>明细</li>
              <li>商品类别</li>
              <li>金额</li>
              <li>备注</li>
              <li>操作</li>
            </ul>
          </div>
          <div class="list_contents">
            <% @shrinkages.each_with_index do |shrinkage, idx| %>
            <% item = shrinkage.items.first %>
            <div class="list_content list_tr">
              <ul>
                <li><%= idx + 1 %></li>
                <li><%= shrinkage.created_at.to_s(:date_only) %></li>
                <li><%= shrinkage.numero %></li>
                <li>包含「<%= item.store_material.name.truncate(11) if item.present? %>」等多个商品</li>
                <li>包含「<%= item.store_material.store_material_root_category.name if item.present? %>」 等多个类别</li>
                <li><%= shrinkage.total_amount %></li>
                <li><%= shrinkage.remark %><nbsp1></nbsp1></li>
                <li>
                  <i class="fa fa-chevron-down cursor-pointer click_btn detailsbtn"></i>
                </li>
              </ul>
            </div>

            <div class="loss_report_content margin-bottom-50 common_storage_content float-left" style="display:none;">
              <div class="loss_report_query">
                <div class="nav-item-query">
                  <div class="font-20 font-borderradius text-align-center">损</div>
                </div>
                <div class="nav-item-query">
                  <label>单号：</label>
                  <input type="text" class="width-150" value="<%= shrinkage.numero %>" readonly>
                </div>
                <div class="nav-item-query">
                  <label>时间：</label>
                  <input type="text" class="width-150" value="<%= shrinkage.created_at.to_s(:date_only) %>" readonly>
                </div>
                <div class="nav-item-query">
                  <label>操作人：</label>
                  <input type="text" class="width-150" value="<%= shrinkage.creator.screen_name %>" readonly>
                </div>

                <div class="loss_report_print ">
                  <a href="#" class="print_btn btn">打<nbsp1></nbsp1>印</a>
                </div>
              </div>
              <div class="loss_report_tab common_storage_tab">
                <table cellpadding="0" cellspacing="0" class="storage_tab">
                  <thead>
                    <tr class="bg-color-e39e66">
                      <th>#</th>
                      <th>产品名称</th>
                      <th>条码</th>
                      <th>规格</th>
                      <th>单位</th>
                      <th>一级分类</th>
                      <th>二级分类</th>
                      <th>单价</th>
                      <th>库存数</th>
                      <th>报损数</th>
                      <th>备注</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% shrinkage.items.each_with_index do |item, jdx| %>
                    <tr>
                      <td><%= jdx + 1 %></td>
                      <td title="<%= item.store_material.name %>"><%= item.store_material.name.truncate(11) %></td>
                      <td><%= item.store_material.barcode %></td>
                      <td><%= item.store_material.speci %></td>
                      <td><%= item.store_material.store_material_unit.name %></td>
                      <td><%= item.store_material.store_material_root_category.name %></td>
                      <td><%= item.store_material.store_material_category.name %></td>
                      <td><%= item.store_material.cost_price %></td>
                      <td><%= item.prior_quantity %></td>
                      <td><%= item.quantity %></td>
                      <td><%= item.remark %></td>
                    </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
  <script>
    jQuery(function($){
      $('#shrinkages').on('click', 'i.detailsbtn', function(){
        $(this).parents(".list_tr").next().toggle();
        if(this.classList.contains('fa-chevron-down')){
          this.classList.remove('fa-chevron-down');
          this.classList.add('fa-chevron-up');
        }else{
          this.classList.remove('fa-chevron-up');
          this.classList.add('fa-chevron-down');
        }
      });
    });
  </script>
<% end %>
