<div class="search_nav">
  <%= form_tag("/soa/performance/search", method: :get) do -%>
    <div class="date nav_item">
      <span>日期</span>
      <%= date_select(
        "", :date,
        { start_year: 2000, use_short_month: true, discard_day: true, :default => @month},
        {:include_blank => @search_date.nil?, class: "width-60" }
      )
    %>
  </div>

  <div class="department nav_item">
    <span>部门</span>
    <select name="store_department_id" class="width-100">
      <option value="">全部</option>
      <%= options_from_collection_for_select(@departments, 'id', 'name', params[:store_department_id]) %>
    </select>
  </div>


  <div class="position nav_item">
    <span>职务</span>
    <select name="store_position_id" class="width-100">
      <option value="">全部</option>
      <%= options_from_collection_for_select(@positions, 'id', 'name', params[:store_position_id]) %>
    </select>
  </div>


  <div class="keywords margin-right-50 nav_item">
    <span>关键字</span>
    <%= text_field_tag :keyword, params[:keyword], class: "width-150" %>
    <%= submit_tag "查询", class: "btn query_btn"%>
  </div>

  <div class="float-right">
    <a href="#" class="btn export_btn">导出</a>
  </div>
  <% end %>
</div>
