<div class="main_top">
  <h2>绩效提成</h2>
</div>

<div class="details">

  <div class="list_table">

    <%= render "/soa/performance/search" %>

    <table class="commission_list">
      <thead>
        <tr>
          <th>#</th>
          <th>姓名</th>
          <th>员工编号</th>
          <th>部门</th>
          <th>职务</th>
          <th>订单数量</th>
          <th>商品数量</th>
          <th>商品金额</th>
          <th>项目数量</th>
          <th>项目金额</th>
          <th>成交金额</th>
          <th>提成金额</th>
          <th>查看</th>
        </tr>
      </thead>

      <tbody>
        <% @staffs.each do |staff| %>
          <% commission_history = staff.store_commissions.find_by(created_month: @month.strftime("%Y%m")) %>
          <tr>
            <td class="sequence_num"><%= staff.id %></td>
            <td><%= staff.screen_name %></td>
            <td><%= staff.numero %></td>
            <td><%= staff.store_department.try(:name) %></td>
            <td><%= staff.store_position.try(:name) %></td>
            <% if commission_history.present? %>
              <td><%= commission_history.store_commission_items.select(:store_order_id).uniq.count   || staff.store_orders.by_month(@month).count %></td>
              <td><%= commission_history.store_commission_items.where(orderable_type: [StoreMaterialSaleinfo.name, StorePackage.name]).count %></td>
              <td><%= commission_history.store_commission_items.where(orderable_type: [StoreMaterialSaleinfo.name, StorePackage.name]).map(&:item_amount).sum %></td>
              <td><%= commission_history.store_commission_items.select(:store_order_item_id).uniq.count %></td>
              <td><%= commission_history.store_commission_items.where(commission_type: 'sale').map(&:item_amount).sum %></td>
              <td><%= commission_history.store_commission_items.map(&:item_amount).sum %></td>
              <td><%= commission_history.store_commission_items.map(&:commission_amount).sum %></td>
              <td><a href="/soa/staff/<%= staff.id %>/performs"><i class="ico ico-edit font-14"></i></a></td>
            <% else %>
              <% if staff.job_type_id == JobType::TYPES_ID['销售']  %>
                <td><%= (staff.store_orders.by_month(@month).pluck(:id) + staff.store_staff_tasks.joins(:store_order_item => :store_order).pluck("store_orders.id").uniq).uniq.count %></td>
                <td><%= staff.store_order_items.by_month(@month).materials.count %></td>
                <td><%= staff.materials_amount_total(@month) %></td>
                <td><%= staff.store_order_items.by_month(@month).services.count %> </td>
                <td><%= staff.services_amount_total(@month) %></td>
              <% elsif staff.job_type_id == JobType::TYPES_ID['技师'] %>
                <td><%= staff.store_orders.by_month(@month) +  %></td>
                <td><%= staff.store_order_items.by_month(@month).materials.count %></td>
                <td><%= staff.materials_amount_total(@month) %></td>
                <td> <%= staff.store_order_items.by_month(@month).services.count %> </td>
                <td><%= staff.services_amount_total(@month) %></td>
                <td> <%= staff.store_order_items.by_month(@month).services.count + staff.store_staff_tasks.by_month(@month).count %> </td>
                <td>0</td>
              <% else %>
              <% end %>
              <td><%= staff.items_amount_total(@month) %></td>
              <td><%= staff.commission_amount_total(@month) %></td>
              <td><a href="/soa/staff/<%= staff.id %>/performs"><i class="ico ico-edit font-14"></i></a></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>

      <tfoot>
        <tr>
          <td colspan="13" class="text-align-right">
            <span class="width-80">成交总金额：</span> <span class="width-110"><%= StoreStaff.items_amount_total(@month) %></span>
            <span class="width-80">提成总金额：</span> <span class="width-110"><%= StoreStaff.commission_amount_total(@month) %></span>
          </td>
        </tr>
      </tfoot>
    </table>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(function($){
    $('.department').on('change', '[name="store_department_id"]', function(){
      $.get('/api/store_departments/'+this.value+'/store_positions.json', function(positions){
        var options = positions.map(function(position){
          return '<option value="'+ position.id +'">'+ position.name +'</option>'
        });
        $('[name="store_position_id"]').html(options.join(''));
      });
    })
  });
</script>
