<tr>
  <td class="number">1</td>
  <td><%= @pre_order.fake_data[0] %></td>
  <td><%= @pre_order.fake_data[1] %></td>
  <td><%= @pre_order.fake_data[2] %></td>
  <td><%= @pre_order.fake_data[3] %></td>
  <td><%= @pre_order.fake_data[4] %></td>
  <td><%= @pre_order.fake_data[5] %></td>
  <td><%= @pre_order.fake_data[6] %></td>
  <td><%= @pre_order.fake_data[7] %></td>
  <td><%= @pre_order.fake_data[8] %></td>
  <td><%= @pre_order.fake_data[9] %></td>
  <td><i class="ico ico-edit"></i></td>
</tr>
