<li class="start_time">
  <label>劳动合同起始</label>
  <input type="text" class="width-64 year" value="<%= @staff.contract.try(:effected_on).try(:strftime, "%Y") %>" readonly>
  <input type="text" class="width-42 margin-right-2 month" value="<%= @staff.contract.try(:effected_on).try(:strftime, "%m") %>" readonly>
  <input type="text" class="width-40 day" value="<%= @staff.contract.try(:effected_on).try(:strftime, "%d") %>" readonly>
</li>

<li class="end_time">
  <label>劳动合同结束</label>
  <input type="text" class="width-64 year" value="<%= @staff.contract.try(:expired_on).try(:strftime, "%Y") %>" readonly>
  <input type="text" class="width-42 margin-right-2 month" value="<%= @staff.contract.try(:expired_on).try(:strftime, "%m") %>" readonly>
  <input type="text" class="width-40 day" value="<%= @staff.contract.try(:expired_on).try(:strftime, "%d") %>" readonly>
</li>


