<%= form_tag("/soa/staff/#{@staff.id}/setting/adjust", method: "patch", remote: true) do -%>
  <div class="contract_signing_wrap">
    <div class="contract_signing_window">
      <h3>合同续签单</h3>
      <div class="content">
        <table>
          <tbody>
            <%= render "/soa/settings/second_form_head_info"%>
            <tr>
              <td>试用薪资</td>
              <td><span class="width-132 show_content"><%= @staff.trial_salary %></span></td>
              <td>正式薪资</td>
              <td><span class="width-132 show_content"><%= @staff.regular_salary %></span></td>
              <td>合同期</td>
              <td><span class="width-132 show_content"><%= @staff.contract_life %>月</span></td>
              <td>状态</td>
              <td><span class="width-132 show_content"><%= @staff.contract_valid? ? "有效" : "到期" %></span></td>
            </tr>
          </tbody>
        </table>

        <%= fields_for :protocols do |protocol_fields| %>
          <%= render "second_protocol_form", form: protocol_fields, type: "StoreQianDingHeTong" %>
        <% end %>

        <div class="btn_groups">
          <%= link_to "取消", "#", class: "btn cancel_btn", data: {from: "contract_signing_wrap"} %>
          <%= submit_tag "保存", class: "btn save_btn margin-right-20" %>
        </div>

      </div>
    </div>
  </div>
<% end %>
