<tr>
  <td>姓名</td>
  <td><span class="width-132 show_content"><%= @staff.screen_name %></span></td>
  <td>员工编号</td>
  <td><span class="width-132 show_content"><%= @staff.numero %></span></td>
  <td>部门</td>
  <td><span class="width-132 show_content"><%= @staff.store_department.try(:name) %></span></td>
  <td>职务</td>
  <td><span class="width-132 show_content"><%= @staff.store_position.try(:name) %></span></td>
</tr>
<tr>
  <td>所属门店</td>
  <td><span class="width-132 show_content"><%= @staff.store.try(:name) %></span></td>
  <td>入职时间</td>
  <td><span class="width-132 show_content"><%= @staff.employed_date.to_s(:short_date) %></span></td>
  <td>工龄</td>
  <td><span class="width-132 show_content"><%= @staff.working_age %>年</span></td>
  <td>职称</td>
  <td><span class="width-132 show_content"><%= @staff.level_type.try(:name) %></span></td>
</tr>
