<% reason_type = {
  StoreZhuanZheng: "转正原因",
  StoreTiaoXin: "调薪原因",
  StoreQianDingHeTong: "续签原因"
  }
%>

<%= form.hidden_field :type, value: type %>
<%= form.hidden_field :previous_salary, value: @staff.current_salary %>

<div class="reason">
  <%= form.label :reason, reason_type[type.to_sym] %>
  <%= form.text_area :reason, required: true, class: "width-696" %>
</div>

<div class="start_time">
  <%= form.label :effected_on, "生效日期" %>
  <%= form.date_field :effected_on, required: true %>
  <% if type == "StoreQianDingHeTong" %>
    至 <%= form.date_field :expired_on, required: true %>
  <% end %>

</div>

<% if @verifiers.present? %>
  <div class="confirm_person">
    <%= form.label :verifier_id, "审核人" %>
    <%= form.select :verifier_id, @verifiers.map {|verifier| [verifier.full_name, verifier.id]} %>
  </div>
<% end %>

<div class="remark">
  <%= form.label :remark, "备注" %>
  <%= form.text_area :remark, class: "width-696" %>
</div>

<div class="form_maker">
  <span>制单：</span><label class="maker"><%= @current_user.screen_name %></label>
  <span>录入日期：</span><label class="date"><%= Time.now.to_date %></label>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(function($){

    var set_expired_date = function(){
      var expired_date = $('.contract_signing_wrap #protocols_expired_on'),
        effected_date = $('.contract_signing_wrap #protocols_effected_on');

      effected_date.on('change', function(){
        var date = $(this).val().split('-');
        var year = parseInt(date[0]) + 1,
          month = date[1],
          day = date[2],
          next_year = year + '-' + month + '-' + day;
        expired_date.val(next_year);
      })
    }
    set_expired_date();
  })
</script>
