<div class="page_head main_top">
  <span class="font-24 margin-right-15">财物管理> 成本</span>
</div>


<div class="details">

  <div class="list_table">

    <%= render 'search' %>

    <table class="cost  index_list">

      <%= render 'thead' %>

      <tbody>
        <% @materials.each do |material| %>

          <% intial_income = StoreMaterialLog.by_material_id(material.id).by_depot_id(params[:store_depot_id]).by_month(@prev_month).last || StoreMaterialLog.new %>
          <% current_incomes = StoreMaterialIncome.count_by_material(material, @month, params[:store_depot_id]) %>
          <% current_outgos = StoreMaterialOutgo.count_by_material(material, @month, params[:store_depot_id]) %>
          <% current_outgo = StoreMaterialLog.by_material_id(material.id).by_depot_id(params[:store_depot_id]).by_month(@month).last || StoreMaterialLog.new %>
          <tr>
            <td><%= Date.today.strftime("%Y-%m") %></td>
            <td><%= material.barcode %></td>
            <td><%= material.name %></td>
            <td><%= material.speci %></td>
            <td><%= StoreMaterialUnit.find(material.store_material_unit_id).name %></td>

            <td><%= intial_income.closings.try(:[], 'material_cost_price') || 0.0 %></td>
            <td><%= intial_income.closings.try(:[], 'material_quantity') || 0.0  %></td>
            <td><%= intial_income.try(:closings_amount) || 0.0  %></td>

            <td><%= material.cost_price %></td>
            <td><%= current_incomes[:quantity] %></td>
            <td><%= current_incomes[:amount] %></td>

            <td><%= material.cost_price %></td>
            <td><%= current_outgos[:quantity] %></td>
            <td><%= current_outgos[:amount] %></td>


            <td><%= current_outgo.try(:closings).try(:[], 'material_cost_price')  || 0.0 %></td>
            <td><%= current_outgo.try(:closings).try(:[], 'material_quantity')  || 0.0 %></td>
            <td><%= current_outgo.try(:closings_amount) || 0.0  %></td>
          </tr>
    <% end %>
      </tbody>
    </table>

  </div>

</div>
