<div class="main_top">
  <h2>成本</h2>
</div>


<div class="details">

  <div class="list_table">

    <%= render 'search' %>

    <table class="cost  index_list">

      <%= render 'thead' %>

      <tbody>
        <% @materials.each do |material| %>

          <% intial_income = StoreMaterialLog.by_material_id(material.id).by_month(@prev_month).last || StoreMaterialLog.new %>
          <% current_incomes = material.current_incomes(@month) %>
          <% current_outgos = material.current_outgos(@month) %>
          <% current_outgo = StoreMaterialLog.by_material_id(material.id).by_month(@month).last || StoreMaterialLog.new %>
          <tr>
            <td><%= Date.today.strftime("%Y-%m") %></td>
            <td><%= material.barcode %></td>
            <td><%= material.name %></td>
            <td><%= material.speci %></td>
            <td><%= StoreMaterialUnit.find(material.store_material_unit_id).name %></td>

            <td><%= intial_income.closings.try(:[], 'material_cost_price') || 0.0 %></td>
            <td><%= intial_income.closings.try(:[], 'material_quantity') || 0.0  %></td>
            <td><%= intial_income.try(:closings_amount) || 0.0  %></td>

            <td><%= StoreMaterialIncome.price_by_material(material) %></td>
            <td><%= StoreMaterialIncome.count_by_material(material) %></td>
            <td><%= StoreMaterialIncome.amount_by_material(material) %></td>

            <td><%= StoreMaterialOutgo.price_by_material(material) %></td>
            <td><%= StoreMaterialOutgo.count_by_material(material) %></td>
            <td><%= StoreMaterialOutgo.amount_by_material(material) %></td>


            <td><%= current_outgo.try(:closings).try(:[], 'material_cost_price')  || 0.0 %></td>
            <td><%= current_outgo.try(:closings).try(:[], 'material_quantity')  || 0.0 %></td>
            <td><%= current_outgo.try(:closings_amount) || 0.0  %></td>
          </tr>
    <% end %>
      </tbody>
    </table>

  </div>

</div>
