<input type="hidden" id='vehicle_brands' data-brands='<%= @vehicle_brands.to_json(root:nil) %>'>
<input type="hidden" id='order_data' data-order='<%= StoreOrderSerializer.new(@order).to_json(root:nil) %>'>
<input type="hidden" id='super_material_categories' data-categories='<%= @super_material_categories.to_json(root: nil) %>'>
<input type="hidden" id='store_material_brands' data-categories='<%= @store_material_brands.to_json(root: nil) %>'>
<input type="hidden" id='service_categories' data-categories='<%= @service_categories.to_json(root: nil) %>'>

<div class="content pos-orders-index" id="content">
  <div class="main_top"><h2>业务开单 > <%= @order.store_vehicle.license_number %>, #<%= @order.numero %> </h2></div>
  <div class="details">
    <div class="search_nav">
       <div class="width-400" style="float: left">
        <label>订单编辑</label>
      </div>
      <div class="query_div pos_page_card">
      <a href="javascript:void(0)"  class="active">开单</a>
      <a href="/pos/store_orders/">列表</a>
      </div>
    </div>

    <div class="billing">
      <div class="billing_order float-left">
        <div class="order_details">
          <div class="dialog_nav">
            <% if @order.numero.present? %>
            <span class="dialog_title ">单号:<%= @order.numero %></span>
            <% end %>
          </div>
          <div class="vehicle_order_details">

            <div class="vehicle_info">
              <input type="hidden" name="order[store_vehicle_id]" id='store_vehicle_id' value="{{vehicleInfoData.id}}">
              <dl>
                <dd>
                  <label class="width-50" >车牌号</label>
                  <input type="text" class="width-110" readonly value={{vehicleInfoData.license_number}}>
                </dd>
                <dd>
                  <label class="width-50" >客户姓名</label>
                  <input type="text" value='{{vehicleInfoData.store_customer.full_name}}' class="width-110" readonly>
                </dd>
                <dd>
                  <label class="width-50">手机号</label>
                  <input type="text" value={{vehicleInfoData.store_customer.phone_number}} class="width-110" readonly>
                </dd>
              </dl>
              <div class="vehicle_order_title title doslide">详细信息
              <i class="fa-angle-double-up fa cursor-pointer"></i>
              <a href="javascript:void(0)" data-target="completing_customer" class="do_show js-edit-customer">完善客户信息</a>
              </div>
              <div class="vehicle_details_info">
                <div class="item_content">
                  <label class="width-50">车辆品牌</label><input type="text" value={{vehicleInfoData.vehicle_brand.name}} class="width-110"  readonly>
                </div>
                <div class="item_content">
                  <label class="width-50" >车系</label><input type="text" value={{vehicleInfoData.vehicle_series.name}} class="width-110"  readonly>
                </div>
                <div class="item_content">
                  <label class="width-50">车型</label><input type="text" value={{vehicleInfoData.vehicle_model.name}} class="width-110"  readonly>
                </div>
                <div class="item_content">
                  <label class="width-50" >客户属性</label>
                  <input type="text" value={{vehicleInfoData.store_customer.property_i18n}} class="width-110" readonly>
                </div>
                <div class="item_content">
                  <label class="width-50" >客户类别</label>
                  <input type="text" value="{{vehicleInfoData.store_customer.category_name}}" class="width-110"  readonly>
                </div>
                <div class="item_content">
                  <label class="width-50">结算方式</label>
                  <input type="text" value="{{vehicleInfoData.store_customer.payment_mode_i18n}}" class="width-110"  readonly>
                </div>
              </div>
            </div>

            <%= render partial: 'vehicle_condition' %>
            <%= render partial: 'items' %>
          </div>
          <div class="construction_status">
            <div class="btn_group">
              <% unless @order.paid?%>
                <a href="javascript:void(0);" data-url="<%= pos_store_order_path(@order) %>" title='将此订单销毁，销毁后订单一切相关数据将一起被删除！' class="btn delete_btn js-waste-order">作废订单</a>
              <% end %>
              <a href="javascript:void(0);" style='<%= "display:none" unless @order.pending? %>' class="end_construction_btn js-update-draft">更新草稿</a>
              <a href="javascript:void(0);" style='<%= "display:none" unless @order.pending? %>' class="go_payment_btn js-update-and-execute">生成订单</a>
              <a href="javascript:void(0);" style='<%= "display:none" if @order.pending? %>' class="go_payment_btn js-update-order">更新订单</a>
            </div>
          </div>
        </div>
      </div>

      <div class="right_information">
        <div class="order_items float-left store-order-item-block" data-id="order_items"></div>
        <%= render partial: 'construction' %>
        <div class="improve_crm_wrap float-left"></div>
        <div class="completing_vehicle_info float-left"></div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
<script>
  jQuery(function($){
    if($(".pos-orders-index").length > 0){
      var x = new Mis.Views.PosOrderIndexView();
      var order = $('#order_data').data('order');

      x.storeVehicle.id = <%= @order.store_vehicle_id %>;
      x.storeVehicle.fetch();
      x.order = order;
      x.vehicle_situation.set_situation(order.situation);
      Mis.Vues.ServiceItem.$set('items',order.services.items.slice());
      Mis.Vues.MaterialItem.$set('items', order.materials.items.slice());
      Mis.Vues.PackageItem.$set('items', order.packages.items.slice());
    }
  })
</script>
<% end %>
<% unless @order.paid?%>
  <% content_for :scenes do %>
    <template style='display:none' id="waste-form">
      <a href="javascript:void(0)" class="close">×</a><h2>订单作废</h2>
      <p class="instruction">请先验证权限</p>

      <%= form_for([:pos, @order], method: 'delete', html:{class: 'discount_confirmation'}) do %>
        <input type="hidden" name="deleted_authorizer_id" value="">
        <div class="form_group">
          <label for="" class="width-100">登录名</label>
          <input type="text" title="请输入登录名" name="login_name" value="" class="width-150" required autocomplete="off">
        </div>
        <div class="form_group">
          <label for="" class="width-100">密码</label>
          <input type="password" title="请输入登录密码" name="password" value="" class="width-150" required autocomplete="off">
        </div>

        <div class="form_group">
          <label for="" class="width-100">作废原因</label>
          <input type="text" title="请输入原因" name="deleted_reason" value="" class="width-150" required autocomplete="off">
        </div>

        <div class="form_group">
          <label for="" class="width-100">重要提示</label>
          <span class="width-150 color-0ab149">此操作不可逆转</span>
        </div>
        <div class="btn_group">
          <input type="reset" value="取消" class="button cancel_btn">
          <input type="submit" value="销毁" class="button save_btn">
        </div>
      <% end %>
    </template>
  <% end %>
<% end %>
