<input type="hidden" id='vehicle_brands' data-brands='<%= @vehicle_brands.to_json(root:nil) %>'>
<input type="hidden" id='order_data' data-order='<%= StoreOrderSerializer.new(@order).to_json(root:nil) %>'>
<div class="content pos-orders-index" id="content">
  <div class="main_top"><h2>业务开单 > <%= @order.store_vehicle.license_number %>, #<%= @order.numero %> </h2></div>
  <div class="details">
    <div class="search_nav">
       <div class="width-400" style="float: left">
        <label>订单编辑</label>
      </div>
      <div class="query_div page_card">
      <a href="javascript:void(0)"  class="active">开单</a>
      <a href="/pos/store_orders/">列表</a>
      </div>
    </div>

    <div class="billing">
      <div class="billing_order float-left">
        <div class="order_details">
          <div class="dialog_nav">
            <% if @order.numero.present? %>
            <span class="dialog_title ">单号:<%= @order.numero %></span>
            <% end %>
          </div>
          <div class="vehicle_order_details">
            <%= render partial: 'vehicle' %>
            <%= render partial: 'vehicle_condition' %>
            <%= render partial: 'items' %>
          </div>
          <div class="construction_status">
            <div class="btn_group">
              <a href="javascript:void(0);" style='<%= "display:none" unless @order.pending? %>' class="end_construction_btn js-update-draft">更新草稿</a>
              <a href="javascript:void(0);" style='<%= "display:none" unless @order.pending? %>' class="go_payment_btn js-update-and-execute">生成订单</a>
              <a href="javascript:void(0);" style='<%= "display:none" if @order.pending? %>' class="go_payment_btn js-update-order">更新订单</a>
            </div>
          </div>
        </div>
      </div>

      <div class="right_information">
        <div class="order_items float-left store-order-item-block" data-id="order_items"></div>
        <%= render partial: 'construction' %>
        <div class="improve_crm_wrap float-left"></div>
        <div class="completing_vehicle_info float-left"></div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascripts do %>
<script>
  jQuery(function($){
    if($(".pos-orders-index").length > 0){
      x = new Mis.Views.PosOrderIndexView();
      x.setVehicleInfoData({target: {value: '<%= @order.store_vehicle_id %>'}})
     order = $('#order_data').data('order');
     x.order = order;
     x.vehicle_situation.set_situation(order.situation)
     Mis.Vues.ServiceItem.$set('serviceItems',order.services.items.slice());
     Mis.Vues.MaterialSaleinfoItem.$set('materialSaleinfoItems', order.materials.items.slice());
     Mis.Vues.PackageItem.$set('packageItems', order.packages.items.slice());
    }
  })
</script>
<% end %>
