<input type="hidden" id='vehicle_brands' data-brands='<%= @vehicle_brands.to_json(root:nil) %>'>
<div class="content pos-orders-index" id="content">
  <div class="main_top"><h2>业务开单</h2></div>
  <div class="details">
    <div class="search_nav">
       <div class="width-400" style="float: left">
        <label>查找车辆</label>
        <select class="width-180 query-license-number js-store-vehicle-license-number-input" name="license-number" ><select>
      </div>
      <div class="query_div page_card">
      <a href="javascript:void(0)"  class="active">开单</a>
      <a href="/pos/store_orders/">列表</a>
      </div>
    </div>

    <div class="billing">
      <div class="billing_order float-left">
        <div class="order_details">
          <div class="dialog_nav">
            <% if @order.numero.present? %>
            <span class="dialog_title ">单号:<%= @order.numero %></span>
            <% end %>
          </div>
          <div class="vehicle_order_details">
            <%= render partial: 'vehicle' %>
            <%= render partial: 'vehicle_condition' %>
            <%= render partial: 'items' %>
          </div>
          <div class="construction_status">
            <div class="btn_group">
              <a class="end_construction_btn js-save-for-pending-btn" data-state="pending">保存草稿</a>
              <a class="go_payment_btn js-save-for-queuing-btn" data-state="queuing">生成订单</a>
            </div>
          </div>
        </div>
      </div>

      <div class="right_information">
        <div class="order_items float-left store-order-item-block" data-id="order_items"></div>
        <div class="improve_crm_wrap float-left"></div>
        <div class="completing_vehicle_info float-left"></div>
      </div>
    </div>
  </div>
</div>
<% content_for :javascripts do %>
<script>
  jQuery(function($){
    x = new Mis.Views.PosOrderIndexView();
  })
</script>
<% end %>
