  <%= form_tag kucun_material_saleinfo_path(@store_material), id: 'saleinfo_form' do %>
      <% if @saleinfo.id %>
      <input type="hidden" name="saleinfo[id]" value="<%= @saleinfo.id %>">
      <% end %>
      <div class="base_info">
        <div class="goods_img">
          <div id='material_img_preview' class="goods_main_img"></div>
          <ul id='material_img_thumbnails' class="goods_small_img">
            <li id='preview_list'>
              <% @store_material.uploads.each do |image| %>
                <img src="<%= image.file_url %>">
              <% end %>
            </li>
          </ul>
        </div>
        <div class=" car_content">
          <div class="float-left grid-1-2">
            <table cellpadding="0" cellspacing="0" width="100%" class="car_info">
              <tbody>
                <tr>
                  <td>
                    <label class="width-75">商品名称</label>
                    <input type="text" class="width-165" value="<%= @store_material.name %>" readonly />
                  </td>
                  <td>
                    <label class="width-75">规格</label>
                    <input type="text" class="width-165" value="<%= @store_material.speci %>" readonly />
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="width-75">商品积分</label>
                    <input num int un type="text" class="width-165" name="saleinfo[reward_points]" autocomplete="off" value="<%= @saleinfo.reward_points %>">
                  </td>
                  <td>
                    <label class="width-75">销售分类</label>
                    <select name="saleinfo[sale_category_id]" class="width-165">
                      <%= options_from_collection_for_select(@sale_categories, :id, :name, @saleinfo.sale_category_id) %>
                    </select>
                  </td>
                </tr>
                <%= render 'normal_setting' %>
                <%= render 'divide_setting' %>
                <tr>
                  <td colspan="2">
                    <fieldset class="width-490 margin-left-26">
                      <legend class="margin-left-10">
                        <label>
                        <input type="checkbox" name='saleinfo[service_needed]' <%= 'checked' if @saleinfo.service_needed %> class="toggleable" data-target="service_needed"  data-checked='<%= "checked" if @saleinfo.service_needed %>'>
                        需要施工</label>
                      </legend>
                      <div class="float-left margin-left-20">
                        <label class="width-75 text-align-left margin-left-10">
                          <input type="radio" class="width-15" <%= 'checked' unless @saleinfo.service_fee_needed %> name="saleinfo[service_fee_needed]" value='0' data-id="service_needed" <%= 'disabled' unless @saleinfo.service_needed%> >包含施工费
                        </label>
                      </div>
                      <div class="float-left">
                        <label class="width-75  margin-left-26">
                          <input type="radio" class="width-15" <%= 'checked' if @saleinfo.service_fee_needed %> name="saleinfo[service_fee_needed]" value='1' data-id="service_needed" <%= 'disabled' unless @saleinfo.service_needed%> data-target="service_fee" data-checked="<%= 'checked' if @saleinfo.service_fee_needed %>">另计施工费
                        </label>
                        <input type="text" num un class="width-165" data-id="service_fee" name='saleinfo[service_fee]' <%= 'disabled' unless @saleinfo.service_fee_needed %> required="true" value='<%= @saleinfo.service_fee %>'>
                      </div>
                    </fieldset>
                  </td>
                </tr>

                <tr>
                  <td colspan="2">
                    <fieldset class="width-490 margin-left-26">
                      <legend class="margin-left-10">
                        <label>销售提成</label>
                      </legend>
                      <div class="commission_scheme">
                        <label class="width-100">选择提成方案：</label>
                        <select class="width-235" name='saleinfo[saleman_commission_template_id]'>
                          <option value=""></option>
                          <% @store_commission_templates.each do |opt| %>
                            <option <%= 'selected' if opt.id == @saleinfo.saleman_commission_template_id %> data-template='<%= json_for(opt, root:false) %>' value="<%= opt.id %>"><%= opt.name %></option>
                          <% end %>
                        </select>
                        <a class="detail color-0C489C do_click_btn" href="javascript:void(0)">详情</a>
                      </div>
                    </fieldset>
                  </td>
                </tr>

              </tbody>
            </table>

          </div>

          <div  class="grid-1-2 float-left">
            <div class="server_list" >
              <div class="top">
                <h2>服务项目列表</h2>
                <span class="new_btn btn margin-top-10 float-right click_btn cursor <%='disabled' unless @saleinfo.service_needed %>" id="add_server_btn" data-id="service_needed">创建</span>
              </div>
              <div class="none_server_data">
                <p class="none_server_p">当前没有配套服务</p>
                <p class="none_details">你可以先选择"需要施工"来激活服务列表，然后点击创建来添加配套的服务项目</p>
              </div>
              <div id='services' class="list" style="<%= 'display:block' if @saleinfo.services.present? %>">
                <div class="list_top">
                  <ul>
                    <li>#</li>
                    <li>名称</li>
                    <li>次数</li>
                    <li>施工时间</li>
                    <li>技师</li>
                  </ul>
                </div>
                <div id="lists" class="list_contents"></div>
              </div>

            </div>
          </div>

        </div>
        <div class="btn_group">
          <% if @saleinfo.new_record? %>
            <a href='<%= edit_kucun_material_path(@store_material) %>' class="btn cancel_btn">返回上一步</a>
          <% else %>
            <a href='<%= kucun_material_saleinfo_path(@store_material) %>' class="btn cancel_btn">取消</a>
          <% end %>
          <input type="submit" class="save_btn btn" value="保存">
        </div>

      </div>
    <% end %>
