
<div class="main_top">
  <%= breadcrumb_navigation(['库存', '转移出库', '历史记录']) %>
</div>
<div class="details">
    <div class="list_table">
      <div class="search_nav">
        <%= render partial: '/kucun/partials/outing_nav' %>

        <div class="query_div">
          <a href="/kucun/transfer/pickings/new" class="outstorage_btn btn">出库</a>
          <a href='javascript:void(0);' class="notes_btn btn">记录</a>
        </div>
      </div>
      <table cellpadding="0" cellspacing="0" class="index_list">
        <thead>
          <tr>
            <th style="border-right:0px;" ></th>
            <th>出库时间</th>
            <th>商品名称</th>
            <th>商品条形码</th>
            <th>一级分类</th>
            <th>二级分类</th>
            <th>规格</th>
            <th>单位</th>
            <th>成本价</th>
            <th>出库数量</th>
            <th>小计</th>
            <th>转出仓库</th>
            <th>目标仓库</th>
            <th>操作人</th>
          </tr>
        </thead>
        <tbody>
          <% @outing_items.each_with_index do |item, idx| %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= item.created_at.to_s(:date_only) %></td>
            <td title="<%= item.store_material.name %>"><%= item.store_material.name.to_s.truncate(11) %></td>
            <td><%= item.store_material.barcode %></td>
            <td><%= item.store_material.store_material_root_category.name %></td>
            <td><%= item.store_material.store_material_category.name %></td>
            <td><%= item.store_material.speci %></td>
            <td><%= item.store_material.store_material_unit.name %></td>
            <td class="text-align-right"><%= item.store_material.cost_price %></td>
            <td><%= item.quantity -%></td>
            <td class="text-align-right"><%= item.amount %></td>
            <td><%= item.store_depot.name %></td>
            <td><%= item.dest_depot.name -%></td>
            <td><%= item.creator.screen_name %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
