<input type="hidden" id='store-depots' data-depots='<%= @depots.to_json(root:nil) %>'>
<div class="main_top">
  <%= breadcrumb_navigation(['库存', '转移出库', '新建移库单']) %>
</div>
<div class="details">
  <div class="list_table out_storage_list">
    <div class="search_nav">
      <%= render partial: 'kucun/partials/inventory_search' %>
      <div class="query_div">
        <a href="#" class="returnstorage_btn btn">出库</a>
        <a href="/kucun/transfer/pickings/" class="notes_btn btn">记录</a>
      </div>
    </div>
    <div class="out_storage common_storage">
      <div class="list">
        <div class="list_top list_tr">
          <ul>
            <li>#</li>
            <li>产品名称</li>
            <li>条码</li>
            <li>规格</li>
            <li>单位</li>
            <li>一级分类</li>
            <li>二级分类</li>
            <li>单价</li>
            <li>仓库数</li>
            <li>仓库位</li>
            <li>备注</li>
            <li class="twelfth_td">操作</li>
          </ul>
        </div>
        <div id='choices' class="list_contents"></div>
      </div>
    </div>
  </div>

  <div class="shift_library  margin-bottom-50 margin-top-80 common_storage_content float-left">
    <%= form_tag '/kucun/transfer/pickings/' do %>
    <div class="out_storage_query ">
      <div class="nav-item-query">
        <div class="font-20 font-borderradius text-align-center">移</div>
      </div>
      <div class="nav-item-query">
        <label>单号：</label>
        <input type="text" class="width-135" readonly value="">
      </div>
      <div class="nav-item-query">
        <label>时间：</label>
        <input type="text" class="width-135" value="<%= Time.now.to_s(:date_only) %>" readonly>
      </div>
      <div class="nav-item-query">
        <label>操作人：</label>
        <input type="text" class="widtn-135" value="<%= current_user.screen_name %>" readonly>
      </div>

      <div class="nav-item-query">
        <label>出库类型</label>
        <input type="hidden" name="material[out_store_type_id]" value="<%= OutingType.find_by_name('转移出库').id %>" />
        <span id='out_store_type_id' class="width-157 as_select" data-select='#out_store_type_select' data-target='input[name="material[out_store_type_id]"]'>转移出库</span>
        <div id='out_store_type_select' class="select width-165">
          <ol class="width-165">
            <% OutingType.collection.each do |tipe| %>
              <% if tipe.name == '转移出库' %>
                <li data-value="<%= tipe.id %>"><a href="javascript:void(0)"><%= tipe.name %></a></li>
              <% else %>
                <li data-value="<%= tipe.id %>"><a href="/kucun/outings/new?outing_type_id=<%= tipe.id %>"><%= tipe.name %></a></li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>
      <div class="nav-item-query">
        <label>目标库</label>
        <select name='picking[dest_depot_id]' id='dest_depot_id' class="width-135"></select>
      </div>
      <div class="nav-item-query">
        <a href="#" class="print_btn btn">打<nbsp1></nbsp1>印</a>
      </div>
    </div>
    <div class="out_storage_tab common_storage_tab">
      <table id='storage_tab' cellpadding="0" cellspacing="0" class="check_order storage_tab">
        <thead>
          <tr style="display: table-row;">
            <th> 序号</th>
            <th>产品名称</th>
            <th>条码</th>
            <th>规格</th>
            <th>单位</th>
            <th>一级分类</th>
            <th>二级分类</th>
            <th>单价</th>
            <th>库存数</th>
            <th>出库数</th>
            <th>原始库</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="common_storage_account">
        <div class="item_content margin-left-10" >
          <label class="width-75">备注：</label>
          <textarea name='picking[remark]' class="remarks_textarea"></textarea>
        </div>
        <div class="item_content  margin-left-10">
          <label class="width-75">制单人：</label>
          <label class="width-253"><%= current_user.screen_name %></label>
        </div>
      </div>
    </div>
    <div class="btn_group margin-right-40">
      <a class="edit_btn btn" href="#">编辑</a>
      <input type="submit" class="save_btn btn" value="确定">
    </div>
    <% end %>
  </div>
</div>


<% content_for :javascripts do %>
  <script>
    function set_checked_to_material(material) {
      var material_ids = [];
      var material_len = $('table.check_order > tbody > tr').length;
      for(var i = 0; i < material_len; i++){
        material_ids[i] = $('table.check_order > tbody > tr:eq("' + i +'")').attr('data-id');
      }
      material.checked = false;
      for(var i = 0; i < material_len; i++){
        if(material.id == material_ids[i]){
          material.checked = true;
          break;
        }
      }
    }

    jQuery(function(){
      var choice_tmpl = JST['kucun/transfer/pickings/new/choice'];
      var chosen_tmpl = JST['kucun/transfer/pickings/new/chosen'];
      var depots = $('#store-depots').data('depots')
      $('.query_btn').on('click', function(){
        var keyword = $('#keyword').val().trim();
        var depot_id =  $('#depot_id').val();
        var root_category = $("#root_category").val();
        var category = $('#sub_category').val();
        var query_data = {
          name: keyword,
          depot_id:depot_id,
          root_category_id: root_category,
          category_id: category
        };
        $.get('/ajax/store_materials/inventories.json',query_data, function(data){
          $('#choices').html('');
          var html = data.map(function(inventory, idx){
            inventory.store_material.quantity = inventory.quantity;
            inventory.store_material.depot_id = inventory.store_depot_id;
            inventory.store_material.depot_name = inventory.depot_name;
            inventory.store_material.inventory_id = inventory.id;
            inventory.store_material.idx = idx+1;
            set_checked_to_material(inventory.store_material);
            return choice_tmpl(inventory.store_material);
          }).join('');
          $('#choices').html(html);
          materials = data.slice();
        });
      });

      $('#choices').on('change', 'input:checkbox', function(){
          if(this.checked){
            material_id = this.dataset.id;
            material = materials.filter(function(m){return m.store_material.id == material_id})[0];
            $('#storage_tab > tbody').append(chosen_tmpl(material.store_material));
          }else{
            material_id = this.dataset.id;
            $('#storage_tab > tbody > tr[data-id="' + material_id + '"]').remove()
          }
          list_seq();
       });


     function list_seq(argument) {
       $('#storage_tab > tbody').children().each(function(idx, el, undef){
         el.firstElementChild.innerText=(idx+1);
       });
     }

     var available_depots_select = function(depot_id){
       var available_depots = depots.filter(function(depot){return depot.id != depot_id});
       var html = available_depots.map(function(depot){
         return '<option value="'+ depot.id +'">' + depot.name + '</option>';
       }).join('');
       $('#dest_depot_id').html(html);
     }
     $('#depot_id').on('change', function(){
       available_depots_select($('#depot_id').val());
     });
     available_depots_select($('#depot_id').val());

    });
  </script>
<% end %>
