<div class="main_top">
    <span class="add_span">+</span>
</div>
<div class="details">
    <div class="container_list">
        <div class="top_content records">
            <%= render partial: '/kucun/materials/table_head' %>
            <div class="details_nav">
                <%= render partial: '/kucun/materials/material_settings_url' %>
            </div>
            <div class="details_nav_second">
                <ul class="goods_nav">
                    <li><a href="#" class="width-90">▲上一件商品</a></li>
                    <li><a href="#" class="width-90">▼下一件商品</a></li>
                    <li ><a href="#" class="width-90">返回列表</a></li>
                </ul>
            </div>
            <div class="details_content">
                <div class="base_info">
                    <div class="goods_img">
                      <div id='material_img_preview' class="goods_main_img"></div>
                      <ul id='material_img_thumbnails' class="goods_small_img">
                          <li id='preview_list'>
                            <% @store_material.store_material_images.each do |image| %>
                              <img src="<%= image.asset_path %>">
                            <% end %>
                          </li>
                      </ul>
                    </div>
                    <div class=" car_content">
                        <div class="item_content">
                            <label class="width-75">商品名称</label>
                            <span class="width-155 stored_material"><%= @store_material.name %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">条形码</label>
                            <span class="width-155 stored_material"><%= @store_material.barcode %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">助记码</label>
                            <span class="width-155 stored_material"><%= @store_material.mnemonic %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">一级分类</label>
                            <span class="width-155 stored_material"><%= @store_material.store_material_category.parent.name %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">二级分类</label>
                            <span class="width-155 stored_material"><%= @store_material.store_material_category.name %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">商品品牌</label>
                            <span class="width-155 stored_material"><%= @store_material.store_material_brand.name %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">生产单位</label>
                            <span class="width-155 stored_material"><%= @store_material.store_material_manufacturer.name %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">商品规格</label>
                            <span class="width-155 stored_material"><%= @store_material.speci %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">商品单位</label>
                            <span class="width-155 stored_material"><%= @store_material.store_material_unit.name %></span>
                        </div>

                        <div class="item_content">
                            <label class="width-75">成本价</label>
                            <span class="width-155 stored_material"><%= @store_material.cost_price %></span>
                        </div>
                        <div class="item_content">
                            <label class="width-75">最低售价</label>
                            <span class="width-155 stored_material"><%= @store_material.min_price %></span>
                        </div>
                        <% if @store_material.inventory_alarmify %>
                        <div class="item_content">
                          <label class="width-80">库存预警：</label>
                          <div>
                            <label class="width-75">数量上限</label>
                            <span class="width-165"><%= @store_material.max_inventory %></span>
                          </div>

                          <div class="width-167">
                            <label class="lab_50">数量下限</label>
                            <span class="width-165"><%= @store_material.max_inventory %></span>
                          </div>
                        </div>
                        <% end %>

                        <% if @store_material.expiry_alarmify %>
                        <div class="item_content">
                          <label class="width-75">保质期提醒</label><span> <%= @store_material.shelf_life %> 天</span>
                        </div>
                        <% end %>

                        <div class="item_textarea ">
                            <textarea class="textarea-width" placeholder="输入备注"></textarea>
                        </div>
                        <div class="tc">
                            <%= form_tag kucun_material_commission_material_commissions_path(@store_material), method: 'POST' do %>
                            <div class="sales_commission">
                                <div class="sales_div">
                                    <table cellpadding="0" cellspacing="0" class="sales_tab">
                                        <colgroup>
                                        <col width="20%">
                                        <col width="10%">
                                        <col width="30%">
                                        <col width="10%">
                                        <col width="30%">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td >销售提成</td>
                                                <td><label  class="width-30">部门</label></td>
                                                <td>
                                                    <span><input type="number" name='commission[salesman][department][percentage]' step='any'>%</span>
                                                </td>
                                                <td><label  class="width-30">个人</label></td>
                                                <td>
                                                    <span><input type="number" name='commission[salesman][personal][percentage]' step='any'>%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span><input name='commission[salesman][department][flatfee]' type="number" step='any'>元</span>
                                                </td>
                                                <td></td>
                                                <td>
                                                    <span><input name='commission[salesman][personal][flatfee]' type="number" step='any'>元</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="artificer_commission">
                                <div class="artificer_div">
                                    <table cellpadding="0" cellspacing="0" class="artificier_tab">
                                        <colgroup>
                                        <col width="20%">
                                        <col width="10%">
                                        <col width="30%">
                                        <col width="10%">
                                        <col width="30%">
                                        </colgroup>
                                        <tbody>
                                            <tr>
                                                <td>技师提成</td>
                                                <td><label  class="width-30">部门</label></td>
                                                <td>
                                                    <span><input name='commission[mechanic][department][percentage]' type="number" step='any'>%</span>
                                                </td>
                                                <td><label  class="width-30">个人</label></td>
                                                <td>
                                                    <span><input name='commission[mechanic][personal][percentage]' type="number" step='any'>%</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <span><input name='commission[mechanic][department][flatfee]' type="number" step='any'>元</span>
                                                </td>
                                                <td></td>
                                                <td>
                                                        <span><input name='commission[mechanic][personal][flatfee]' type="number" step='any'>元</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="btn_group">
                                <input type="submit"  value="保存" class="save_btn btn" >
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
