<table class="by_category">
  <thead>
    <tr>
      <th>类别</th>
      <th>数量</th>
      <th>收款金额</th>
    </tr>
  </thead>

  <tbody class="sale-category">
    <% @service_categories.try(:each) do |category| %>
      <tr data-category-id='<%= category.id %>'>
        <td><%= category.name %></td>
        <td><%= category.items_total_quantity(current_store, @date) %></td>
        <td><%= category.items_total_amount(current_store, @date) %> </td>
      </tr>
    <% end %>
    <% @material_categories.try(:each) do |category| %>
      <tr data-category-id='<%= category.id %>'>
        <td><%= category.name %></td>
        <td><%= category.items_total_quantity(current_store, @date) %></td>
        <td><%= category.items_total_amount(current_store, @date) %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
