<div class="order_details">
  <div class="dialog_nav">
    <span class="dialog_title ">单号: <%= @store_order.numero %></span>
  </div>
  <div class="vehicle_order_details">
    <div class="vehicle_info">
      <div class="vehicle_details_info">
        <div class="item_content">
          <label>车牌号</label>
          <span><%= @store_order.store_vehicle.license_number %></span>
        </div>
        <div class="item_content">
          <label>客户姓名</label>
          <span><%= @store_order.store_customer.full_name %></span>
        </div>
        <div class="item_content">
          <label>手机号</label>
          <span><%= @store_order.store_customer.phone_number %></span>
        </div>
        <div class="item_content" >
          <label>车辆品牌</label>
          <span><%= @store_order.store_vehicle.brand_name %></span>
        </div>
        <div class="item_content">
          <label>车系</label>
          <span><%= @store_order.store_vehicle.series_name %></span>
        </div>
        <div class="item_content">
          <label>车型</label>
          <span><%= @store_order.store_vehicle.vehicle_model.try :name %></span>
        </div>
        <div class="item_content">
          <label>客户属性</label>
          <span><%= @store_order.store_customer.store_customer_entity.try :property_name %></span>
        </div>
        <div class="item_content">
          <label>客户类别</label>
          <span><%= @store_order.store_customer.store_customer_entity.store_customer_category.try :name %></span>
        </div>
        <div class="item_content">
          <label>收款方式</label>
          <span><%= @store_order.store_customer.store_customer_entity.settlement_payment_method %></span>
        </div>
      </div>

    </div>
    <div class="vehicle_condition">
      <div class="vehicle_condition_info">

        <div class="vehicle_check_point">
          <div class="status">
            <dl>
              <dd>
                <label>油表油量</label>E<span class="oil"></span><span class="oil"></span>F
                <input type="range" value="<%= @store_order.situation['fuel_gauge'].to_i %>" disabled style="margin-left: -37pt;">
                <%= @store_order.situation['fuel_gauge'] %>%
              </dd>
            </dl>
            <dl><dd><label>行驶公里</label><span class="mileage"><%= @store_order.situation['mileage'] %></span></dd></dl>
          </div>
          <div class="check_point">
            <img src="/images/car_status.png"></td>
            <input type="checkbox" class="check_point_01" disabled>
            <input type="checkbox" class="check_point_02" disabled>
            <input type="checkbox" class="check_point_03" disabled>
            <input type="checkbox" class="check_point_04" disabled>
            <input type="checkbox" class="check_point_05" disabled>
            <input type="checkbox" class="check_point_06" disabled>
            <input type="checkbox" class="check_point_07" disabled>
            <input type="checkbox" class="check_point_08" disabled>
            <input type="checkbox" class="check_point_09" disabled>
            <input type="checkbox" class="check_point_10" disabled>
            <input type="checkbox" class="check_point_11" disabled>
            <input type="checkbox" class="check_point_12" disabled>
          </div>
          <div class="car_parts">
            <img src="/images/car_parts.png">
            <ul>
              <li><input type="checkbox" disabled></li>
              <li><input type="checkbox" disabled></li>
              <li><input type="checkbox" disabled></li>
              <li><input type="checkbox" disabled></li>
              <li><input type="checkbox" disabled></li>
              <li><input type="checkbox" disabled></li>
              <li><input type="checkbox" disabled></li>
              <li><input type="checkbox" disabled></li>
              <li><input type="checkbox" disabled></li>
            </ul>
          </div>
        </div>
        <div class="vehicle_check_info">
          <label>车况检查记录</label>
          <ul>
            <% @store_order.situation['damages'].to_a.each_with_index do |damage, idx| %>
            <li><%= idx + 1 %>:<span><%= damage['content'] %></span></li>
            <% end %>
          </ul>
        </div>


      </div>

    </div>
    <div class="vehicle_order">
      <div class="order_info">
        <h2>商品明细</h2>
				<table cellpadding="0" cellspacing="0" class="commodity_details">
					<thead>
						<tr>
							<th>名称</th>
							<th>规格</th>
							<th>数量</th>
							<th>单价</th>
							<th>会员/套餐价</th>
							<th>优惠</th>
							<th>原因</th>
							<th>小计</th>
						</tr>
					</thead>
					<tbody>
            <% @store_order.items.materials.each do |item| %>
						<tr data-id="list_commodity_01">
							<td><%= item.orderable.name %></td>
							<td><%= item.orderable.store_material.speci %></td>
							<td><%= item.quantity %></td>
							<td><%= item.retail_price %></td>
							<td><%= item.vip_price %></td>
							<td><%= item.discount %></a></td>
							<td><%= item.discount_reason %></td>
							<td><%= item.amount %></td>
						</tr>
            <% end %>
					</tbody>
					<tfoot>
						<tr class="text-align-right">
							<td colspan="10">
								<label class="margin-right-10">小结：</label><label> <%= @store_order.items.materials.sum(:amount) %> </label>
							</td>
						</tr>
					</tfoot>
				</table>

        <h2>服务明细</h2>
				<table cellpadding="0" cellspacing="0" class="service_details">
					<thead>
						<tr>
							<th>项目</th>
							<th>数量</th>
							<th>单价</th>
							<th>会员/套餐价</th>
							<th>优惠</th>
							<th>原因</th>
							<th>小计</th>
						</tr>
					</thead>
					<tbody>
            <% @store_order.items.services.each do |item| %>
						<tr>
							<td class="<%= 'package_icon' if item.from_customer_asset? %>" ><%= item.orderable.name %></td>
							<td><%= item.quantity %></td>
							<td><%= item.retail_price %></td>
							<td><%= item.vip_price %></td>
							<td><%= item.discount %></td>
							<td><%= item.discount_reason %></td>
							<td class="<%= 'text-decoration-linethrough' if item.from_customer_asset? %>"><%= item.amount %></td>
						</tr>
            <% end %>
					</tbody>
					<tfoot>
						<tr class="text-align-right">
							<td colspan="8">
								<label class="margin-right-10">小结：</label><label><%= @store_order.items.services.map{|item| item.from_customer_asset? ? 0 : item.amount}.sum %></label>
							</td>
						</tr>
					</tfoot>
				</table>

        <h2>套餐/储值明细</h2>
				<table cellpadding="0" cellspacing="0" class="packages">
					<thead>
						<tr>
							<th>项目</th>
							<th>数量</th>
							<th>单价</th>
							<th>小计</th>
						</tr>
					</thead>
					<tbody>
            <% @store_order.items.packages.each do |item| %>
						<tr data-id="list_package_01">
							<td><%= item.orderable.name %></td>
							<td><%= item.quantity %></td>
							<td><%= item.retail_price %></td>
							<td><%= item.amount %></td>
						</tr>
            <% end %>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="8">
								<label class="margin-right-10">小结：</label><label><%= @store_order.items.packages.sum(:amount) %></label>
							</td>
						</tr>
					</tfoot>
				</table>

        <div class="total_spending ">消费金额总计:<label><%= @store_order.amount %></label></div>
      </div>

    </div>
    <div class="construction">
			<div class="construction_info">
				<dl class="table-head">
					<dt>项目</dt>
					<dt>流程</dt>
					<dt>工位</dt>
					<dt>用时</dt>
					<dt>技师</dt>
					<dt>检验</dt>
				</dl>

        <% @store_order.store_service_snapshots.each do |service| %>
          <div class="dl-items">
            <label class="dl-dd"><%= service.name %></label>
            <% service.workflow_snapshots.each do |workflow| %>
              <dl class="dl-item">
                <dd><%= workflow.name %></dd>
                <dd><%= workflow.store_workstation.try :name %></dd>
                <dd><%= workflow.used_time || workflow.work_time_in_minutes %></dd>
                <dd>
                  <% workflow.mechanics.each do |m| %>
                    <span><%= m.full_name %></span>
                  <% end %>
                </dd>
                <dd><%= workflow.inspector %></dd>
              </dl>
            <% end %>
          </div>
        <% end %>

			</div>
		</div>
    <div class="others">
      <div  class="others_info">
        <dl>
          <dt>旧件处理</dt>
          <dd><label >带走旧件</label><input type="checkbox"></dd>
          <dd><label class="width-60">不带走旧件</label><input type="checkbox"></dd>
        </dl>
        <dl>
          <dt>贵重物品</dt>
          <dd><label >已提醒</label><input type="checkbox"></dd>
          <dd><label class="width-60">无贵重物品</label><input type="checkbox"></dd>
          <dd>客户签字:<input type="text" class="width-150"></dd>
        </dl>
        <div class="order_remark">
          <label class="vertical-align-top  width-30">备注</label>
          <textarea></textarea>
        </div>
        <div class="participant">
          <dl>
            <dd><label>开单:</label><span><%= @store_order.creator.full_name %></span></dd>
            <dd><label>试车员：</label><span></span></dd>
            <dd><label>最终质检员：</label><span></span></dd>
          </dl>
        </div>
      </div>
    </div>
  </div>

</div>
