<div class="main_top">
  <%= breadcrumb_navigation(['报表', '商品销售明细表']) %>
</div>
<div class="details">
    <div class="list_table">
      <div class="details_nav"></div>
      <table cellpadding="0" cellspacing="0" class="index_list">
        <thead>
          <tr>
            <th>序号</th>
            <th>单号</th>
            <th>商品条码</th>
            <th>商品名称</th>
            <th>单位</th>
            <th>品牌</th>
            <th>规格</th>
            <th>销售单价</th>
            <th>数量</th>
            <th>优惠</th>
            <th>实收</th>
            <th>成本</th>
            <th>小计</th>
            <th>毛利</th>
            <th>车牌号</th>
            <th>客户名称</th>
            <th>开单日期</th>
            <th>收银日期</th>
            <th>收款方式</th>
            <th>开单员</th>
            <th>销售类型</th>
            <th>备注</th>
          </tr>
        </thead>
        <tbody>
          <% @sold_materials.each_with_index do |item, idx| %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= item.store_order.numero%></td>
            <td><%= item.orderable.barcode %></td>
            <td><%= item.orderable.name %></td>
            <td><%= item.orderable.store_material_unit.name %></td>
            <td><%= item.orderable.store_material.store_material_brand.name %></td>
            <td><%= item.orderable.speci %></td>
            <td><%= item.retail_price %></td>
            <td><%= item.quantity %></td>
            <td><%= item.discount %></td>
            <td><%= item.price %></td>
            <td><%= item.cost_price %></td>
            <td><%= item.amount %></td>
            <td><%= (item.amount - item.cost_price.to_f * item.quantity) %></td>
            <td><%= item.store_order.store_vehicle.license_number %></td>
            <td><%= item.store_order.store_customer.full_name %></td>
            <td><%= item.created_at.strftime("%Y-%m-%d") %></td>
            <td><%= item.store_order.paid_at.strftime("%Y-%m-%d %H:%M:%S") if item.store_order.paid_at %></td>
            <td>
              <% item.store_order.store_customer_payments.each do |payment| %>
                <%= payment.payment_method_cn_name %>
              <% end %>
            </td>
            <td><%= item.creator.full_name %></td>
            <td><%= item.orderable.sale_category.try :name %></td>
            <td><%= item.remark %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
</div>
