<%= form_for @vehicle, url: crm_store_customer_store_vehicle_path do |f| %>
  <div class="item_content">
    <label class='width-75'>车牌号码</label>
    <% if @vehicle.current_license_number.present? %>
      <input type='text' class='width-165' value='<%= @vehicle.current_license_number %>' disabled>
    <% else %>
      <%= f.fields_for :plates, @vehicle.plates.build do |ff| %>
        <%= ff.text_field :license_number, class: 'width-165', autoComplete: 'off' %>
      <% end %>
    <% end %>
  </div>
  <div class="item_content">
    <label class='width-75'>品牌</label>
    <% if @vehicle.vehicle_brand.present? %>
      <input type='text' class='width-165' disabled='true' value='<%= @vehicle.brand_name %>' >
    <% else %>
      <%= f.select :vehicle_brand_id, [], {include_blank: '请选择'}, {id: 'brand', class: "width-165", required: true} %>
    <% end %>
  </div>
  <div class="item_content">
    <label class='width-75'>车系</label>
    <% if @vehicle.vehicle_series.present? %>
      <input type='text' class='width-165' disabled='true' value='<%= @vehicle.series_name %>' >
    <% else %>
      <%= f.select :vehicle_series_id, [], {include_blank: '请选择'}, {id: 'series', class: "width-165", required: true} %>
    <% end %>
  </div>
  <div class="item_content">
    <label class='width-75'>车型</label>
    <% if @vehicle.vehicle_model.present? %>
      <input type='text' class='width-165' disabled='true' value='<%= @vehicle.vehicle_model.try(:name) %>' >
    <% else %>
      <%= f.select :vehicle_model_id, [], {include_blank: '请选择'}, {id: 'model', class: "width-165", required: true} %>
    <% end %>
  </div>
  <div class="item_content">
    <label class='width-75'>VIN号码</label>
    <% if @vehicle.vin.present? %>
      <input type='text' class='width-165' disabled='true' value='<%= @vehicle.vin %>' >
    <% else %>
      <%= f.fields_for :frame, @vehicle.build_frame do |ff| %>
        <%= ff.text_field :vin, class: 'width-165', autoComplete: 'off' %>
      <% end %>
    <% end %>
  </div>
  <div class="item_content">
    <label class='width-75'>发动机号码</label>
    <% if @vehicle.identification_number.present? %>
      <input type='text' class='width-165' disabled='true' value='<%= @vehicle.current_identification_number %>' >
    <% else %>
      <%= f.fields_for :engines, @vehicle.engines.build do |ff| %>
        <%= ff.text_field :identification_number, class: 'width-165', autoComplete: 'off' %>
      <% end %>
    <% end %>
  </div>
  <%= f.fields_for :detail do |ff| %>
    <div class="item_content">
      <%= ff.label '颜色', class: 'width-75' %>
      <%= ff.color_field :color, class: 'width-165', value: @vehicle.color %>
    </div>
    <div class="item_content">
      <%= ff.label '座位数', class: 'width-75' %>
      <%= ff.text_field :capacity, class: 'width-165', value: @vehicle.capacity, readonly: @vehicle.capacity.present?, required: true %>
    </div>
    <div class="item_content">
      <%= ff.label '档案编号', class: 'width-75' %>
      <%= ff.text_field :numero, class: 'width-165', autoComplete: 'off', value: @vehicle.numero, readonly: @vehicle.numero.present? %>
    </div>
    <div class="item_content">
      <%= ff.label '车辆性质', class: 'width-75' %>
      <%= ff.select :organization_type, options_for_select(StoreVehicle::ORGANIZATION_TYPE.invert, @vehicle.detail['organization_type']), {}, {class: 'width-165', required: true} %>
    </div>
    <div class="item_content">
      <%= ff.label '上牌日期', class: 'width-75' %>
      <%= ff.date_field :registered_on, class: 'width-165', value: @vehicle.registered_on, readonly: @vehicle.registered_on.present?, required: true %>
    </div>
    <div class="item_content">
      <%= ff.label '公里数', class: 'width-75' %>
      <%= ff.text_field :mileage, class: 'width-165', autoComplete: 'off', value: @vehicle.mileage %>
    </div>
    <div class="item_content">
      <%= ff.label '购买日期', class: 'width-75' %>
      <%= ff.date_field :bought_on, class: 'width-165', value: @vehicle.bought_on, readonly: @vehicle.bought_on.present? %>
    </div>
    <div class="item_content">
      <%= ff.label '出厂日期', class: 'width-75' %>
      <%= ff.date_field :ex_factory_date, class: 'width-165', value: @vehicle.ex_factory_date, readonly: @vehicle.ex_factory_date.present? %>
    </div>
    <div class="item_content">
      <%= ff.label '最近保养日期', class: 'width-75' %>
      <%= ff.date_field :maintained_at, class: 'width-165', value: @vehicle.maintained_at %>
    </div>
    <div class="item_content">
      <%= ff.label '最近保养里程', class: 'width-75' %>
      <%= ff.text_field :maintained_mileage, class: 'width-165', autoComplete: 'off', value: @vehicle.maintained_mileage %>
    </div>
    <div class="item_content">
      <%= ff.label '完整度', class: 'width-75' %>
      <span class="stars width-165">
        <i class="fa fa-star color-FF7539"></i>
        <i class="fa fa-star-o color-FF7539"></i>
      </span>
    </div>
  </div>
  <div class="float-left">
    <div class="bg-color-efeae5 float-left margin-top-10 section">
      <div class="item_content">
        <%= ff.label '年检日期', class: 'width-75' %>
        <%= ff.date_field :annual_check_at, class: 'width-165', value: @vehicle.annual_check_at %>
      </div>
      <div class="item_content">
        <span class="display-inline-block width-120 text-align-right">
          <label>提醒客户</label>
          <%= ff.check_box :annual_check_customer_alermify, value: 'true', checked: @vehicle.detail && (@vehicle.annual_check_customer_alermify == '1') %>
        </span>
        <span class=" width-115 text-align-right padding-right-7">
          <label>提醒门店</label>
          <%= ff.check_box :annual_check_store_alermify, value: 'true', checked: @vehicle.detail && (@vehicle.annual_check_store_alermify == '1') %>
        </span>
      </div>
      <div class="item_content margin-right-150">
        <%= ff.label '保险公司', class: 'width-75' %>
        <%= ff.text_field :insurance_company, class: 'width-165', autoComplete: 'off', value: @vehicle.insurance_compnay %>
      </div>
      <div class="item_content">
        <%= ff.label '保险截至', class: 'width-75' %>
        <%= ff.date_field :insurance_expire_at, class: 'width-165', value: @vehicle.insurance_expire_at %>
      </div>
      <div class="item_content">
        <span class="display-inline-block width-120 text-align-right">
          <label>提醒客户</label>
          <%= ff.check_box :insurance_customer_alermify, value: 'true', checked: @vehicle.detail && (@vehicle.insurance_customer_alermify == '1') %>
        </span>
        <span class="display-inline-block width-115 text-align-right padding-right-7">
          <label>提醒门店</label>
          <%= ff.check_box :insurance_store_alermify, value: 'true', checked: @vehicle.detail && (@vehicle.insurance_store_alermify == '1') %>
        </span>
      </div>
    </div>
    <div class="bg-color-efeae5 float-left margin-top-10 section">
      <div class="item_content">
        <%= ff.label '保养间隔天数', class: 'width-75' %>
        <%= ff.text_field :maintain_interval_time, class: 'width-165', value: @vehicle.maintain_interval_time, autoComplete: 'off' %>
      </div>
      <div class="item_content">
        <%= ff.label '保养间隔里程', class: 'width-75' %>
        <%= ff.text_field :maintain_interval_mileage, class: 'width-165', value: @vehicle.maintain_interval_mileage, autoComplete: 'off' %>
      </div>
      <div class="item_content">
        <span class="display-inline-block width-120 text-align-right">
          <label>提醒客户</label>
          <%= ff.check_box :next_maintain_customer_alermify, value: 'true', checked: @vehicle.detail && (@vehicle.next_maintain_customer_alermify == '1') %>
        </span>
        <span class="display-inline-block width-115 text-align-right padding-right-7">
          <label>提醒门店</label>
          <%= ff.check_box :next_maintain_store_alermify, value: 'true', checked: @vehicle.detail && (@vehicle.next_maintain_store_alermify == '1') %>
        </span>
      </div>
      <div class="item_content">
        <%= ff.label '下次保养里程', class: 'width-75' %>
        <%= ff.text_field :next_maintain_mileage, class: 'width-165', value: @vehicle.next_maintain_mileage, autoComplete: 'off' %>
      </div>
      <div class="item_content next_maintenance_time">
        <%= ff.label '下次保养日期', class: 'width-75' %>
        <%= ff.date_field :next_maintain_at, class: 'width-165', value: @vehicle.next_maintain_at %>
      </div>
    </div>
    </div>
  <% end %>
  <div class="btn_group">
    <%= f.submit '保存', class: 'save_btn btn' %>
  </div>
<% end %>
