<%= form_for @vehicle, url: crm_store_customer_store_vehicles_path do |f| %>
  <div class="item_content">
    <%= f.label "车牌号码", class: 'width-75' %>
    <%= f.fields_for :plates, @vehicle.plates.build do |ff| %>
      <%= ff.text_field :license_number, class: 'width-165', autoComplete: 'off' %>
    <% end %>
  </div>
  <div class="item_content">
    <%= f.label "品牌", class: 'width-75' %>
    <%= f.select :vehicle_brand_id, [], {include_blank: '请选择'}, {id: 'brand', class: "width-165", required: true} %>
  </div>
  <div class="item_content">
    <%= f.label "车系", class: 'width-75' %>
    <%= f.select :vehicle_series_id, [], {include_blank: '请选择'}, {id: 'series', class: "width-165", required: true} %>
  </div>
  <div class="item_content">
    <%= f.label "车型", class: 'width-75' %>
    <%= f.select :vehicle_model_id, [], {include_blank: '请选择'}, {id: 'model', class: "width-165", required: true} %>
  </div>
  <%= f.fields_for :frame, @vehicle.build_frame do |ff| %>
    <div class="item_content">
      <%= ff.label 'VIN号码', class: 'width-75' %>
      <%= ff.text_field :vin, class: 'width-165', required: 'true', autoComplete: 'off' %>
    </div>
  <% end %>
  <div class="item_content">
    <%= f.label '发动机号码', class: 'width-75' %>
    <%= f.fields_for :engines, @vehicle.engines.build do |ff| %>
      <%= ff.text_field :identification_number, class: 'width-165', required: 'true', autoComplete: 'off' %>
    <% end %>
  </div>
  <%= f.fields_for :detail do |ff| %>
    <div class="item_content">
      <%= ff.label '颜色', class: 'width-75' %>
      <%= ff.color_field :color, class: 'width-165' %>
    </div>
    <div class="item_content">
      <%= ff.label '座位数', class: 'width-75' %>
      <%= ff.text_field :capacity, class: 'width-165', autoComplete: 'off', required: true %>
    </div>
    <div class="item_content">
      <%= ff.label '档案编号', class: 'width-75' %>
      <%= ff.text_field :numero, class: 'width-165', autoComplete: 'off' %>
    </div>
    <div class="item_content">
      <%= ff.label '车辆性质', class: 'width-75' %>
      <%= ff.select :organization_type, options_for_select(StoreVehicle::ORGANIZATION_TYPE.invert), {include_blank: '请选择'}, {class: 'width-165', required: true} %>
    </div>
    <div class="item_content">
      <%= ff.label '上牌日期', class: 'width-75' %>
      <%= ff.date_field :registered_on, class: 'width-165', required: true %>
    </div>
    <div class="item_content">
      <%= ff.label '公里数', class: 'width-75' %>
      <%= ff.text_field :mileage, class: 'width-165', autoComplete: 'off' %>
    </div>
    <div class="item_content">
      <%= ff.label '购买日期', class: 'width-75' %>
      <%= ff.date_field :bought_on, class: 'width-165' %>
    </div>
    <div class="item_content">
      <%= ff.label '出厂日期', class: 'width-75' %>
      <%= ff.date_field :ex_factory_date, class: 'width-165' %>
    </div>
    <div class="item_content">
      <%= ff.label '最近保养日期', class: 'width-75' %>
      <%= ff.date_field :maintained_at, class: 'width-165' %>
    </div>
    <div class="item_content">
      <%= ff.label '最近保养里程', class: 'width-75' %>
      <%= ff.text_field :maintained_mileage, class: 'width-165', autoComplete: 'off' %>
    </div>
    <div class="item_content">
      <%= ff.label '完整度', class: 'width-75' %>
      <span class="stars width-165">
        <i class="fa fa-star color-FF7539"></i>
        <i class="fa fa-star-o color-FF7539"></i>
      </span>
    </div>
  </div>
  <div class="float-left">
    <div class="bg-color-efeae5 float-left margin-top-10 section">
      <div class="item_content">
        <%= ff.label '年检日期', class: 'width-75' %>
        <%= ff.date_field :annual_check_at, class: 'width-165' %>
      </div>
      <div class="item_content">
        <span class="display-inline-block width-120 text-align-right">
          <label>提醒客户</label>
          <%= ff.check_box :annual_check_customer_alermify, value: 'true' %>
        </span>
        <span class=" width-115 text-align-right padding-right-7">
          <label>提醒门店</label>
          <%= ff.check_box :annual_check_store_alermify, value: 'true' %>
        </span>
      </div>
      <div class="item_content margin-right-150">
        <%= ff.label '保险公司', class: 'width-75' %>
        <%= ff.text_field :insurance_company, class: 'width-165', autoComplete: 'off' %>
      </div>
      <div class="item_content">
        <%= ff.label '保险截至', class: 'width-75' %>
        <%= ff.date_field :insurance_expire_at, class: 'width-165' %>
      </div>
      <div class="item_content">
        <span class="display-inline-block width-120 text-align-right">
          <label>提醒客户</label>
          <%= ff.check_box :insurance_customer_alermify, value: 'true' %>
        </span>
        <span class="display-inline-block width-115 text-align-right padding-right-7">
          <label>提醒门店</label>
          <%= ff.check_box :insurance_store_alermify, value: 'true' %>
        </span>
      </div>
    </div>
    <div class="bg-color-efeae5 float-left margin-top-10 section">
      <div class="item_content">
        <%= ff.label '保养间隔天数', class: 'width-75' %>
        <%= ff.text_field :maintain_interval_time, class: 'width-165', autoComplete: 'off' %>
      </div>
      <div class="item_content">
        <%= ff.label '保养间隔里程', class: 'width-75' %>
        <%= ff.text_field :maintain_interval_mileage, class: 'width-165', autoComplete: 'off' %>
      </div>
      <div class="item_content">
        <span class="display-inline-block width-120 text-align-right">
          <label>提醒客户</label>
          <%= ff.check_box :next_maintain_customer_alermify, value: 'true' %>
        </span>
        <span class="display-inline-block width-115 text-align-right padding-right-7">
          <label>提醒门店</label>
          <%= ff.check_box :next_maintain_store_alermify, value: 'true' %>
        </span>
      </div>
      <div class="item_content">
        <%= ff.label '下次保养里程', class: 'width-75' %>
        <%= ff.text_field :next_maintain_mileage, class: 'width-165', autoComplete: 'off' %>
      </div>
      <div class="item_content next_maintenance_time">
        <%= ff.label '下次保养日期', class: 'width-75' %>
        <%= ff.date_field :next_maintain_at, class: 'width-165' %>
      </div>
    </div>
    </div>
  <% end %>
  <div class="btn_group">
    <%= f.submit '创建', class: 'save_btn btn' %>
  </div>
<% end %>
