<div class="item_content">
  <label class='width-75'>车牌号码</label>
  <input type='text' class='width-165' disabled='true' value='<%= @vehicle.current_license_number %>' >
</div>
<div class="item_content">
  <label class='width-75'>品牌</label>
  <input type='text' class='width-165' disabled='true' value='<%= @vehicle.vehicle_brand.name %>' >
</div>
<div class="item_content">
  <label class='width-75'>车系</label>
  <input type='text' class='width-165' disabled='true' value='<%= @vehicle.vehicle_series.name %>' >
</div>
<div class="item_content">
  <label class='width-75'>车型</label>
  <input type='text' class='width-165' disabled='true' value='<%= @vehicle.vehicle_model.name %>' >
</div>
<div class="item_content">
  <label class='width-75'>VIN号码</label>
  <input type='text' class='width-165' disabled='true' value='<%= @vehicle.frame.vin %>' >
</div>
<div class="item_content">
  <label class='width-75'>发动机号码</label>
  <input type='text' class='width-165' disabled='true' value='<%= @vehicle.current_identification_number %>' >
</div>
