<% content_for :pre_assets do %>
  <%= stylesheet_link_tag "/stylesheets/kehu.css" %>
<% end %>

<%= render '/crm/common/page_head' %>

  <div class="details">
    <%= render '/crm/common/customer_nav' %>

    <div class="car_details float-right">

      <%= render '/crm/vehicle_common/vehicle_nav' %>

      <%= render '/crm/vehicle_common/sub_nav' %>

      <div class="details_content car_content">
          <div class="base_info">

            <%= render '/crm/vehicle_common/vehicle_image' %>

            <div class="car_info">
              <div class="items">
                <%= render 'new_form' %>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $(function() {
      $('.datepicker').datetimepicker({
        format: 'Y-m-d',
        lang: 'ch',
        timepicker: false
      });

      show_vehicle_brands();
      $(document).on('change', '#brand', show_vehicle_series);
      $(document).on('change', '#series', show_vehicle_model);
      $(document).on('keydown', '.readonly', prevent_default);
    });

    function show_vehicle_brands() {
      $.get('/crm/vehicle_brands', function(brands){
        $.each(brands, function(idx, brand) {
          $('#brand').append($('<option></option>').attr('value', brand.id).text(brand.name));
        });
      });
   }

    function show_vehicle_series() {
      var brand_id = $('#brand').find(':selected').val();
      $.get('/api/vehicle_brands/' + brand_id + '/vehicle_manufacturers', function(manufacturers) {
        $('#series').find('optgroup').remove().end().append($('<optgroup>'));
        $('#model').find('option').remove().end().append($('<option></option>'));
        $.each(manufacturers, function(idx, manufacturer) {
          var optgroup = $('<optgroup>');
          optgroup.attr('label', manufacturer.name);
          $.get('/api/vehicle_manufacturers/' + manufacturer.id + '/vehicle_series', function(series){
            $.each(series, function(idx, series) {
              optgroup.append($('<option></option>').attr('value', series.id).text(series.name));
            });
          });
          $('#series').append(optgroup);
        });
      });
    }

    function show_vehicle_model() {
      var series_id = $('#series').find(':selected').val();
      $.get('/api/vehicle_series/' + series_id + '/vehicle_models', function(models) {
        $('#model').find('option').remove().end().append($('<option></option>'));
        $.each(models, function(idx, model) {
          $('#model').append($('<option></option>').attr('value', model.id).text(model.name));
        });
      });
    }

    function prevent_default(e) {
      e.preventDefault();
    }

  </script>
