<div class="grid-1-2 float-left">
  <div class="item_content">
    <%= form.label :name, '服务名称', class: 'width-75' %>
    <%= form.text_field :name, class: 'width-165' %>
  </div>
  <div class="item_content">
    <%= form.label :retail_price, '销售价', class: 'width-75' %>
    <%= form.text_field :retail_price, class: 'width-165' %>
  </div>
  <div class="item_content">
    <%= form.radio_button :favorable, false, checked: false, class: 'toggleable margin-left-15' %>
    <%= form.label :bargain_price, '优惠价', class: 'width-40' %>
    <%= form.text_field :bargain_price, class: 'width-165', disabled: true %>
  </div>
  <div class="item_content">
    <%= form.label :point, '服务积分', class: 'width-75' %>
    <%= form.text_field :point, class: 'width-165' %>
  </div>
  <div class="item_content">
    <%= form.label :code, '服务代码', class: 'width-75' %>
    <%= form.text_field :code, class: 'width-165' %>
  </div>
  <div class="item_content j_categories">
    <%= form.label :store_service_category_id, '服务类别', class: 'width-75' %>
    <%= form.hidden_field :store_service_category_id %>
    <span class="width-157 as_select">请选择</span>
    <div class="select width-165 margin-left-78" style="display: none;">
      <ol class="width-165">
        <% @categories.each do |c| %>
          <li data-value="<%= c.id %>"><%= c.name %></li>
      <% end %>
      </ol>
      <a class="add_btn width-158" href="javascript:void(0);">新增</a>
    </div>
  </div>
  <div class="item_textarea ">
    <%= form.label :introduction, '服务介绍', class: 'width-75' %>
    <%= form.text_area :introduction, class: 'server_textarea width-432' %>
  </div>
  <div class="item_textarea ">
    <%= form.label :remark, '备注', class: 'width-75' %>
    <%= form.text_area :remark, class: 'height-120 text-indent-5 width-432' %>
  </div>
</div>
