<tr>
  <td><%= index + 1%></td>
  <td><%= service.name %></td>
  <td><%= link_to service.code, xiaoshou_service_profile_path(service) %></td>
  <td>标准时间：<%= service.standard_time  %> (正负：<%= service.factor_time %>) 缓冲时间：<%= service.buffering_time %></td>
  <td><%= service.unit.try(:name) %></td>
  <td><%= service.retail_price %></td>
  <td><%= service.bargain_price %></td>
  <td><%= service.point %></td>
  <td><%= service.engineer_level %></td>
  <td><%= service.store_order_items.count %></td>
  <td><%= service.store_service_category.name %></td>
  <td class="last_td">
    <a href="#" class="link_i"><i class="fa fa-wrench"></i></a>
    <a href="#" class="link_i"><i class="fa fa-bullhorn"></i></a>
    <a href="#" class="link_i"><i class="fa fa-tty"></i></a>
  </td>
</tr>
