<% content_for :pre_assets do %>
  <%= stylesheet_link_tag "/stylesheets/xiaoshou.css" %>
<% end %>

<div class="main_top">
  <h2>服务项目列表</h2>
  <span class="add_span">+</span>
</div>
<div class="details">
  <div class="top_content records">
    <%= render 'xiaoshou/service/shares/summary' %>
  </div>

  <div class="list_table">
    <div class="search_nav">
      <%= search_form_for @q, format: :js, url: [:xiaoshou, :service, :profiles], remote: true, method: :get do |f|%>
        <div class="item-query">
          <%= f.label :name_cont, '查找服务' %>
          <%= f.text_field :name_cont, class: 'width-150', placeholder: '输入产品关键字' %>
        </div>
        <div class="item-query">
          <%= f.label :store_service_category_id_eq, '服务类别' %>
          <%= f.select :store_service_category_id_eq, options_for_select(@categories.map {|c| [c.name, c.id]}), include_blank: '请选择', class: 'width-150' %>
        </div>
        <div class="item-query">
          <%= f.submit "查询", class: "btn query_btn" %>
        </div>
      <% end -%>
      <div class="item-query c_price">
        <div class="link" id="link_drop_list">
          <span class="float-left margin-right-10" title="价格从高到低">价格</span>
          <span><i class="fa fa-angle-down"></i></span>
        </div>
        <ul class="drop_list" id="drop_list">
          <li data-name='retail_price' data-sort-direction="asc" class="sort"><a href="javascript:void(0)" class="">价格从低到高</a></li>
          <li data-name='retail_price' data-sort-direction="desc" class="sort"><a href="javascript:void(0)" class="">价格从高到低</a></li>
        </ul>
      </div>
      <div class="prices">
        <div class="inputs" >
          <div class="inner">
            <ul class="items">
              <li data-name="retail_price_gteq" data-filter="" class="item j_active"><input type="text" class="j_sortbar_price_input input" placeholder="¥" ></li>
              <li class="sep">-</li>
              <li data-name="retail_price_lteq" data-filter="" class="item j_active"><input type="text" class="j_sortbar_price_input input" placeholder="¥"></li>
              <li class="submit"><button class="btn j_sortbar_price_submit">确定</button></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="item-query screen">
        <div class="link">
          <span class="float-left margin-right-10" title="价格从高到低">筛选</span>
          <span><i class="fa fa-angle-down"></i></span>
        </div>
        <ul class="drop_list" >
          <li data-name='favorable_false' data-filter='1' class="sort"><a href="javascript:void(0)" class="">正常价格商品</a></li>
          <li data-name='favorable_true' data-filter='1' class="sort"><a href="javascript:void(0)" class="">优惠价格商品</a></li>
          <li data-name='campaign' data-filter='true' class="sort"><a href="javascript:void(0)" class="">参加活动商品</a></li>
          <li data-name='created_at_gteq' data-filter='<%= Time.now.to_date %>' class="sort"><a href="javascript:void(0)" class="p_link">今天上架商品</a></li>
          <li data-name='created_at_gteq' data-filter='<%= Time.now.at_beginning_of_week.to_date %>' class="sort"><a href="javascript:void(0)" class="">本周上架商品</a></li>
          <li data-name='created_at_gteq' data-filter='<%= Time.now.at_beginning_of_month.to_date %>' class="sort"><a href="javascript:void(0)" class="">本月上架商品</a></li>
        </ul>
      </div>
      <div class="operats">
        <ul class="items">
          <li class="item_add">
            <%= link_to "新建", [:new, :xiaoshou, :service, :profile], class: 'btn add_btn' %>
          </li>
          <li class="item"><a href="#" class="link"><i class="fa fa-th"></i></a></li>
          <li class="item"><a href="#" class="link"><i class="fa fa-bars"></i></a></li>
        </ul>
      </div>
    </div>
    <table cellpadding="0" cellspacing="0" class="index_list service <%= 'no_search_result' if @services.blank? %>">
      <thead>
        <tr>
          <th style="border-right:0px;" >#</th>
          <th >服务名称</th>
          <th >服务代码</th>
          <th >施工时间</th>
          <th >单位</th>
          <th>销售价</th>
          <th>促销价</th>
          <th >积分</th>
          <th>技师</th>
          <th>已售</th>
          <th>服务分类</th>
          <th class="last_td">状态</th>
        </tr>
      </thead>
      <tbody>
        <% if @services.present? %>
          <% @services.each_with_index do |service, index| %>
            <%= render 'service', service: service, index: index %>
          <% end %>
        <% else %>
          <%= render 'no_content' %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= content_tag :div, '', id: 'bootstrap', data: {store_services: json_for(current_store.store_services)} %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      new Mis.Views.XiaoshouServiceProfilesIndex();
    })
  </script>
<% end %>
