<% content_for :pre_assets do %>
  <%= stylesheet_link_tag "/stylesheets/xiaoshou.css" %>
  <%= stylesheet_link_tag "/stylesheets/kucun.css" %>
<% end %>

<div class="main_top">
  <h2>新建服务项目</h2>
  <span class="add_span">+</span>
</div>
<div class="details">
  <div class="top_content records">
    <%= render 'xiaoshou/service/shares/summary' %>
  </div>

  <%= render 'xiaoshou/service/shares/nav' %>

  <div class="details_content">
    <div class="base_info">
      <div class="goods_img">
        <div id='material_img_preview' class="goods_main_img"></div>
        <ul id='material_img_thumbnails' class="goods_small_img">
          <li id='preview_list'></li>
          <li data-id='0'><a class='fa fa-plus-square add_img font-30' href="javascript:void(0);"></a></li>
        </ul>
      </div>
      <%= form_for @service, url: [:xiaoshou, :service, :profiles] do |f| %>
        <div class=" server_content">
          <%= render 'detail', form: f %>
          <%= render 'related_goods' %>
        </div>
        <div class="btn_group">
          <%= f.submit "保存", class: 'save_btn btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="serviceCategory">

</div>

<% content_for :scenes do %>
  <div id='piccut'>
    <div class="overlay">
  		<div class="overlay-inner"></div>
  	</div>
  	<div id='arrange'>
  	  <div id='gallery' style="top: -1px; left: 115px;" class="resize-container"></div>
  	</div>
    <div class="btn_group">
      <input type="file" id='imgfile' name="imgefile" size="12" accept="image/jpeg,image/png" />
      <button class="crop_btn btn-crop js-crop">截图</button>
      <input class="cancel_btn btn-cancel js-cancel" type="button" value="取消"/>
    </div>
  </div>
<% end %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(document).ready(function(){
      var model = new Mis.Models.StoreService();
      new Mis.Views.XiaoshouServiceProfilesNew({model: model});
    })
  </script>
<% end %>
<script type="text/javascript" charset="utf-8">
  $(function(){

      /*Image upload _BEGIN_*/
  (function(window, document){
    var imgfile=document.getElementById("imgfile");
    if(!imgfile){return false;}
    var fr = new FileReader();
    fr.onload = function(e){
      if(document.getElementById('image_tag')){
        document.getElementById('image_tag').remove();
      }
      document.getElementById("gallery").remove();

      var image = new Image();
      image.className = "resize-image";
      image.id = 'image_tag';
      image.src = this.result;

      div = document.createElement("div");
      div.id='gallery';
      div.className = 'resize-container';
      div.style.top = '-1px';
      div.style.left = '115px';
      div.appendChild(image);
      document.getElementById('arrange').appendChild(div);

      var dataid=$('#material_img_thumbnails').data('id');
      var preview = $("#preview_list");
      resizeableImage(document.getElementById('image_tag'), $('.js-crop')[0], preview);
    }

    imgfile.onchange = function(e){
       f1 = this.files.item(0);
      if(f1.type == 'image/png' || f1.type == 'image/jpeg'){
        fr.readAsDataURL(f1, 'image/png');
      }else{
        alert('错误的文件格式，请选择PNG或JPG格式的图片文件！');
        this.value = '';
      }
    }

    $('a.add_img').on('click', function(){$('#piccut').show();});
    $('input.btn-cancel').on('click', function(){$('#piccut').hide();});

  })(window, document);
  /*Image upload _END_*/

    $('#material_img_thumbnails').on('click', 'li>img', function(evt){
      if(!$("#material_img_preview>img").length){
        var img = new Image();
        img.src = this.src;
        $("#material_img_preview").append(img);
      }else{
        $("#material_img_preview>img")[0].src = this.src;
      }
    });
  })
</script>
