<% content_for :pre_assets do %>
  <%= stylesheet_link_tag "/stylesheets/xiaoshou.css" %>
<% end %>

<div class="main_top">
  <h2>新建服务项目</h2>
  <span class="add_span">+</span>
</div>
<div class="details">
  <div class="top_content records">
    <%= render 'summary' %>
  </div>

  <%= render 'nav' %>

  <div class="details_content">
    <div class="base_info">
      <div class="goods_img">
        <div id='material_img_preview' class="goods_main_img"></div>
        <ul id='material_img_thumbnails' class="goods_small_img">
          <li id='preview_list'></li>
          <li data-id='0'><a class='fa fa-plus-square add_img font-30' href="javascript:void(0);"></a></li>
        </ul>
      </div>
      <%= form_for @service, url: [:xiaoshou, :service, :profiles] do |f| %>
        <div class=" server_content">
        <%= render 'detail', form: f %>
        <%= render 'related_goods', form: f %>
      </div>
      <div class="btn_group">
        <%= f.submit "保存", class: 'save_btn btn cancel' %>
      </div>
    <% end %>
    </div>
  </div>
</div>

<div id="FloatWindow">
  <div class="FloatContent width640">
    <div class="fheader">
      <span>新增服务类别</span>
      <i class="close-window  lnr-cross lnr"></i>
    </div>
    <%= form_for current_store.service_categories.build, remote: true, url: [:xiaoshou, :service, :categories], html: {class: 'form_content'} do |f| %>
      <div class="form_item">
        <%= f.label :name, '名称' %>
        <%= f.text_field :name %>
      </div>
      <div class="ffooter">
        <%= f.submit "保存", class: 'confirm_btn' %>
        <input type="button" value="取消" class="cancel_btn">
      </div>
    <% end %>
  </div>
</div>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(function(){
      new Mis.Views.XiaoshouServiceProfilesNew();
    })
  </script>
<% end %>
