<tbody>
  <% @order_items.each do |item| %>
    <% if item.saled_by?(@staff) && item.has_commission? %>
      <tr>
        <td><label class="width-90"><%= item.store_order.created_at.strftime("%Y/%m/%d") %></label><label><%= item.store_order.created_at.strftime("%H:%S") %></label></td>
        <td><%= item.store_order.numero %></td>
        <td><%= item.orderable.name %></td>
        <td> 卖出<em><%= item.quantity %></em>件</td>
        <td><%= item.amount %></td>
        <td> <%= @staff.sale_commission_of item %> </td>
      </tr>
    <% end %>
    <% if item.constructed_by? @staff %>
      <% @staff.store_staff_tasks.where(store_order_item_id: item).each do |task| %>
        <% next unless task.has_commission? %>
        <tr>
          <td><label class="width-90"><%= item.store_order.created_at.strftime("%Y/%m/%d") %></label><label><%= item.store_order.created_at.strftime("%H:%S") %></label></td>
          <td><%= item.store_order.numero %></td>
          <td><%= item.orderable.name %></td>
          <td> <em><%= task.workflow_snapshot.name %> <%= @staff.task_commission_of(task) %></em></td>
          <td><%= 0.0 %></td>
          <td> <%= @staff.task_commission_of task %> </td>
        </tr>
      <% end %>
    <% end %>
  <% end %>
</tbody>
<tfoot>
  <tr>
    <td colspan="3"></td>
    <td class="text-align-right">
      <label>项目数：</label><span class="width-90 text-align-left"><%= @orders_count %></span>
      <label class="width-100">项目总金额：</label>
    </td>
    <td colspan="2">
      <span class="width-80"><%= @order_items.map(&:amount).sum %></span>
      <label>提成总金额：</label><span><%= @staff.commission_amount_total %></span>
    </td>
  </tr>
</tfoot>
