<div class="captical_records_wrap package_records_wrap " data-id="package" style="display:none;">
  <ul class="captical_info package_info">
    <li>
      <label>名称</label>
      <span><%= @composition.id %></span>
    </li>
    <li>
      <label>购卡日期</label>
      <span><%= @composition.created_at.strftime("%Y-%m-%d") %></span>
    </li>
    <li>
      <label>类别</label>
      <span>套餐</span>
    </li>
    <li>
      <label>使用门店</label>
      <span>所有门店</span>
    </li>
    <li>
      <label>状态</label>
      <span><%= @composition.left? ? "使用中" : "已使用完" %></span>
    </li>
  </ul>

  <div class="detail">
    <div class="items">
      <h3>包含项目</h3>
      <dl class="table-head">
        <dt>项目</dt>
        <dt>剩余次数</dt>
      </dl>

      <div class="table-content-wrap">
        <% @items.each do |item| %>
          <dl class="table-content", data-itemid="<%= item.id %>">
            <dd><%= item.workflowable_hash['name'] %></dd>
            <dd><%= item.left_quantity %></dd>
          </dl>
        <% end %>
      </div>
    </div>

    <div class="orders" id="order-detail">
      <%= render 'order_detail' %>
    </div>

  </div>

</div>

<script type="text/javascript" charset="utf-8">
  jQuery(function(){
    $('.table-content-wrap').on('click', 'dl.table-content', function(){
      var url = "/crm/store_customers/" + "<%= @customer.id %>" + "/store_assets/" + $(this).data('itemid') + "/detail/"
      $(this).addClass("action").siblings().removeClass("action");
      $.get(url, function(){
        return;
      })
    })
  });
</script>

