<div class="captical_records_wrap package_records_wrap " data-id="package" style="display:none;">
  <ul class="captical_info package_info">
    <li>
      <label>名称</label>
      <span><%= @compose.id %></span>
    </li>
    <li>
      <label>购卡日期</label>
      <span><%= @compose.created_at.strftime("%Y-%m-%d") %></span>
    </li>
    <li>
      <label>有效期</label>
      <span>no</span>
    </li>
    <li>
      <label>类别</label>
      <span>套餐</span>
    </li>
    <li>
      <label>包含项目</label>
      <dl>
        <dd>普通洗车</dd>
        <dd>......</dd>
      </dl>
    </li>
    <li>
      <label>使用门店</label>
      <span>所有门店</span>
    </li>
    <li>
      <label>状态</label>
      <span>使用中</span>
    </li>
    <li>
      <label>操作</label>
    </li>
  </ul>

  <div class="detail">
    <div class="items">
      <h3>包含项目</h3>
      <dl class="table-head">
        <dt>项目</dt>
        <dt>剩余次数</dt>
      </dl>

      <div class="table-content-wrap">
        <% @items.each do |i| %>
          <dl class="table-content">
            <dd><%= i.workflowable_hash['name'] %>- <%= i.id %></dd>
            <dd><%= i.total_quantity - i.used_quantity %></dd>
          </dl>
        <% end %>
      </div>
    </div>

    <div class="orders">
      <h3>消费明细</h3>
      <table class="table-head">
        <thead>
          <tr>
            <th>使用时间</th>
            <th>订单号</th>
            <th>所属门店</th>
          </tr>
        </thead>
      </table>

      <div class="table-content-wrap">
        <table class="table-content">
          <tbody>

            <% @current_item.logs.each do |log| %>
              <tr>
                <td><%= log.created_at.strftime("%y-%m-%d") %></td>
                <td><%= log.store_order.numero %></td>
                <td><%= log.store.name %></td>
              </tr>
            <% end %>

          </tbody>
        </table>
      </div>
    </div>

  </div>

</div>
