<div class="regular_setting setting_left float-left">
  <h2>按常规设置
    <input type="radio" name="service_setting_select" id="do_service_regular_setting" class="margin-left-8 " <%= 'checked' if @service.regular? %> disabled="">
  </h2>
  <table>
    <tbody><tr>
      <td>技师设置</td>
      <td></td>
      <td><input type="radio" name="mechanic_quantity" <%= 'checked' if @service.regular? && !@workflow.engineer_count_enable %> disabled=""></td>
      <td>数量不限</td>
      <td>
        <input type="radio" name="mechanic_quantity" <%= 'checked' if @service.regular? && @workflow.engineer_count_enable %> disabled="">
      </td>
      <td>精确数量
        <input type="text" name="quantity" value="<%= @workflow.engineer_count if @service.regular? && @workflow.engineer_count %>" class="width-83 margin-left-5" disabled="">
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        <input type="radio" name="mechanic_level" disabled="">
      </td>
      <td colspan="3">技师级别限定
        <select class="width-106 margin-right-14" disabled="">
          <option></option>
          <% StoreServiceWorkflow::ENGINEER_LEVEL.each do |key,value| %>
            <option <%= 'checked' if @service.regular? && @workflow.engineer_level == value %> value="<%= value %>"><%= key %></option>
          <% end %>
        </select>
        以上
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><input type="radio" name="sign_method" <%= 'checked' if @service.regular? && @workflow.auto_position? %> disabled=""></td>
      <td>自动上岗</td>
      <td><input type="radio" name="sign_method" <%= 'checked' if @service.regular? && @workflow.position_with_app? %> disabled=""></td>
      <td>APP上岗</td>
    </tr>
    <tr>
      <td>施工时间</td>
      <td></td>
      <td><input type="radio" name="time" <%= 'checked' if @service.regular? && !@workflow.standard_time_enable %> disabled=""></td>
      <td colspan="3">
        标准时间
        <input type="text" value="<%= @workflow.standard_time if @service.regular? && @workflow.standard_time_enable %>" class=" width-63 margin-right-10 margin-left-3" readonly="">
        正负
        <input type="text" value="<%= @workflow.factor_time if @service.regular? && @workflow.standard_time_enable %>" class="width-63 margin-left-3" readonly="">
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><input type="radio" name="time" <%= 'checked' if @service.regular? && !@workflow.buffering_time_enable %> disabled=""></td>
      <td colspan="3">
        缓冲时间
        <input type="text" value="<%= @workflow.buffering_time if @service.regular? && @workflow.buffering_time_enable %>" class="width-64 margin-left-2" disabled="">
      </td>
    </tr>
    <tr>
      <td>工位设置</td>
      <td></td>
      <td><input type="radio" <%= 'checked' if @service.regular? && !@workflow.nominated_workstation %> name="station_setting_in_regular" disabled=""></td>
      <td colspan="3">
        系统自动分配
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td><input type="radio" <%= 'checked' if @service.regular? && @workflow.nominated_workstation %> name="station_setting_in_regular" value="指定工位" disabled=""></td>
      <td>
        指定工位
      </td>
      <td colspan="2" class="text-align-left">
        <span class="bg-color-f7f7f7"></span>
        <ul style="<%= 'display: block;' if @service.regular? && @workflow.nominated_workstation %>">
          <% @workstation_categories.each do |wc| %>
            <li><%= wc.name %></li>
          <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td colspan="3" rowspan="4" class="padding-0">
        <div id="stations_to_sel">
          <ul id="stations_of_cleaning" style="<%= (@service.regular? && @workflow.nominated_workstation) ?  'display: block;' : 'display: none; ' %>">
            <% @workstations.each do |ws| %>
              <li>
              <%= ws.name %>
              <input type="checkbox" disabled <%= 'checked' if @service.regular? && @workflow.workstations.split(",").include?(ws.id) %>>
              </li>
            <% end %>
          </ul>
        </div>
      </td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>技师提成</td>
      <td></td>
      <td colspan="4" style="text-align:left;">
        提成方案
        <select style="width:190px;" disabled="">
          <option></option>
          <% @commission_templates.each do |ct| %>
            <option <%= 'selected' if @service.regular? && @workflow.engineer_commission_template_id == ct.id %>><%= ct.name %></option>
          <% end %>
        </select>
      </td>
    </tr>
  </tbody>
</table>
</div>

