<div class="process_setting setting_right float-right">
  <h2>
    <label>按流程设置</label>
    <input type="radio" name="service_setting_select" id="service_process_setting_sel" class="margin-left-8 margin-top-0 " <%= 'checked' if @service.workflow? %> disabled="">
  </h2>
  <div class="new_process setting_right float-right" style="<%= 'display:block;' if @service.workflow? %>">
    <ul class="items_head">
      <li>#</li>
      <li>流程名称</li>
      <li>技师数量</li>
      <li>技师级别</li>
      <li>施工时间</li>
      <li>工位设置</li>
      <li>提成</li>
    </ul>
    <div class="do_new_lists_content">
      <% @service.store_service_workflows.each_with_index do |w, index| %>
        <ul class="items_content">
        <li><%= index + 1 %>.</li>
        <li><label class="show" data-id="<%= w.id %>"><%= w.name %></label></li>
        <li><%= w.engineer_count %></li>
        <li><%= w.engineer_level_name %></li>
        <li><%= w.standard_time %></li>
        <li>不限</li>
        <li>
        <span>班组计件</span>
        </li>
      </ul>
    <% end %>
    </div>
  </div>

  <div class="new_process_details new_items_details do_list_new_page" id="workflow_form" >

  </div>

</div>

