
<%= form_for @service, url: [:xiaoshou, :service, :setting], method: :put, html: {id: 'update_store_service'}  do |f| %>
  <%= f.hidden_field :id, value: @service.id %>
  <div class="main_top">
    <h2>服务设置详情</h2>
    <span class="add_span">+</span>
  </div>

  <div class="details">
    <div class="top_content records">
      <%= render 'xiaoshou/service/shares/summary' %>
    </div>

    <%= render 'xiaoshou/service/shares/nav' %>

    <div class="details_content">
      <%= render 'base_info' %>

      <div class="settings_in_service settings_in_sales">
        <%= render 'general', f: f %>

        <%= render 'workflow', f: f %>
      </div>

      <div class="btn_group">
        <%= f.submit "保存", class: 'save_btn btn margin-right-2 do_link_to_service_tracking' %>
      </div>
    </div>
  </div>
<% end %>

<%= content_tag :div, '', id: 'bootstrap', data: {service: json_for(@service)} %>

<% content_for :javascripts do %>
  <script type="text/javascript" charset="utf-8">
    $(function(){
      var model = new Mis.Models.StoreService($('#bootstrap').data('service').store_service);
      new Mis.Views.XiaoshouServiceSettingsEdit({model: model});
    })
  </script>
<% end %>
