<% content_for :pre_assets do %>
  <%= stylesheet_link_tag "/stylesheets/xiaoshou.css" %>
<% end %>

<div class="main_top">
  <h2>服务项目详情</h2>
  <span class="add_span">+</span>
</div>

<div class="details">
  <div class="top_content records">
    <%= render 'xiaoshou/service/shares/summary' %>
  </div>

  <%= render 'xiaoshou/service/shares/nav' %>

  <div class="details_content">
    <%= render 'base_info' %>

    <div class="settings_in_service settings_in_sales">
      <%= render 'regular_setting' %>

      <%= render 'workflow_setting' %>
    </div>

    <div class="btn_group">
      <a href="javascript:void(0);" class="edit_btn btn margin-right-2">编辑</a>
    </div>

  </div>
</div>

<script type="text/javascript" charset="utf-8">
$("label.show").click(function(){
  var service_id = "<%= @service.id %>";
  var workflow_id = $(this).data("id");
  var url = "/xiaoshou/service/settings/" + service_id + "/workflows/" + workflow_id;
  $.get(url, function(){})
})

$(document).on('click', '.hideForm', function(){
  $("#workflow_form").hide();
})
</script>
