<% content_for :pre_assets do %>
  <%= javascript_include_tag 'kucun/material_orders/new' %>
<% end %>

<div class="main_top">
  <h2>订货</h2>
  <span class="add_span">+</span>
</div>
<div class="details">
  <%= render partial: 'tabtop' %>
  <%= render partial: 'kucun/store_suppliers/nav' -%>
  <div class="details_nav_second">
    <ul class="goods_nav">
      <li><a href="#" class="width-90">▲上一件商品</a></li>
      <li><a href="#" class="width-90">▼下一件商品</a></li>
      <li ><a href="index.html" class="width-90">返回列表</a></li>
    </ul>
  </div>
  <div class="details_content">
      <div class=" common_storage_content margin-bottom-50">
      <%= form_tag "/kucun/material_orders/" do %>
        <div class="ordergoods_query">
          <div class="nav-item-query">
            <label>供应商：</label>
            <input type="text" class="width-200" readonly="true" value="<%= @store_supplier.name %>">
            <input type="hidden" name="store_supplier_id" value="<%= @store_supplier.id %>">
          </div>
          <div class="nav-item-query ">
            <label>时间：</label>
            <input type="text" class="width-135" readonly="true" value="<%= Time.now.strftime('%Y-%m-%d %H:%M') %>">
          </div>
          <div class="nav-item-query">
            <label>单号：</label>
            <input type="text" class="width-135" readonly="true" value="<%= x=Time.now; x.strftime('%Y%m%d%H%M%S') + ((x.to_f - x.to_i) * 100_0000).to_i.to_s(36).rjust(5, '0').upcase %>">
          </div>
          <div class="ordergoods_print">
            <a href="#" class="print_btn">打&nbsp;&nbsp;&nbsp;印</a>
            <a href="#" class="print_barcode_btn">打印条码</a>
          </div>
        </div>
        <%= render partial: 'form' %>
        <div class="order_goods_account">
          <div class="item_content margin-left-10">
            <label class="width-75 margin-top-10 ">备注：</label>
            <textarea class="remarks_textarea width-1251"></textarea>
          </div>
          <div class="item_content margin-top-10  margin-left-10 float-left">
            <label class="width-75">本次付款：</label>
            <input type="text" class="width-253 ">
          </div>
          <div class="item_content margin-top-10 float-left  margin-left-20">
            <label class="width-75 ">结算账户： </label>
            <input type="text" class="width-253 " value="<%= @store_supplier.clearing_account %>" readonly=true>
          </div>
          <div class="item_content margin-top-10  margin-left-20">
            <label  class="width-75">本次欠款：</label>
            <input type="text" class="width-253" readonly=true>
          </div>
          <div class="item_content  margin-left-10">
            <label class="width-75">制单人：</label>
            <label class="width-253"><%= current_user.screen_name %></label>
          </div>
        </div>
        <div class="btn_group margin-right-20">
          <a class="edit_btn" href="#" >取消</a>
          <input type='submit' class="save_btn btn" value='保存' />
        </div>
      <% end %>
      </div>
  </div>
</div>
<% content_for :scenes do %>
  <%= render partial: 'material_form' %>
  <%= render partial: 'choose_goods' %>
<% end %>

<% content_for :javascripts do %>
  <script>
    jQuery(function(){
      $('#storage_tab').on('keypress', 'input[type=number]', function(evt){
        if(evt.keyCode != 46 && (evt.keyCode < 48 || evt.keyCode > 57)){
          return false;
        }
        if(evt.keyCode == 46 && (/\.+/).test(this.value)){
          return false;
        }
      });
      new_order_view = new $$MIS.NewMaterialOrderView({
        el: $("#content")
      });
    });
  </script>

  <script>
 jQuery(function($) {
   $( "input.autocomplete" ).autocomplete({
     source: function( request, response ) {
       $.ajax({
         url: "/kucun/materials/autocomplete_name",
         dataType: "jsonp",
         data: {
           q: request.term
         },
         success: function( data ) {
           response( data );
         }
       });
     },
     minLength: 3,
     select: function( event, ui ) {
       console.log( ui.item ?
         "Selected: " + ui.item.label :
         "Nothing selected, input was " + this.value);
     },
     open: function() {
       $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
     },
     close: function() {
       $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
     }
   });
 });
 </script>
<% end %>
