<% content_for :pre_assets do %>
  <%= javascript_include_tag 'kucun/material_orders/new' %>
<% end %>

<div class="main_top">
        <h2>订货</h2>
        <span class="add_span">+</span>
      </div>
      <div class="details">
        <div class="content_tab_top">
          <table cellpadding="0" cellspacing="0" width="100%" class="top_tab">
            <colgroup>
              <col width="14.28%">
              <col width="14.28%">
              <col width="14.28%">
              <col width="14.28%">
              <col width="14.28%">
              <col width="14.28%">
              <col width="14.28%">
            </colgroup>
            <tbody>
              <tr  class="height-50">
                <td class="border-right">
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class="text-align-left"><a href="#">商品总数量</a>
                        <span   class="num_color font-24  tab_span ">86</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="border-right">
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class=" text-align-left"><a href="#">数量最多商品</a>
                        <span class="num_color  tab_span font-14 float-right">74位</span>
                      </td>
                    </tr>
                    <tr>
                      <td class=" text-align-left"><a href="#">金额最大商品</a>
                        <span class="num_color  tab_span font-14 float-right">12位</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="border-right">
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class=" text-align-left"><a href="#">出库量最多</a>
                        <span class="num_color  tab_span font-14 float-right">74位</span>
                      </td>
                    </tr>
                    <tr>
                      <td class=" text-align-left"><a href="#">出库量最少</a>
                        <span class="num_color  tab_span font-14 float-right">12位</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="border-right">
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class=" text-align-left"><a href="#">库龄最短</a>
                        <span class="num_color  tab_span font-14 float-right">74位</span>
                      </td>
                    </tr>
                    <tr>
                      <td class=" text-align-left"><a href="#">库龄最长</a>
                        <span class="num_color  tab_span font-14 float-right">12位</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="border-right">
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class=" text-align-left"><a href="#">销售最多</a>
                        <span class="num_color  tab_span font-14 float-right">74位</span>
                      </td>
                    </tr>
                    <tr>
                      <td class=" text-align-left"><a href="#">两用最多</a>
                        <span class="num_color  tab_span font-14 float-right">12位</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td class="border-right">
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class="text-align-left"><a href="#">需回访客户</a>
                        <span class="num_color  tab_span font-14 float-right">74位</span>
                      </td>
                    </tr>
                    <tr>
                      <td class=" text-align-left"><a href="#">已回访客户</a>
                        <span class="num_color  tab_span font-14 float-right">11位</span>
                      </td>
                    </tr>
                  </table>
                </td>
                <td >
                  <table cellpadding="0" cellspacing="0" class="in_tab">
                    <tr>
                      <td class=" text-align-right"><a href="#">商品总金额</a>
                        <span class="num_color text-align-right font-24 tab_span">22,8677</span>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="details_nav">
          <ul>
            <li><a href="gongyingshangxinxishow.html" class="width-90">供应商信息</a></li>
            <li class="bg-color-fff"><a href="dinghuo.html" class="width-90">订货</a></li>
            <li><a href="jilu.html"  class="width-90">记录</a></li>
            <li ><a href="pinggu.html" class="width-90">评估</a></li>
          </ul>
        </div>
        <div class="details_nav_second">
          <ul class="goods_nav">
            <li><a href="#" class="width-90">▲上一件商品</a></li>
            <li><a href="#" class="width-90">▼下一件商品</a></li>
            <li ><a href="index.html" class="width-90">返回列表</a></li>
          </ul>
        </div>
        <div class="details_content">
            <div class=" common_storage_content margin-bottom-50">
            <%= form_tag "/kucun/material_orders/" do %>
              <div class="ordergoods_query">
                <div class="pure-control-group">
                  <label>供应商：</label>
                  <input type="text" class="width-200" readonly="true" value="<%= @supplier.name %>">
                </div>
                <div class="pure-control-group ">
                  <label>时间：</label>
                  <input type="text" class="width-135" readonly="true" value="<%= Time.now.strftime('%Y-%m-%d %H:%M') %>">
                </div>
                <div class="pure-control-group">
                  <label>单号：</label>
                  <input type="text" class="width-135" readonly="true" value="<%= x=Time.now; x.strftime('%Y%m%d%H%M%S') + ((x.to_f - x.to_i) * 100_0000).to_i.to_s(36).rjust(5, '0').upcase %>">
                </div>
                <div class="ordergoods_print">
                  <a href="#" class="print_btn">打&nbsp;&nbsp;&nbsp;印</a>
                  <a href="#" class="print_barcode_btn">打印条码</a>
                </div>
              </div>
              <div class=" order_goods_tab common_storage_tab">
                <table cellpadding="0" cellspacing="0" id="storage_tab" class="storage_tab">
                  <thead>
                    <tr class="bg-color-e0e2cf color-282726">
                      <th width="3%">#</th>
                      <th width="18%" >商品名称</th>
                      <th  width="8%" >条码</th>
                      <th  width="8%" >规格</th>
                      <th width="4%" >单位</th>
                      <th  width="7%" >一级分类</th>
                      <th  width="7%">二级分类</th>
                      <th width="7%">单价</th>
                      <th width="5%" >数量</th>
                      <th  width="8%">小计</th>
                      <th width="6%">仓库</th>
                      <th  width="15%">备注</th>
                      <th width="4%"> 操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="delete">
                      <td class="number"></td>
                      <td >
                        <div class="text_div">
                          <input type="text" >
                          <span class="add bg-color-fff">...</span>
                        </div>
                      </td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td style="text-align:center"><i class="lnr lnr-cross-circle font-18"></i></td>
                    </tr>

                    <tr>
                      <td></td>
                      <td class="font-weight-bold text-align-left text-indent-10">合计:</td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td class="font-weight-bold">8</td>
                      <td class="font-weight-bold text-align-left text-indent-10">5,400.00</td>
                      <td></td>
                      <td></td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="order_goods_account">
                <div class="item_content margin-left-10">
                  <label class="width-75 margin-top-10 ">备注：</label>
                  <textarea class="remarks_textarea width-1251"></textarea>
                </div>
                <div class="item_content margin-top-10  margin-left-10 float-left">
                  <label class="width-75">本次付款：</label>
                  <input type="text" class="width-253 ">
                </div>
                <div class="item_content margin-top-10 float-left  margin-left-20">
                  <label class="width-75 ">结算账户：</label>
                  <input type="text" class="width-253 ">
                </div>
                <div class="item_content margin-top-10  margin-left-20">
                  <label  class="width-75">本次欠款：</label>
                  <input type="text" class="width-253">
                </div>
                <div class="item_content  margin-left-10">
                  <label class="width-75">制单人：</label>
                  <label class="width-253"><%= current_user.screen_name %></label>
                </div>
              </div>
              <div class="btn_group margin-right-20">
                <a class="edit_btn" href="#" >取消</a>
                <input type='submit' class="save_btn btn" value='保存' />
              </div>
            <% end %>
            </div>
        </div>

      </div>


<% content_for :scenes do %>

<div  class="popup_box" id="pop_new_material"  >
  <span class="verticalAlign"></span>
  <div class="new_products">
    <div class="new_products_inner">
      <div class="top">
        <span class="float-left" >新建商品</span>
        <span class="font-28 float-right padding-right-10 cursor doclose" id="close_02">×</span>
      </div>
      <div class="new_product_content">
        <form>
          <div class="item_content">
            <label class="width-75">商品名称</label>
            <input type="text" class="width-165" placeholder="请输入名称">
          </div>
          <div class="item_content">
            <label class="width-75">条形码</label>
            <input type="text" class="width-165" placeholder="若不填则系统自动生成">
          </div>
          <div class="item_content">
            <label class="width-75">助记码</label>
            <input type="text" class="width-165">
          </div>
          <div class="item_content">
            <label class="width-75">商品规格</label>
            <input type="text" class="width-165">
          </div>
          <div class="item_content">
            <label class="width-75">成本价</label>
            <input type="text" class="width-165" placeholder="输入成本价会影响原成本价 ">
          </div>
          <div class="item_content">
            <label class="width-75">最低售价</label>
            <input type="text" class="width-165">
          </div>
          <div class="item_content">
            <label class="width-75">一级分类</label>
            <select  class="width-167">
              <option selected="selected">美容</option>
              <option>配件</option>
              <option>套装</option>
              <option>耗材</option>
              <option>工具</option>
            </select>
          </div>
          <div class="item_content">
            <label class="width-75">二级分类</label>
            <select  class="width-167">
              <option selected="selected">请选择</option>
              <option>汽车膜</option>
              <option>镀晶</option>
            </select>
          </div>

          <div class="item_content">
            <label class="width-75">商品单位</label>
            <select class="width-167">
              <option selected="selected">请选择</option>
              <option>平方米</option>
              <option>个</option>
              <option>盒</option>
              <option>瓶</option>
              <option>条</option>
            </select>
          </div>
          <div class="item_content">
            <label class="width-75">商品品牌</label>
            <select class="width-167">
              <option selected="selected">请选择</option>
              <option>澳大利亚卡古</option>
              <option>米其林</option>
              <option>澜泰</option>
              <option>巴尔扎克</option>
              <option>途乐</option>
            </select>
          </div>
          <div class="item_content">
            <label class="width-75">生产单位</label>
            <select class="width-167">
              <option selected="selected">请选择</option>
              <option>天津卡吉</option>
              <option>杭州米其林</option>
              <option>杭州澜泰</option>
              <option>米其林进口</option>
              <option>杭州雪兰</option>
              <option>杭州鼎洪</option>
            </select>
          </div>
          <div class="item_content outline item_property text-align-left margin-left-54">
            <label class="width-75">商品属性</label>
            <input type="checkbox" checked="checked" class="margin-left-15"><label>自用</label>
            <input type="checkbox" class="margin-left-26" ><label >销售</label>
          </div>


          <div class="item_content outline item_inventory margin-left-106">
            <label class="width-80  font-weight-bold">
              <input type="radio"  class="toggleable width-13" data-target="inventory" data-checked>
              库存预警：
            </label>
            <div class="display-inline-block width-155 text-align-center">
              <label>数量上限</label>
              <input data-id="inventory" disabled="true" type="text" class="width-80" required="true">
            </div>
            <div class="display-inline-block width-155 text-align-center">
              <label>数量下限</label>
              <input data-id="inventory" disabled="true" type="text" class="width-80" required="true">
            </div>
          </div>

          <div class="item_content outline shelf_life margin-left-50">
            <input type="radio" class="toggleable width-13" data-target="shelf_life" data-checked>
            <label class="">保质期提醒</label>
            <div class="input_div">
              <input type="text" class="width-50 border-none" data-id="shelf_life" disabled="disabled" required="true">
              <label>天</label>
            </div>
          </div>

          <div class="item_textarea ">
            <label class="width-75">备注</label>
            <textarea class="textarea-width  text-indent-5  width-976"></textarea>
          </div>
      </form>
      </div>
      <div class="btn_group">
        <a href="#" class="cancel_btn btn">取消</a>
        <input type="submit"  value="保存" class="save_btn btn" id="save">
      </div>
    </div>
  </div>
</div>

<div class="popup_box" id="pop_choose_goods">
  <span class="verticalAlign"></span>
  <div   class="choose_ordergoods" >
    <div class="top">
      <span class="float-left">选择商品</span>
      <span class="font-28 float-right padding-right-10 cursor doclose" >×</span>
    </div>
    <div class="title">
      <span class="font-20 float-left first_title">选择订货商品</span>
      <span class="second_title">
          如果供应商关联的商品不在列表内，请通过类别下拉菜单进行选择类别查询，如果还是没有，请点击新建按钮，添加新商品
          <a class="new_btn float-right btn margin-top-10 dobtn">新建商品</a>
      </span>
    </div>
    <div class="ordergoods_content" >
      <div class="order_list">
        <div class="list">
          <div class="list_top list_tr border-none">
            <ul>
              <li class="first_td" >
                <span class="do_see_search cursor">商品</span>
                <div class="select_ordergoods_div">
                  <input type="text" required class="keyword autocomplete width-165"  placeholder="查找产品">
                  <a href="#" class="search_btn btn">查找</a>
                </div>
              </li>
              <li class="second_td" >条 码</li>
              <li class="third_td" >规格</li>
              <li class="forth_td">
                <select class="width-60 top_select">
                  <option>类别</option>
                  <option>类别</option>
                  <option>类别</option>
                </select>
              </li>
              <li class="fifth_td border-none">操作</li>
            </ul>
          </div>

          <div class="material_list">
          </div>
        </div>
      </div>
      <div class="popup_order_foot">
        <a href="#" class="cancel_btn btn margin-top-10">取消</a>
        <input type="submit" value="选中" class="save_btn btn" id="pitch_on">
      </div>
    </div>
  </div>
</div>

<% end %>
<% content_for :javascripts do %>
  <script>
    jQuery(function(){
      var $pop_choose_goods = $('#pop_choose_goods');
      var $pop_new_material =  $("#pop_new_material");
      var pop_new_material_form = $("#pop_new_material form")[0];
      $("#storage_tab").on("click", 'span.add', function(event){
        $pop_choose_goods.show();
      });

      $pop_choose_goods.on("click", '.new_btn', function(event){
        $pop_new_material.show();
        $pop_choose_goods.hide();
      });

      $pop_choose_goods.on("click", '.doclose,.cancel_btn', function(event){
        $pop_choose_goods.hide();
      });

      $pop_new_material.on("click", '.doclose,.cancel_btn', function(event){
        pop_new_material_form.reset();
        $pop_new_material.hide();
        $pop_choose_goods.show();
      });
      $pop_choose_goods.on('mouseover', 'span.do_see_search', function(){
        this.className="cursor do_hide_search";
        $pop_choose_goods.find("li.first_td").addClass('see_search');
      });

      var tmp = _.template('<div class="list_content list_tr"><ul><li class="first_td">{%= name %}</li><li class="second_td">{%= barcode %}</li><li class="third_td"> {%= speci %} </li><li class="forth_td">{%= store_material_category_id %}</li><li class="fifth_td border-none"><input data-materialid={%= id %} type="checkbox" class="checkbox"></li></ul></div>');

      $pop_choose_goods.on('click', '.search_btn', function(){
        var keyword = $pop_choose_goods.find('input.keyword')[0];
        if(!keyword.value.trim()){
          keyword.setCustomValidity("please input keyword");
          alert("please input keyword");
          return false;
        }
        $.ajax({
          url: "/kucun/materials",
          dataType: 'json',
          data: {
            keyword: keyword.value.trim()
          },
          success: function(data){
            var ms = data.map(function(d){
              return tmp(d);
            });
            $pop_choose_goods.find("div.material_list").html(ms.join(''));

          }
        });/**END OF ajax*/
        $pop_choose_goods.find(".do_hide_search")[0].className="cursor do_see_search";
        $pop_choose_goods.find("li.first_td").removeClass('see_search');

      });

      var mtmp = _.template('<tr><td class="number">1 <input type="hidden" name="order[][material_id]" value="{%= id %}"> </td><td><div class="text_div"><input type="text" value="澜泰纳米镀晶宾御套餐"><span class="add bg-color-fff">...</span></div></td><td>887766555444</td><td>长皮盒6项目</td><td>套</td><td>美容产品</td><td>镀晶产品</td><td><input type="text" name="order[][material_price]" value=""></td><td>8</td><td>5,440.00</td><td>未付款</td><td></td><td style="text-align:center"><i class="lnr lnr-cross-circle font-18"></i></td></tr>');

      $pop_choose_goods.on('click', '.save_btn', function(){

        var s = $pop_choose_goods.find('input[type="checkbox"]:checked').toArray().map(function(el){return mtmp({id: el.dataset.materialid})}).join('');
        $('#storage_tab .delete:first').before(s);
        $pop_choose_goods.hide();
      });
    });
  </script>


  <script>
 jQuery(function($) {
   $( "input.autocomplete" ).autocomplete({
     source: function( request, response ) {
       $.ajax({
         url: "/kucun/materials/autocomplete_name",
         dataType: "jsonp",
         data: {
           q: request.term
         },
         success: function( data ) {
           response( data );
         }
       });
     },
     minLength: 3,
     select: function( event, ui ) {
       console.log( ui.item ?
         "Selected: " + ui.item.label :
         "Nothing selected, input was " + this.value);
     },
     open: function() {
       $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
     },
     close: function() {
       $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
     }
   });
 });
 </script>
<% end %>
