<% content_for :pre_assets do %>
  <%= javascript_include_tag 'kucun/material_orders/new' %>
<% end %>
<div class="main_top">
  <h2>订货</h2>
  <span class="add_span">+</span>
</div>
<div class="details">
  <div class="content_tab_top">
    <table cellpadding="0" cellspacing="0" width="100%" class="top_tab">
      <colgroup>
        <col width="14.28%">
        <col width="14.28%">
        <col width="14.28%">
        <col width="14.28%">
        <col width="14.28%">
        <col width="14.28%">
        <col width="14.28%">
      </colgroup>
      <tbody>
        <tr  style="height:50px;">
          <td class="border-right">
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class="text-align-left"><a href="#">商品总数量</a>
                  <span   class="num_color font-24  tab_span ">86</span>
                </td>
              </tr>
            </table>
          </td>
          <td class="border-right">
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class=" text-align-left"><a href="#">数量最多商品</a>
                  <span class="num_color  tab_span font-14 float-right">74位</span>
                </td>
              </tr>
              <tr>
                <td class=" text-align-left"><a href="#">金额最大商品</a>
                  <span class="num_color  tab_span font-14 float-right">12位</span>
                </td>
              </tr>
            </table>
          </td>
          <td class="border-right">
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class=" text-align-left"><a href="#">出库量最多</a>
                  <span class="num_color  tab_span font-14 float-right">74位</span>
                </td>
              </tr>
              <tr>
                <td class=" text-align-left"><a href="#">出库量最少</a>
                  <span class="num_color  tab_span font-14 float-right">12位</span>
                </td>
              </tr>
            </table>
          </td>
          <td class="border-right">
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class=" text-align-left"><a href="#">库龄最短</a>
                  <span class="num_color  tab_span font-14 float-right">74位</span>
                </td>
              </tr>
              <tr>
                <td class=" text-align-left"><a href="#">库龄最长</a>
                  <span class="num_color  tab_span font-14 float-right">12位</span>
                </td>
              </tr>
            </table>
          </td>
          <td class="border-right">
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class=" text-align-left"><a href="#">销售最多</a>
                  <span class="num_color  tab_span font-14 float-right">74位</span>
                </td>
              </tr>
              <tr>
                <td class=" text-align-left"><a href="#">两用最多</a>
                  <span class="num_color  tab_span font-14 float-right">12位</span>
                </td>
              </tr>
            </table>
          </td>
          <td class="border-right">
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class="text-align-left"><a href="#">需回访客户</a>
                  <span class="num_color  tab_span font-14 float-right">74位</span>
                </td>
              </tr>
              <tr>
                <td class=" text-align-left"><a href="#">已回访客户</a>
                  <span class="num_color  tab_span font-14 float-right">11位</span>
                </td>
              </tr>
            </table>
          </td>
          <td >
            <table cellpadding="0" cellspacing="0" class="in_tab">
              <tr>
                <td class=" text-align-right"><a href="#">商品总金额</a>
                  <span class="num_color text-align-right font-24 tab_span">22,8677</span>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="details_nav">
    <ul>
      <li><a href="#" class="width-90">供应商信息</a></li>
      <li class="bg-color-fff"><a href="#" class="width-90">订货</a></li>
      <li><a href="#"  class="width-90">记录</a></li>
      <li ><a href="#" class="width-90">评估</a></li>
    </ul>
  </div>
  <div class="details_content">
      <div class=" common_storage_content margin-bottom-50">
        <div class="ordergoods_query">
          <div class="nav-item-query">
            <label>供应商：</label>
            <input name='material[store_supplier_id]' type="hidden">
            <span id='store_supplier_id' class="width-150 as_select" data-select='#material_supplier_select' data-target='input[name="material[store_supplier_id]"]'>请选择</span>
            <div id='material_supplier_select' class="select width-165">
              <ol class='width-165'>
                <% @store.store_suppliers.each do |option| %>
                <li data-value="<%= option.id %>"><%= option.name %></li>
                <% end %>
              </ol>
              <a class='add_btn width-158 add_supplier' data-method='add_supplier' href="javascript:void(0);">新增</a>
            </div>
          </div>
          <div class="nav-item-query ">
            <label>时间：</label>
            <input type="text" class="width-135" readonly value="<%= Time.now.to_s(:date_only) %>">
          </div>
          <div class="nav-item-query">
            <label>单号：</label>
            <input type="text" class="width-135" readonly value='2015041500006' />
          </div>
          <div class="ordergoods_print">
            <a href="#" class="print_btn">打<nbsp1></nbsp1>印</a>
            <a href="#" class="print_barcode">打印条码</a>
          </div>
        </div>
        <div class="order_goods_tab common_storage_tab">
          <table cellpadding="0" cellspacing="0" id="storage_tab" class="storage_tab order_tab">
            <thead>
              <tr class="bg-color-e0e2cf color-282726">
                <th>#</th>
                <th>商品名称</th>
                <th>条码</th>
                <th>规格</th>
                <th>单位</th>
                <th>一级分类</th>
                <th>二级分类</th>
                <th>单价</th>
                <th>数量</th>
                <th>小计</th>
                <th>备注</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <% if @store_material.present? %>
                  <tr>
                    <td class="number">1</td>
                    <td>
                      <div class="text_div">
                        <input type="text" value="<%= @store_material.name %>" readonly>
                      </div>
                    </td>
                    <td><%= @store_material.barcode %></td>
                    <td><%= @store_material.speci %></td>
                    <td><%= @store_material.store_material_unit.name %></td>
                    <td><%= @store_material.store_material_root_category.name %></td>
                    <td><%= @store_material.store_material_category.name %></td>
                    <td><input type="text" value="<%= @store_material.cost_price %>" class="width-130"></td>
                    <td><input type="number" value="<%= 1 %>" class="width-50"></td>
                    <td><%= @store_material.cost_price * 1 %></td>
                    <td><input type="text" value="" class="width-160"></td>
                    <td style="text-align:center"><i class="lnr lnr-cross-circle font-18"></i></td>
                  </tr>
              <% end %>
              <tr class='handle'>
                <td class="number">1</td>
                <td>
                  <div class="text_div">
                    <input type="text" placeholder="请选择要订货的商品"  readonly>
                    <span class="bg-color-fff">...</span>
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="text-align-center"></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td></td>
                <td class="text-align-left ">合计:</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td >8</td>
                <td >5,400.00</td>
                <td></td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="order_goods_account">
          <div class="item_content margin-left-10">
            <label class="width-75 margin-top-10 ">备注：</label>
            <textarea class="remarks_textarea width-1251"></textarea>
          </div>
          <div class="item_content margin-top-10  margin-left-10 float-left">
            <label class="width-75">本次付款：</label>
            <input type="text" class="width-253">
          </div>
          <div class="item_content margin-top-10 float-left  margin-left-20">
            <label class="width-75 ">结算账户：</label>
            <input type="hidden" name="store_id" value="<%= @store.id %>">
            <input type="text" readonly class="width-253" value='<%= @store.name %>'>
          </div>
          <div class="item_content margin-top-10 margin-left-20">
            <label  class="width-75">本次欠款：</label>
            <input type="text" name='' class="width-253" value='5,400.00' readonly>
          </div>
          <div class="item_content  margin-left-10">
            <label class="width-75">制单人：</label>
            <label class="width-253"><%= current_user.screen_name %></label>
          </div>
        </div>
        <div class="btn_group margin-right-20">
          <input type="reset" class="cancel_btn" value='取消' >
          <input type="submit" class="save_btn btn" value="保存">
        </div>
      </div>
  </div>
</div>

<% content_for :scenes do %>
  <div  class="popup_box" id="pop_new_material">
    <span class="verticalAlign"></span>
    <div class="new_products">
      <div class="new_products_inner">
        <div class="top">
          <span class="float-left">新建商品</span>
          <span class="font-28 float-right padding-right-10 cursor-pointer doclose" id="close_02">×</span>
        </div>
        <div class="new_product_content">
          <form id='new_material'>
            <div class="item_content">
              <label class="width-75">商品名称</label>
              <input type="text" class="width-165" name='material[name]' placeholder="请输入名称" required="true">
            </div>
            <div class="item_content">
              <label class="width-75">条形码</label>
              <input type="text" class="width-165" name='material[barcode]' placeholder="若不填则系统自动生成">
            </div>
            <div class="item_content">
              <label class="width-75">助记码</label>
              <input type="text" name='material[mnemonic]' class="width-165">
            </div>
            <div class="item_content">
              <label class="width-75">商品规格</label>
              <input type="text" name='material[speci]' class="width-165" required="true">
            </div>
            <div class="item_content">
              <label class="width-75">成本价</label>
              <input type="text" name='material[cost_price]' class="width-165" placeholder="输入成本价会影响原成本价">
            </div>
            <div class="item_content">
              <label class="width-75">最低售价</label>
              <input type="text" name='material[min_price]' class="width-165">
            </div>

            <div class="item_content">
              <% category = @store.store_material_categories.super_categories.first || @store.store_material_categories.new(name: '请选择') %>
              <label class="width-75">一级分类</label>
              <input id='material_root_category' type="hidden" name='material[store_material_root_category_id]' value="<%= category.id %>">
              <span class="width-157 as_select" data-select='#material_root_category_select' data-target='input[name="material[store_material_root_category_id]"]'><%= category.name %></span>
              <div id='material_root_category_select' class="select width-165">
                <ol class="width-165">
                  <% @store.store_material_categories.super_categories.each do |option| %>
                  <li data-value="<%= option.id %>"><%= option.name %></li>
                  <% end %>
                </ol>
                <a class='add_btn width-158' data-method='add_root_category' href="javascript:void(0);">新增</a>
              </div>
            </div>

            <div class="item_content">
              <label class="width-75">二级分类</label>
              <input type="hidden" name='material[store_material_category_id]' value="<%= category.id %>">
              <span id='store_material_category_id' class="width-157 as_select" data-select='#material_category_select' data-target='input[name="material[store_material_category_id]"]'><%= category.name %></span>
              <div id='material_category_select' class="select width-165">
                <ol class="width-165">
                  <% category.sub_categories.each do |option| %>
                  <li data-value="<%= option.id %>"><%= option.name %></li>
                  <% end %>
                </ol>
                <a class='add_btn width-158' data-method='add_category' href="javascript:void(0);">新增</a>
              </div>
            </div>

            <div class="item_content">
              <label class="width-75">商品单位</label>
              <input type="hidden" name='material[store_material_unit_id]' value="">
              <span id='store_material_unit_id' class="width-157 as_select" data-select='#material_unit_select' data-target='input[name="material[store_material_unit_id]"]'>请选择</span>
              <div id='material_unit_select' class="select width-165">
                <ol class="width-165">
                  <% @store.store_material_units.each do |option| %>
                  <li data-value="<%= option.id %>"><%= option.name %></li>
                  <% end %>
                </ol>
                <a class='add_btn width-158' data-method='add_unit' href="javascript:void(0);">新增</a>
              </div>
            </div>

            <div class="item_content">
              <label class="width-75">商品品牌</label>
              <input name='material[store_material_brand_id]' type="hidden" value="">
              <span id='store_material_brand_id' class="width-157 as_select" data-select='#material_brand_select' data-target='input[name="material[store_material_brand_id]"]'>请选择</span>
              <div id='material_brand_select' class="select width-165">
                <ol class="width-165">
                  <% @store.store_material_brands.each do |option| %>
                  <li data-value="<%= option.id %>"><%= option.name %></li>
                  <% end %>
                </ol>
                <a class='add_btn width-158' data-method='add_brand' href="javascript:void(0);">新增</a>
              </div>
            </div>

            <div class="item_content">
              <label class="width-75">生产单位</label>
              <input name='material[store_material_manufacturer_id]' type="hidden" value="">
              <span id='store_material_manufacturer_id' class="width-157 as_select" data-select='#material_manufacturer_select' data-target='input[name="material[store_material_manufacturer_id]"]'>请选择</span>
              <div id='material_manufacturer_select' class="select width-165">
                <ol class="width-165">
                  <% @store.store_material_manufacturers.each do |option| %>
                  <li data-value="<%= option.id %>"><%= option.name %></li>
                  <% end %>
                </ol>
                <a class='add_btn width-158' data-method='add_manufacturer' href="javascript:void(0);">新增</a>
              </div>
            </div>


            <div class="item_content outline item_property text-align-left margin-left-54">
              <label class="width-75">商品属性</label>
              <input type="checkbox" name="material[permitted_to_internal]" value='1' checked="checked" class="margin-left-15"><label>自用</label>
              <input type="checkbox" name="material[permitted_to_saleable]" value="1" class="margin-left-26" ><label >销售</label>
            </div>


            <div class="item_content outline item_inventory margin-left-106">
              <label class="width-80  font-weight-bold">
                <input type="radio"  class="toggleable width-13" name='material[inventory_alarmify]' data-target="inventory" data-checked>
                库存预警：
              </label>
              <div class="display-inline-block width-155 text-align-center">
                <label>数量上限</label>
                <input data-id="inventory" name='material[max_inventory]' disabled="true" type="text" class="width-80" required="true">
              </div>
              <div class="display-inline-block width-155 text-align-center">
                <label>数量下限</label>
                <input data-id="inventory" name='material[min_inventory]' disabled="true" type="text" class="width-80" required="true">
              </div>
            </div>

            <div class="item_content outline shelf_life margin-left-50">
              <input type="radio" class="toggleable width-13" name='material[expiry_alarmify]' data-target="shelf_life" data-checked>
              <label class="">保质期提醒</label>
              <div class="input_div">
                <input type="text" name='material[shelf_life]' class="width-50 border-none" data-id="shelf_life" disabled="disabled" required="true">
                <label>天</label>
              </div>
            </div>

            <div class="item_textarea ">
              <label class="width-75">备注</label>
              <textarea name='material[remark]' class="textarea-width  text-indent-5  width-976"></textarea>
            </div>
        </form>
        </div>
        <div class="btn_group">
          <a href="#" class="cancel_btn btn">取消</a>
          <input type="submit" form='new_material' value="保存" class="save_btn btn" id="save">
        </div>
      </div>
    </div>
  </div>

  <div class="popup_box" id="pop_choose_goods">
    <span class="verticalAlign"></span>
    <div   class="choose_ordergoods" >
      <div class="top">
        <span class="float-left">选择商品</span>
        <span class="font-28 float-right padding-right-10 cursor-pointer doclose" >×</span>
      </div>
      <div class="title">
        <span class="font-20 float-left first_title">选择订货商品</span>
        <span class="second_title">
            如果供应商关联的商品不在列表内，请通过类别下拉菜单进行选择类别查询，如果还是没有，请点击新建按钮，添加新商品
            <a class="new_btn float-right btn margin-top-10 dobtn">新建商品</a>
        </span>
      </div>
      <div class="ordergoods_content" >
        <div class="order_list">
          <div class="list">
            <div class="list_top list_tr border-none">
              <ul>
                <li class="see_search first_td" >
                  <span class="do_see_search cursor-pointer">商品</span>
                  <div class="select_ordergoods_div">
                    <input type="text" required class="keyword autocomplete width-165"  placeholder="查找产品">
                    <a href="#" class="search_btn btn">查找</a>
                  </div>
                </li>
                <li class="second_td" >条 码</li>
                <li class="third_td" >规格</li>
                <li class="forth_td">
                  <select class="width-60 top_select">
                    <option>类别</option>
                    <option>类别</option>
                    <option>类别</option>
                  </select>
                </li>
                <li class="fifth_td border-none">操作</li>
              </ul>
            </div>

            <div class="material_list">
            </div>
          </div>
        </div>
        <div class="popup_order_foot">
          <a href="#" class="cancel_btn btn margin-top-10">取消</a>
          <input type="submit" value="选中" class="save_btn btn" id="pitch_on">
        </div>
      </div>
    </div>
  </div>


      <div class="window_wrap" id="new_supplier" style="display:none">
        <div class="new_supplier">
          <div class="dialog_nav">
            <span class="dialog_title ">新建供应商</span>
            <a href="#" class="dialog_close  lnr-cross lnr do_close"></a>
          </div>
          <div class="new_supplier_info">
            <table cellspacing="0" cellpadding="0">
              <tbody>
                <tr>
                  <td>
                    <label class="width-60">供应商编号</label>
                    <input type="text" class="width-250" >
                  </td>
                  <td>
                    <label class="width-75">供应商名称</label>
                    <input type="text" class="width-230" >
                  </td>
                  <td>
                    <div class="item_content">
                      <label class="width-65">联系人</label>
                      <input type="text" value="李国栋" class="width-120">
                    </div>
                    <div class="item_content">
                      <label class="width-65">手机号码</label>
                      <input type="text"  class="width-120" >
                    </div>
                  </td>
                  <td>
                    <label class="width-65">固定电话</label>
                    <input type="text"  class="width-120" >
                  </td>
                </tr>

                <tr>
                  <td>
                    <label class="width-60">国家</label>
                    <select class="width-55 margin-left-0">
                      <option>中国</option>
                      <option>美国</option>
                    </select>
                    <label class="width-25">省份</label>
                    <select class="width-68 margin-left-0">
                      <option>新疆维吾尔族</option>
                    </select>
                    <label class="width-25">市县</label>
                    <select class="width-65 margin-left-0">
                      <option></option>
                    </select>
                  </td>
                  <td>
                    <label class="width-75">地址</label>
                    <input type="text" class="width-230" placeholder="必填项" >
                  </td>
                  <td>
                    <div class="item_content">
                      <label class="width-65">助记码</label>
                      <input type="text"  class="width-120" >
                    </div>
                    <div class="item_content">
                      <label class="width-65">传真号码</label>
                      <input type="text"  class="width-120" >
                    </div>
                  </td>
                  <td>
                    <label class="width-65">Email</label>
                    <input type="text"  class="width-120" >
                  </td>
                </tr>

                <tr>
                  <td>
                    <label class="width-60">一级分类</label>
                    <input type="hidden" name='material[store_material_category_id]' value="">
                    <select class="width-92">
                      <option>美容</option>
                      <option>配件</option>
                      <option>套装</option>
                    </select>

                    <label class="width-60">二级分类</label>
                    <input type="hidden" name='material[store_material_category2_id]' value="">
                    <select class="width-93">
                      <option>美容</option>
                      <option>镀晶</option>
                      <option>打蜡</option>
                    </select>
                  </td>
                  <td>
                    <div class="item_content">
                      <label class="width-75">信息来源</label>
                      <input type="hidden" name='material[information_source_id]' value="">
                      <select class="width-83">
                        <option>上门拜访</option>
                        <option>同行推荐</option>
                        <option>网络搜索</option>
                        <option>媒体杂志</option>
                      </select>
                    </div>

                    <div class="item_content">
                      <label class="width-68">重要程度</label>
                      <input type="hidden" name='material[material_important_id]' value="">
                      <select class="width-78">
                        <option>一般</option>
                        <option>重要</option>
                        <option>非常重要</option>
                      </select>
                    </div>

                  </td>
                  <td>
                    <div class="item_content">
                      <label class="width-65">结算方式</label>
                      <input type="hidden" name='material[method_setting_account_id]' value="">
                      <select class="width-122">
                        <option>现结</option>
                        <option>挂账</option>
                      </select>
                    </div>

                    <div class="item_content">
                      <label class="width-65">结算规则</label>
                      <input type="hidden" name='material[account_circle_id]' value="">
                      <select class="width-122">
                        <option>按月</option>
                        <option>按周</option>
                      </select>
                    </div>
                  </td>
                  <td>
                      <label class="width-65">结算日</label>
                      <input type="text"  class="width-40">
                      <label class="width-75">结算提醒<input type="checkbox" class="margin-left-5 vertical-align-middle"></label>

                  </td>
                </tr>

                <tr>
                  <td>
                    <label class="width-60">开户银行</label>
                    <input type="text"  class="width-250" >
                  </td>
                  <td>
                    <label class="width-75">银行账号</label>
                    <input type="text"  class="width-230" >
                  </td>
                  <td>
                    <label class="width-65">税号</label>
                    <input type="text"  class="width-310" >
                  </td>
                  <td>
                    <label class="width-65">付款方式</label>
                    <input type="text"  class="width-120" >
                  </td>
                </tr>

              </tbody>

              <tfoot>
                <tr>
                  <td colspan="4">
                    <label class="width-60 vertical-align-top">备注</label>
                    <textarea class="width-1179 height-100 border-dbd9d9 "></textarea>
                  </td>
                </tr>
              </tfoot>
            </table>
            <div class="btn_group float-right margin-right-30 ">
              <a class="cancel_btn" href="#">取消</a>
              <a class="save_btn" href="#">保存</a>
            </div>
          </div>
        </div>
      </div>

<% end %>

<% content_for :javascripts do %>
  <script>
  jQuery(function(){
      $('#storage_tab').on('keypress', 'input[type=number]', function(evt){
        if(evt.keyCode != 46 && (evt.keyCode < 48 || evt.keyCode > 57)){
          return false;
        }
        if(evt.keyCode == 46 && (/\.+/).test(this.value)){
          return false;
        }
      });
      new_order_view = new $$MIS.NewMaterialOrderView({
        el: $("#content")
      });
    });
  </script>


  <script>
 jQuery(function($) {
   $( "input.autocomplete" ).autocomplete({
     source: function( request, response ) {
       $.ajax({
         url: "/kucun/materials/autocomplete_name",
         dataType: "jsonp",
         data: {
           q: request.term
         },
         success: function( data ) {
           response( data );
         }
       });
     },
     minLength: 3,
     select: function( event, ui ) {
       console.log( ui.item ?
         "Selected: " + ui.item.label :
         "Nothing selected, input was " + this.value);
     },
     open: function() {
       $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
     },
     close: function() {
       $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
     }
   });
 });
 </script>
<% end %>
