<div class="details_nav_second">
  <ul class="goods_nav">
    <li class='<%= "bg-color-5e3aa9" if params[:controller] == "crm/store_vehicles" %>' >
      <%= link_to '车辆信息', @vehicle.id.present? ? crm_store_customer_store_vehicle_path(@customer, @vehicle) : new_crm_store_customer_store_vehicle_path(@customer),
      class: "width-90 #{'color-fff' if params[:controller] == "crm/store_vehicles"}" %>
    </li>
    <li class='<%= "bg-color-5e3aa9" if params[:controller] == "crm/vehicle_conditions" %>' >
      <%= link_to '车辆状况', @vehicle.id.present? ? crm_store_customer_vehicle_condition_path(@customer, @vehicle) : new_crm_store_customer_store_vehicle_path(@customer),
      class: "width-90 #{'color-fff' if params[:controller] == "crm/vehicle_conditions"}" %>
    </li>
    <li class='<%= "bg-color-5e3aa9" if params[:controller] == "crm/vehicle_services" %>' >
      <%= link_to '服务记录', @vehicle.id.present? ? crm_store_customer_vehicle_service_path(@customer, @vehicle) : new_crm_store_customer_store_vehicle_path(@customer),
      class: "width-90 #{'color-fff' if params[:controller] == "crm/vehicle_services"}" %>
    </li>
  </ul>
</div>
