<tr>
  <td>
    <label class="width-75">商品名称</label>
    <span class="width-167 show_content"><%= @store_material.name %></span>
  </td>
  <td>
    <label class="width-75">条形码</label>
    <span class="width-167 show_content"><%= @store_material.barcode %></span>
  </td>
</tr>
<tr>
  <td>
    <label class="width-75">助记码</label>
    <span class="width-167 show_content"><%= @store_material.mnemonic %></span>
  </td>
  <td>
    <label class="width-75">一级分类</label>
    <span class="width-167 show_content"><%= @store_material.store_material_root_category.name %></span>
  </td>
</tr>
<tr>
  <td>
    <label class="width-75">二级分类</label>
    <span class="width-167 show_content"><%= @store_material.store_material_category.name %></span>
  </td>
  <td>
    <label class="width-75">商品品牌</label>
    <span class="width-167 show_content"><%= @store_material.store_material_brand.name %></span>
  </td>
</tr>
<tr>
  <td>
    <label class="width-75">生产单位</label>
    <span class="width-167 show_content"><%= @store_material.store_material_manufacturer.name %></span>
  </td>
  <td>
    <label class="width-75">商品规格</label>
    <span class="width-167 show_content"><%= @store_material.speci %></span>
  </td>
</tr>

<tr>
  <td>
    <label class="width-75">最低售价</label>
    <span class="width-167 show_content"><%= @store_material.min_price %></span>
  </td>
  <td>
    <label class="width-75">保质期</label>
    <span class="width-167 show_content">
      <% if @store_material.shelf_life %>
        <%= @store_material.shelf_life %> 天
      <% end %>
    </span>
  </td>
</tr>
