<div class="main_top">
  <h2>库存列表</h2>
  <span class="add_span">+</span>
</div>
<div class="details">
  <div class="content_list">
    <%= render partial: '/kucun/materials/table_head' %>
    <div class="details_nav">
        <%= render partial: '/kucun/materials/material_settings_url' %>
    </div>
    <div class="details_nav_second">
      <ul class="goods_nav">
        <li><a href="#" class="width-90">▲上一件商品</a></li>
        <li><a href="#" class="width-90">▼下一件商品</a></li>
        <li ><a href="#" class="width-90">返回列表</a></li>
      </ul>
    </div>
    <div class="details_content">
      <div class="base_info">
        <div class="goods_img">
          <div id='material_img_preview' class="goods_main_img"></div>
          <ul id='material_img_thumbnails' class="goods_small_img">
            <li id='preview_list'>
              <% @store_material.store_material_images.each do |image| %>
                <img src="<%= image.asset_path %>">
              <% end %>
            </li>
          </ul>
        </div>
        <div class=" car_content">
          <div class="pure-u-1-2 float-left">
            <table cellpadding="0" cellspacing="0" width="100%" class="car_info">
              <colgroup>
                <col width="50%">
                <col width="50%">
              </colgroup>
              <tbody>
                <tr>
                  <td>
                    <label class="width-75">商品名称</label>
                    <input type="text" class="width-165" value="<%= @store_material.name %>" readonly/>
                  </td>
                  <td>
                    <label class="width-75">条形码</label>
                    <input type="text" class="width-165" value="<%= @store_material.barcode %>" readonly/>
                 </td>
                </tr>
                <tr>
                  <td>
                    <label class="width-75">助记码</label>
                    <input type="text" class="width-165" value="<%= @store_material.mnemonic %>" readonly/>
                  </td>
                  <td>
                    <label class="width-75">一级分类</label>
                    <select  class="width-167" disabled>
                      <option selected="selected"><%=  %></option>
                    </select>
                 </td>
                </tr>
                <tr>
                  <td>
                    <label class="width-75">二级分类</label>
                    <select  class="width-167" disabled>
                      <option >请选择</option>
                      <option selected="selected">汽车膜</option>
                      <option>镀晶</option>
                    </select>
                  </td>
                  <td>
                    <label class="width-75">商品品牌</label>
                    <select class="width-167" disabled>
                      <option >请选择</option>
                      <option selected="selected" >澳大利亚卡古</option>
                      <option>米其林</option>
                      <option>澜泰</option>
                      <option>巴尔扎克</option>
                      <option>途乐</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="width-75">生产单位</label>
                    <select class="width-167" disabled>
                      <option >请选择</option>
                      <option selected="selected">天津卡吉</option>
                      <option>杭州米其林</option>
                      <option>杭州澜泰</option>
                      <option>米其林进口</option>
                      <option>杭州雪兰</option>
                      <option>杭州鼎洪</option>
                    </select>
                  </td>
                  <td>
                    <label class="width-75">商品规格</label>
                    <input type="text" class="width-165" value="白色 碳纤 3米X50米" readonly>
                  </td>
                </tr>
                <tr>
                  <td>
                    <label class="width-75">商品单位</label>
                    <select class="width-167" disabled="disabled">
                      <option >请选择</option>
                      <option selected="selected">平方米</option>
                      <option>个</option>
                      <option>盒</option>
                      <option>瓶</option>
                      <option>条</option>
                    </select>
                  </td>
                  <td>
                    <label class="width-75">成本价</label>
                    <input type="text" class="width-165"  value="20000.00" readonly>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <label class="width-75">最低售价</label>
                    <input type="text" class="width-165" value="0.0" readonly>
                  </td>
                </tr>
                <tr>
                  <td colspan="2">
                    <fieldset class="width-490 margin-left-26">
                      <legend class="margin-left-10">
                        <input type="checkbox" class="toggleable" data-target="divide_to_retail">
                        <label>回访</label>
                      </legend>
                      <ul class="margin-left-50">
                        <li>
                          <input type="radio" >
                          <label class="width-40">电话</label>
                        </li>
                        <li>
                          <input type="radio" >
                          <label class="width-40">短信</label>
                        </li>
                        <li>
                          <input type="radio" >
                          <label class="width-40">微信</label>
                        </li>
                      </ul>

                    </fieldset>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div  class="pure-u-1-2 float-left">
            <div class="visit_list" >
              <div class="top">
                <h2>回访内容列表</h2>
                <span class="new_btn btn click_btn margin-top-10 float-right cursor">创建</span>
              </div>
              <div class="none_visit_data">
                <p class="none_visit_p">当前没回访内容</p>
                <p class="none_details">
                  你可以先选择回访下拉菜单中的"是"来激活回访列表，然后点击创建来添加配套的回访内容
                </p>
              </div>
              <div class="list" id="lists">
                <div class="list_top list_tr">
                  <ul>
                    <li class="margin-left-2">#</li>
                    <li >内容</li>
                    <li >间隔时间</li>
                    <li >方式</li>
                  </ul>
                </div>
                <div class="list_content list_tr"  data-id="list_content_01">
                  <ul class=" list_tr_hover">
                    <li >1.</li>
                    <li ><label class="click_btn cursor">感谢您购买产品，在使用中.....</label></li>
                    <li >1</li>
                    <li >微信<span  class="delete close"  data-target="list_content_01">×</span></li>
                  </ul>
                </div>
                <div class="list_content list_tr "  data-id="list_content_02">
                  <ul class="list_tr_hover">
                    <li >1.</li>
                    <li ><label class="click_btn cursor">感谢您购买产品，在使用中.....</label></li>
                    <li >1</li>
                    <li >微信<span  class="delete close"  data-target="list_content_02">×</span></li>
                  </ul>
                </div>
                 <div class="list_content list_tr "  data-id="list_content_03">
                    <ul class="list_tr_hover">
                      <li >1.</li>
                      <li ><label class="click_btn cursor">感谢您购买产品，在使用中.....</label></li>
                      <li >1</li>
                      <li >微信<span  class="delete close"  data-target="list_content_03">×</span></li>
                    </ul>
                 </div>
                 <div class="list_content list_tr "  data-id="list_content_04">
                    <ul class="list_tr_hover">
                      <li >1.</li>
                      <li ><label class="click_btn cursor">感谢您购买产品，在使用中.....</label></li>
                      <li >1</li>
                      <li >微信<span  class="delete close"  data-target="list_content_04">×</span></li>
                    </ul>
                 </div>
              </div>

              <div class="add_visit" style="display:none;" id="add_visit">
                <div class=" text-align-left">
                  <label class="width-60">回访内容：</label>
                  <label class="width-75 text-align-left"> 选择内容模板</label>
                  <select class="width-265">
                    <option></option>
                    <option></option>
                  </select>
                </div>
                <div class="  text-align-left">
                  <label class="width-60">回访时间：</label>
                  <input type="checkbox" class="width-15">
                  <label class="width-60 text-align-left"> 销售后：</label>
                  <select class="width-60">
                    <option></option>
                    <option></option>
                  </select>
                  <label class="width-30 ">小时</label>
                  <input type="checkbox" class="width-13 text-align-right margin-left-9">
                  <label class="width-80 text-align-left">上次回访后：</label>
                  <select class="width-55">
                    <option></option>
                    <option></option>
                  </select>
                </div>
                <div class=" text-align-left ">
                  <label class="width-60">回访方式：</label>
                  <label class="width-75 text-align-left"> 下拉选择</label>
                  <select class="width-120">
                    <option></option>
                    <option></option>
                  </select>
                </div>
                <div class=" text-align-left float-right   pure-u-2-2 model">
                  <textarea > </textarea>
                  <div>
                    <label>保存为模板</label>
                    <input type="checkbox">
                  </div>
                </div>
                <div class="btn_group margin-right-22">
                  <input type="reset"  value="取消" class=" btn cancel_btn cancel" >
                  <input type="submit"  value="保存" class="btn save_btn add_cancel" >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <form action="huifangshow.html" method="get" class="btn_group">
        <input type="submit" class="btn save_btn" value="保存" >
      </form>
    </div>
  </div>
</div>
