<% content_for :pre_assets do %>
  <%= stylesheet_link_tag "/stylesheets/kehu.css" %>
<% end %>

<%= render '/crm/common/page_head' %>

<div class="details">

  <%= render '/crm/common/customer_nav' %>

  <div class="car_details float-right">

    <%= render '/crm/common/vehicle_nav' %>

    <%= render '/crm/common/sub_nav' %>

    <div class="details_content car_content">
      <div class="base_info">

        <%= render '/crm/common/vehicle_image' %>

        <div class="car_info float-left">
          <div class="items">
            <%= render '/crm/common/vehicle_basic' %>
          </div>
        </div>
      </div>

      <div class="car_list">
        <dl>
          <dt>#</dt>
          <dt>时间</dt>
          <dt>业务单号</dt>
          <dt>开单</dt>
          <dt>施工</dt>
          <dt>项目&产品</dt>
          <dt>单价</dt>
          <dt>数量</dt>
          <dt>优惠</dt>
          <dt>小计</dt>
          <dt>操作</dt>
        </dl>
        <div class="car_sercice_record">
          <div class="item_car_service_record_wrapper">
            <div class="items_car_service_records">
              <div class="item_car_service_record">
                <label class="label_td ">1</label>
                <label class="label_td">2014-8-07</label>
                <label class="label_td">20140807100001</label>
                <label class="label_td">黄丽丽</label>
                <div class="item_construction">
                  <table cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td><label>王晓勇</label><label>李明亮</label></td>
                        <td>
                          <ul>
                            <li>常规保养</li>
                            <li>60.00</li>
                            <li>1</li>
                            <li>0</li>
                            <li>60.00</li>
                          </ul>
                          <ul>
                            <li>实多磁护机油OW-40</li>
                            <li>285.00</li>
                            <li>1</li>
                            <li>0</li>
                            <li>285.00</li>
                          </ul>
                          <ul>
                            <li>宝马5系原厂机滤</li>
                            <li>85.00</li>
                            <li>1</li>
                            <li>0</li>
                            <li>85.00</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="item_construction">
                  <table cellpadding="0" cellspacing="0">
                    <tbody>
                      <tr>
                        <td><label>冷造</label><label>陶冬易</label></td>
                        <td>
                          <ul>
                            <li>3M水晶蜡</li>
                            <li>160.00</li>
                            <li>1</li>
                            <li>0</li>
                            <li>160.00</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="get_order text-align-center ">
              <a href="/mis/xiaoshou/fuwu/jilu.html" class="order_btn">查看单据</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
