<input type="hidden" id="count" value="<%= @count%>">
<% @orders.each do |order| %>
  <div class="order_item slide_up" id="js-order-<%= order.id%>" >
    <%= render 'basic_info', order: order %>
    <table class="detail" id="js-detail-<%= order.id%>" >
      <%= render 'dialog_info', order:order %>
    </table>
  </div>
<% end %>
