<%= render '/crm/common/page_head' %>

<div class="details">
<%= render 'crm/common/customer_nav' %>

  <div class="details_content">
    <div class="panel_tab">
      <ul class="tab_items">
        <%= render 'repayment_nav' %>
      </ul>
    </div>
    <%= notice %>

    <div class="content customer_account">
      <input type="hidden" id="action" value="<%= @action %>">
      <div class="panel_query">
        <%= search_form_for @q , url: crm_store_customer_store_repayments_path(@customer), class: 'float-left' do  -%>
          <%= render 'search_form' %>
        <% end %>
      </div>

      <div class="orders" id='js-orders'>
        <%= render 'all_info' %>
      </div>
      <input type="hidden" id="js-current-page" value="<%= @current_page %>">
      <%= render 'link_more_info' if @current_page < @orders.total_pages %>
    </div>
  </div>
</div>
