<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
  <title>MIS-<% if content_for?(:title) %><%= yield :title %><% else %><%= I18n.t 'site.name' %><% end %></title>
  <%= stylesheet_link_tag    'advancev1_layout', media: 'all' %>
  <%= javascript_include_tag 'application', 'home' %>
  <%= yield :pre_assets %>
</head>
<body>
  
  <%= render "/layouts/header" %>
  <%= render "/layouts/menu" %>

<main>
  <%= yield %>
  <%= yield :javascripts %>
</main>
</body>
</html>
