<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <title>MIS-<% if content_for?(:title) %><%= yield :title %><% else %><%= I18n.t 'site.name' %><% end %></title>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>

  <%= include_javascript_by_namespace %>
  <%= yield :pre_assets %>
</head>
<body>
  <%= render "/layouts/header" %>
  <%= render "/layouts/menu" %>

  <main id="main">
    <div class="content" id="content">
      <%= yield %>
    </div>
  </main>

  <%= yield :scenes %>
  <%= yield :javascripts %>
</body>
</html>
