<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MIS-<% if content_for?(:title) %><%= yield :title %><% else %><%= I18n.t 'site.name' %><% end %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <% if controller_namespace(params).present? %>
    <%= stylesheet_link_tag "#{controller_namespace(params)}" %>
  <% end %>

  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <%= yield :pre_assets %>
</head>
<body>
  <header class="header">
    <nav class="nav">
      <div class="top">
        <div class='nav_top_left top_left'>
          <i id='menutoggle' class="fa fa-list curcor_hand"></i>
        </div>
          <div class="top_center">
            <input class="input_query">
          </div>
          <div class="nav_top_right top_right">
            <ul class="nav_right">
              <li><i class="fa fa-comment"></i></li>
              <li><i class="fa fa-th"></i></li>
              <li><i class="fa fa-clock-o"></i></li>
              <li><i class="fa fa-user"></i></li>
            </ul>
          </div>
      </div>
    </nav>
  </header>

  <menu id="start_menu">
    <ul id='primary'>
      <% Menu.menu_for_staff(current_user).each do |menu| %>
        <li class='<%= is_hover(nil, menu[:shortcut]) %>'>
          <a href="#<%= menu[:shortcut] %>"><i class="fa <%= menu[:icon] %>"></i></a>
        </li>
      <% end %>
    </ul>
    <div id='submenus' class='float-left'>
      <% Menu.menu_for_staff(current_user).each do |menu| %>
      <div id='<%= menu[:shortcut] %>' class="submenu <%= is_hover(nil, menu[:shortcut]) %>">
        <h4><%= menu[:name] %></h4>
        <ul>
          <% menu[:second_menu].each do |sec_menu| %>
            <li class="<%= is_hover(sec_menu[:controller], menu[:shortcut], action_name: sec_menu[:action]) %>">
              <a href="<%= sec_menu[:href] %>"><%= sec_menu[:name] %></a>
            </li>
          <% end %>
        </ul>
      </div>
      <% end %>
    </div>
  </menu>

  <div id="main">
    <div class="content"  id="content">
      <div id='container'>
        <%= yield %>
      </div>
    </div>
  </div>
  
  <%= yield :javascripts %>
</body>
</html>
