<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <title>MIS-<% if content_for?(:title) %><%= yield :title %><% else %><%= I18n.t 'site.name' %><% end %></title>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= javascript_include_tag 'application' %>

  <%= include_javascript_by_namespace %>
  <%= yield :pre_assets %>
</head>
<body>
  <header class="header">
    <nav class="nav">
      <div class="top">
        <div class='nav_top_left top_left'>
          <i id='menutoggle' class="fa fa-list curcor_hand"></i>
        </div>

        <a href="#" class="nav_top_center">
          <img src="" alt="">
          <span class="user-info">你好,汪盈盈！</span>
          <span class="date">
            <i class="fa fa-calendar "></i>
            2016年05月10日 14:54
          </span>
        </a>

        <div class="nav_top_right top_right">
          <ul class="nav_right">
              <li> <a href="javascript:void(0)"> <i class="icon icon-bubble-o"></i></a></li>
            <li> <a href="/"> <i class="icon icon-th"></i></a></li>
            <li>
              <a href="javascript:void(0)">
                <i class="icon icon-user-o"></i>
                <span></span>
              </a>
              <ul class="dropdown_menu list-group">
                <li>
                  <%= link_to '修改密码', new_password_path %>
                </li>
                <li>
                  <%= link_to "退出登录", session_path, method: :delete %>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>

  <menu style="display: none;" id="start_menu">
    <%= render "/layouts/menu" %>
  </menu>

  <main id="main">
    <div class="content" id="content">
      <%= yield %>
    </div>
  </main>

  <%= yield :scenes %>
  <%= yield :javascripts %>
</body>
</html>
