<!DOCTYPE html>
<html>
<head>
  <title>MIS</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div><%= form_tag('/session', method: 'delete', style: 'display: inline;') do %> <input title="Click to logout" type='submit' value='Logout' /> <% end %></div>
<%= yield %>

</body>
</html>
