<!DOCTYPE html>
<html>
<head>
  <title>MIS-<% if content_for?(:title) %><%= yield :title %><% else %><%= I18n.t 'site.name' %><% end %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="notice">You're required to login!</div>
<%if flash[:error].present? %>
<div id="error_explanation">
  <%= flash[:error] %>
</div>
<% end %>
<%= yield %>

</body>
</html>
