<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
  <title>MIS-<% if content_for?(:title) %><%= yield :title %><% else %><%= I18n.t 'site.name' %><% end %></title>
  <%= javascript_include_tag 'tiny' %>
  <%= yield :pre_assets %>
</head>
<body>
  <%if flash[:notice].present? %><div id="notice"><%= flash[:notice] %></div><% end %>
  <%if flash[:error].present? %><div id="error_explanation"><%= flash[:error] %></div><% end %>
<main>
  <%= yield %>
  <%= yield :javascripts %>
</main>
</body>
</html>
